<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;Trademark opposition</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>Trademark opposition</span>
                            <span class="pull-right"> Rs. {{price}}</span>
                    </h3>
                      
                        <p>
                            A ‘Trademark opposition’ means an objection filed by third parties, against registration of
                            a trademark within 4 months of the advertisement of the trademark to be opposed. Any person,
                            natural or legal, may file an opposition with the Registry. This includes any individual
                            person(s), companies, partnership firm(s) and trust(s). Notably, the person filing the
                            opposition need not have any commercial interest in the matter or a prior registered
                            trademark in the Registry.
                        </p>
                        <ul class="custom_list">
                            <li>Following are the grounds under which an opposition may be filed:</li>
                        </ul>
                        <ul class="custom_icon_list">
                            <li>The mark which is devoid of any distinctive characteristic or includes indications which
                                may serve in trade to designate quality, quantity, intended purpose, values,
                                geographical origin or the time of production.</li>
                            <li>The mark is likely to deceive the public or cause confusion. This includes any mark
                                which may be identified with an already registered trademark or that have become
                                customary in the practice of trade.</li>
                            <li>The mark contain matters which are likely to hurt the religious sentiments of any class
                                or section of people.</li>
                            <li>The mark is prohibited under the Emblem and Names Act, 1950.</li>

                        </ul>
                        <ul class="custom_list">
                            <li>Following are the steps to file an opposition:</li>
                        </ul>
                        <ul class="custom_icon_list">
                            
                            <li>
                                <b>
                                    Filling a Notice of opposition:
                                </b>
                                Any person who wishes to file a notice is required to
                                mention important specifics concerning, details of the opposed application, details of
                                the opposing party and grounds for opposition. Such notice must be filed within 4 months
                                of the advertisement of the mark. If the Registry is satisfied with the notice, it will
                                then serve a copy to the concerned applicant. The applicant has 2 months from date of
                                receipt of the notice to file a counterstatement or else the Registry may deem the
                                application of the trademark as abandoned.
                            </li>
                           
                            <li>
                                <b>
                                    Filling of Evidence:
                                </b>
                                The opponent upon receiving a copy of the counterstatement is
                                required to file evidence by way of affidavit within 2 months (which is extendable by 1
                                month) from the date of receipt of the counterstatement. If the opponent fails to do so,
                                the opposition will be treated as abandoned and the application may proceed towards
                                registration. Similarly, the applicant is also provided with 2 months for filing similar
                                evidence with the Registrar. The Registrar may, upon request extend the period of filing
                                by 1 month. If applicant does not wish to submit any evidence and wishes to instead rely
                                on facts already stated in the counter statement, should be intimated in writing to the
                                Registrar and the opponent. If required, the parties may file additional evidence
                                subsequently.
                            </li>
                            <li>
                                <b>
                                    Hearing of the parties:
                                </b>
                                Upon completion of the evidence stage, the Tribunal generates a
                                hearing notice specifying the date on which the parties will be heard. Such a notice
                                must be sent by the Registrar at least 1 month before the date of first hearing. Within
                                14 days from the receipt of such notice, whoever intends to appear will notify by
                                submitting the relevant form to the Registrar. Any party who fails to do so may be
                                treated as not desiring to be heard and the matter may proceed accordingly. After
                                hearing the opponent and the Applicant, the Registrar is liable to decide whether the
                                concerned application of trademark is refused or has the opposition been cancelled.
                            </li>

                        </ul>
                        <ul class="custom_list">
                            <li>Rectification of Trademark Register:</li>
                        </ul>
                        <p>
                            Any ‘person aggrieved’ by the registration of a trademark, may file for removal,
                            cancellation or rectification of the register of trademarks. Rectification is used to remove
                            a registered trademark from the register which is not used within 5 years from the date of
                            its registration. However, unlike in the opposition proceedings, only a person who has a
                            ‘substantial interest’ or a person who would be ‘substantially damaged’ if the mark remained
                            can file for rectification. Moreover, a collective mark may also be removed from the
                            register if the manner in which the mark has been used has caused it to become liable to
                            mislead the public as a collective mark.
                        </p>
                        <ul class="custom_list">
                            <li>Following are the grounds under which an application for rectification can be filed:</li>
                        </ul>
                        <ul class="custom_icon_list">
                            <li>The trademark was registered without any bonafide intention that it should be used in
                                relation to the goods and services for which it was originally registered and there has
                                been no use of the trademark for 3 months before the date of the application.</li>
                            <li>The entry made in the register was made without sufficient cause or was obtained by
                                fraud or misrepresentation of facts, or if the mark is deceptively similar to an earlier
                                registered trademark.</li>
                            <li>The registered trademark has not been used for a continuous period of 5 years from the
                                date of registration of trademark.</li>
                            <li>The Proprietor is no longer competent in case of the goods and the services for which
                                the mark is registered or there is no longer any public advantage for the mark to remain
                                registered.</li>

                        </ul>
                        <ul class="custom_list">
                            <li>The law prescribes the following procedure to file an application for rectification:</li>
                        </ul>
                        <ul class="custom_icon_list">
                            <li>An application for rectification of an entry relating to a trademark should be
                                accompanied by a statement. The statement must set out the nature of the Applicant’s
                                interest, the facts upon which he basis the rectification and the relief which he seeks.
                            </li>
                            <li>Within 2 months (extendable by 1 month) from the receipt of the copy of such
                                application, the Registered Proprietor send to the Office of the trademark Registry a
                                counterstatement stating the grounds on which the application for the rectification is
                                contested and the same be served to the applicant within 1 month from the receipt of the
                                same. The parties may also file evidence which in the digitized form and uploaded in the
                                Trade Mark Automation System and subsequently integrated with the relevant records of
                                the proceedings.</li>
                            <li>Afterwards, the Registry will send a notice in writing to the registered proprietor
                                stating the grounds under which the trademark proposes to rectify the register. The
                                notice will specify the time at which the parties will be heard. On the date fixed for
                                hearing, the Hearing Officer communicates to the parties its decision along with the
                                grounds of the same.</li>

                        </ul>
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>