<app-header></app-header>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="small" color="#fff" type="line-spin-fade" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

<!-- <div> -->
<router-outlet></router-outlet>
<!-- </div> -->
<!-- Call To Action -->
<app-call-action></app-call-action>
<!-- End Call To Action -->
<app-footer></app-footer>