@font-face {
    font-family: Wingdings;
    panose-1: 5 0 0 0 0 0 0 0 0 0;
}

@font-face {
    font-family: "Cambria Math";
    panose-1: 2 4 5 3 5 4 6 3 2 4;
}

@font-face {
    font-family: Calibri;
    panose-1: 2 15 5 2 2 2 4 3 2 4;
}

@font-face {
    font-family: Roboto;
    panose-1: 0 0 0 0 0 0 0 0 0 0;
}


/* Style Definitions */
/* 
p.MsoNormal,
li.MsoNormal,
div.MsoNormal {
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 8.0pt;
    margin-left: 0in;
    line-height: 107%;
    font-size: 11.0pt;
    font-family: "Calibri", sans-serif;
} */

.MsoChpDefault {
    font-family: "Calibri", sans-serif;
}

.MsoPapDefault {
    margin-bottom: 8.0pt;
    line-height: 107%;
}

@page WordSection1 {
    size: 595.3pt 841.9pt;
    margin: 1.0in 1.0in 1.0in 1.0in;
}

div.WordSection1 {
    page: WordSection1;
}


/* List Definitions */

ol {
    margin-bottom: 0in;
}

ul {
    margin-bottom: 0in;
}

ul,
li {
    /* padding: 0px; */
    margin: 20px 0;
}

.price
{
    float: right;
}