<div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>


        <!--End Main Header -->

        <!--Page Title-->
        <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
                <div class="auto-container">
                        <h1><span>Service:</span> &nbsp;PRIVATE
                                LIMITED COMPANY</h1>
                        <p>We are offering wide range of services to our clients</p>
                </div>
        </section>
        <!--End Page Title-->

        <div class="sidebar-page-container">
                <div class="auto-container">
                        <div class="row clearfix">
                                <!--Content Side-->
                                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                                        <div class="service-detail">
                                                <div class=WordSection1>

                                                        <h3 class=MsoNormal>
                                                                <span>PRIVATE LIMITED COMPANY</span>
                                                                <span class="price"> Rs. {{price}}</span>
                                                        </h3>
                                                        <p>A Private Limited Company is a business entity held by  small  group of people. It is registered for pre-defined objects and owned by a group of members called shareholders. Startups and businesses with higher growth aspiration popularly choose Private Company as  suitable  business structure.</p>
                                                        <p>Procedure to register Private Limited Company</p>
                                                        <p>Once a name for the company is decided, the following steps have to be taken by the applicant:</p>
                                                        <p>Step 1: Apply for DSC (Digital Signature Certificate) and DIN (Director Identification Number)</p>
                                                        <p>Step 2: Apply for the name availability</p>
                                                        <p>Step 3: File the MOA and AOA to register the private limited company</p>
                                                        <p>Step 4: Apply for the PAN and TAN of the company</p>
                                                        <p>Step 5: Certificate of incorporation will be issued by RoC with PAN and TAN</p>
                                                        <p>Step 6: Open a current bank account on the company name</p>
                                                        <p>Requirements for Private Limited Company Registration</p>
                                                        <p>The requirements for private limited company registration are:</p>
                                                        <p>Members- A minimum number of two and a maximum number of 200 members or shareholders are required as per the companies’ act 2013 before registration of the company.</p>
                                                        <p>Directors- A minimum number of two directors is required for registering the private limited company. Each of the directors should have DIN i.e. director identification number which is given by the ministry of corporate affairs. One of the directors must be a resident of India which means he/she should have stayed in India for not less than 182 days in a previous calendar year.</p>
                                                        <p>Name- It is one of the major components of a private limited company. The name of the company contains three parts i.e. the name, the activity, and private limited company. It is necessary for all private companies to use the word private limited company at the end of its company name. Every company has to send 5-6 names for approval to the registrar of the company and all the names should be unique and expressive. The name for approval should not resemble with any other companies name. So choosing the right company name is an important component is it will stay with the company throughout its life.</p>
                                                        <p>Registered Office Address- While going for the registration of the company, the owner should provide the temporary address of the company until it does not get register. However when the company has been registered then the permanent address of its registered office should be suited with the registrar of the company. The Registered office of the company is where the company’s main affairs are been conducted and where all the documents are placed.</p>
                                                        <p>Obtaining A Digital Signature Certificate- In today’s modern world everything is done online. All documents are submitted electronically and for that, every company must obtain a Digital Signature Certificate which is used to verify the authenticity of the documents. A digital signature is obtained by all the directors which are marked on all the documents by every director.</p>
                                                        <p>Professional Certification- In a company there are many professionals which have required for many purposes. For incorporating a private limited company certification by these professionals are necessary. Various professionals such as company secretary, chartered accountants, cost accountants, etc are required to make their certification at the time of company incorporation.</p>
                                                        <p>Advantages Of Private Limited Companies</p>
                                                        <ul class="custom_list">
                                                                <li>Ownership</li>
                                                        </ul>
                                                        <p>In a public company, regulation and ownership of shares can be sold to the public on an open market. On the other hand, in a private company, shares can be sold or transferred to other people by the choice of the owner. Shares of such companies are owned by founders, management, or a group of private investors. Shares here are not sold in the open market. Thus there will be less number of shareholders. This means less complexity and confusion in decision-making and management.</p>
                                                        <ul class="custom_list">
                                                                <li>Minimum Number of Shareholders</li>
                                                        </ul>
                                                        <p>For a private company, a minimum number of required shareholders is 2, whereas, for a Public Company, you require a minimum of 7 shareholders.</p>
                                                        <ul class="custom_list">
                                                                <li>Legal Formalities</li>
                                                        </ul>
                                                        <p>Legal formalities are sometimes very expensive and time-consuming, aren’t they? If you’re planning to start a public company, you better be prepared because there is a long list of legal formalities for forming a public company. Private companies have a comparatively shorter list.</p>
                                                        <ul class="custom_list">
                                                                <li>Disclosing Information</li>
                                                        </ul>
                                                        <p>A public company is required to disclose their financial reports to the public every quarter, as it will affect public investment; private companies are not subjected to any such compulsion.</p>
                                                        <ul class="custom_list">
                                                                <li>Management And Decision Making</li>
                                                        </ul>
                                                        <p>Management and decision-making become more complex and confusing in public companies as more number of shareholders is to be consulted. This complex procedure is eliminated in a private company as the number of shareholders is less.</p>
                                                        <ul class="custom_list">
                                                                <li>Focus of Management</li>
                                                        </ul>
                                                        <p>Managers of Public companies are focused on increasing the value of shares, whereas managers of the private company are more flexible in the short term and long term business decisions.</p>
                                                        <ul class="custom_list">
                                                                <li>Stock Market Pressure</li>
                                                        </ul>
                                                        <p>Private companies are not pressurized by the stock market and you don’t have to worry about shareholder expectations and interference as long as they work within the law. Shareholders in public companies are focused on current earnings and they exert pressure on the company to increase earnings.</p>
                                                        <ul class="custom_list">
                                                                <li>Long Term Planning</li>
                                                        </ul>
                                                        <p>Managers of public companies are pressurized to increase earnings in the short term in order to increase the value of their stock. Private companies can focus on long-term earnings as such pressure is eliminated.</p>
                                                        <ul class="custom_list">
                                                                <li>Minimum Share Capital</li>
                                                        </ul>
                                                        <p>You will be needing a lot of money for a public company. A public company requires a minimum share capital of Rs. 5,00,000. For a private company, the earlier minimum number of the share capital was Rs. 1,00,000, but now there is no such minimum compulsion. Therefore there is no pressure of fund requirements.</p>
                                                        <ul class="custom_list">
                                                                <li>Confidental</li>
                                                        </ul>
                                                        <p>It is obviously not appropriate, for competitors to know about your business secrets. Confidential information such as executive compensation, legal settlements, and other essential information cannot be kept reserved in public companies. Such information is more secure in a private company.</p>
                                                        <p><b>Documents Required</b></p>
                                                        <ul class="custom_icon_list">
                                                                <li class=MsoNormal><span>Share capital amount and proposed ratio for holding shares.</span></li>
                                                                <li class=MsoNormal><span>A short description of the company and the business.</span></li>
                                                                <li class=MsoNormal><span>Name of the city where the registered office of the company is located.</span></li>
                                                                <li class=MsoNormal><span>Ownership and sale deed (In case your own premise).</span></li>
                                                                <li class=MsoNormal><span>Identity proof of the Directors and Shareholders (PAN Card).</span></li>
                                                                <li class=MsoNormal><span>Address proof of the registered office (Electricity bill, telephone bill, etc.)</span></li>
                                                                <li class=MsoNormal><span>Address proof of the Director or the Shareholder (Voter ID, Passport, Driving license, etc.)</span></li>
                                                                <li class=MsoNormal><span>A duplicate copy of the latest electricity bill, telephone bill, or mobile bill for directors.</span></li>
                                                                <li class=MsoNormal><span>Occupation details of directors as well as shareholders.</span></li>
                                                                <li class=MsoNormal><span>Email address of the directors and shareholders.</span></li>
                                                                <li class=MsoNormal><span>Contact details of directors and shareholders.</span></li>
                                                                <li class=MsoNormal><span>Passport size photo of directors and shareholders.</span></li>
                                                                <li class=MsoNormal><span>In case the property is on rent then you need to submit a copy of the rent agreement with No Objection Certificate (NOC) from the landlord.</span></li>
                                                                <li class=MsoNormal><span>Affidavits for non- acceptance.</span></li>
                                                                <li class=MsoNormal><span>NOC for a change in the original subscribers of MOA.</span></li>
                                                                <li class=MsoNormal><span>MoA and the AoA subscriber sheets.</span></li>
                                                                <li class=MsoNormal><span>PAN Card of the company.</span></li>
                                                                <li class=MsoNormal><span>In case you are a foreign national subscriber then you need to provide Nationality proof.</span></li>
                                                        </ul>
                                                        <p>Therefore, a Private Limited Company is less complicated compared to a Public company. It is comparatively less expensive and less time-consuming.</p> 
                                                        
                                                        
                                                </div>
                                        </div>

                                </div>

                                <!--Sidebar Side-->
                                <app-sidebar-side></app-sidebar-side>
                        </div>
                </div>
        </div>
        <!-- End Sidebar Container -->

</div>