<!-- Main Header-->
<header class="main-header">

    <!--Top-bar -->
    <div class="header-top">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <div class="top-left">
                    <ul class="clearfix">
                        <li>Business Consulting Services</li>
                        <li>Support :<a href="#"> (034) 256 7850</a></li>
                        <li>Email :<a href="#"> info@example.com</a></li>
                    </ul>
                </div>
                <div class="top-right main-menu">
                    <ul class="social-icon-one clearfix">
                        <li *ngIf="!IsLogin"><a href="/login">Login</a></li>
                        <li *ngIf="IsLogin"><a href="/myServices">My Services</a></li>
                        <li *ngIf="IsLogin" (click)="Logout()"><a>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Box -->
    <div class="header-lower">
        <div class="auto-container">
            <div class="main-box clearfix">
                <!--Logo Box-->
                <div class="logo-box">
                    <div class="logo"><a href="index.html"><img src="assets/images/logo.png" alt=""></a></div>
                </div>
                <!--Nav Outer-->
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="/Home">Home</a></li>
                                <li class="dropdown"><a href="#">Startup</a>
                                    <ul>
                                        <li><a href="/PrivateLimitedCompany">Private Limited Company</a></li>
                                        <li><a href="/OnePersonCompany">One Person Company</a></li>
                                        <li><a href="/LimitedLiabilityPartnership">Limited Liability Partnership</a>
                                        </li>
                                        <li><a href="/SoleProprietorship">Sole Proprietorship</a></li>
                                        <li><a href="/PartnershipFirm">Partnership firm</a></li>
                                        <li><a href="/FSSAIRegistration">FSSAI Registration</a></li>
                                        <li><a href="/DrugLicense">Drug License</a></li>
                                        <li><a href="/ImporterExporterCodeIndia">Importer Exporter Code India</a></li>
                                        <li><a href="/ISOCertificate">ISO Certificate</a></li>
                                        <li><a href="/TradeLicense">Trade License</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Intellectual Property</a>
                                    <ul>
                                        <li><a href="/CopyrightRegistration">Copyright Registration</a></li>
                                        <li><a href="/PatentRegistration">Patent Registration</a></li>
                                        <li><a href="/ProvisionalPatent">Provisional Patent</a></li>
                                        <li><a href="/TrademarkRegistration">Trademark Registration</a></li>
                                        <li><a href="/TrademarkObjection">Trademark Objection</a></li>
                                        <li><a href="/TrademarkOpposition">Trademark opposition</a></li>
                                        <li><a href="/TrademarkRenewal">Trademark Renewal</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Income Tax</a>
                                    <ul>
                                        <li><a href="/PartnershipFirmTaxReturnFiling">Partnership Firm Tax Return
                                                Filing</a></li>
                                        <li><a href="/ProprietorshipReturnFiling">Proprietorship Return Filing</a></li>
                                        <li><a href="/TDS">TDS</a></li>

                                    </ul>
                                </li>

                                <li class="dropdown"><a href="#">Goods & Services Tax</a>
                                    <ul>
                                        <li><a href="/FileGSTReturnEasily">File GST Return Easily</a></li>
                                        <li><a href="/GSTAnnualReturn">GST Annual Return</a></li>
                                        <li><a href="/GSTInputTaxCreditReconciliation">GST Input Tax Credit Reconciliation</a></li>
                                        <li><a href="/GSTRegistration">GST Registration</a>
                                        <li><a href="/GSTInvoicing">GST Invoicing</a>
                                        <li><a href="#">Goods & Services Tax</a></li>
                                        <li><a href="#">GST SERVICES</a>
                                        <li><a href="#">GST eInvoicing</a>
                                        <li><a href="#">GST Registration for Foreigners</a>
                                        <li><a href="#">GST TOOLS & APIS</a>
                                    </ul>
                                </li>

                                <li class="dropdown"><a href="#">Compliance</a>
                                    <ul>
                                        <li><a href="/Payroll">Payroll</a></li>
                                        <li><a href="/PFRegistration">PF Registration</a>
                                        <li><a href="/PFReturnFiling">PF Return Filing</a>
                                        <li><a href="/ESIRegistration">GESI Registration</a>
                                        <li><a href="#">CORPORATE FILINGS</a>
                                        <li><a href="/RegisteredOfficeChange">Registered Office Change</a>
                                        <li><a href="/AddDirectors">Add Directors</a>


                                    </ul>
                                </li>
                                <!-- <li class="current"><a href="index.html">Goods & Services Tax</a></li>
                                <li class="current"><a href="index.html">Compliance</a></li>
                                <li class="current"><a href="index.html">Documents</a></li> -->
                                <!-- <li><a href="about.html">About us</a></li> -->
                                <!-- <li class="dropdown"><a href="#">Our Services</a>
                                    <ul>
                                        <li *ngFor="let d of rows">
                                            <a href="ServiceDetails/{{d.id}}">{{d.name}}</a>
                                        </li>
                                       
                                    </ul>
                                </li> -->
                                <!-- <li class="dropdown"><a href="#">News</a>
                                    <ul>
                                        <li><a href="blog.html">Our Blog</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li> -->
                                <!-- <li><a href="contact.html">Contact Us</a></li> -->
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->

                    <!--Search Box-->
                    <div class="search-box-outer">
                        <!--Search Box-->
                        <div class="dropdown dropdown-outer">
                            <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                    class="fa fa-search"></span></button>
                            <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                <li class="panel-outer">
                                    <div class="form-container">
                                        <form method="post" action="blog.html">
                                            <div class="form-group">
                                                <input type="search" name="field-name" value=""
                                                    placeholder="Search Here" required="">
                                                <button type="submit" class="search-btn"><span
                                                        class="fa fa-search"></span></button>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--End earch Box-->
                </div>
            </div>
        </div>
    </div>

    <!-- Sticky Header -->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="index.html" title=""><img src="assets/images/logo.png" alt="" title=""></a>
            </div>
            <!--Right Col-->
            <div class="pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-collapse collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="current"><a href="index.html">Home</a></li>
                            <!-- <li><a href="about.html">About us</a></li>
                            <li class="dropdown"><a href="#">Our Services</a>
                                <ul>
                                    <li><a href="/">Services Type 01</a></li>
                                    <li><a href="/">Services Type 02</a></li>
                                    <li><a href="/">Market Research</a></li>
                                    <li><a href="/">Business Solutions</a></li>
                                    <li><a href="/">Financial Analysis</a></li>
                                    <li><a href="/">Capital Markets</a></li>
                                    <li><a href="/">Operations Consulting</a></li>
                                    <li><a href="/">Tax valuations</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">News</a>
                                <ul>
                                    <li><a href="blog.html">Our Blog</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact Us</a></li> -->

                            <li class="dropdown"><a href="#">Startup</a>
                                <ul>
                                    <li><a href="/PrivateLimitedCompany">Private Limited Company</a></li>
                                    <li><a href="/OnePersonCompany">One Person Company</a></li>
                                    <li><a href="/LimitedLiabilityPartnership">Limited Liability Partnership</a>
                                    </li>
                                    <li><a href="/SoleProprietorship">Sole Proprietorship</a></li>
                                    <li><a href="/PartnershipFirm">Partnership firm</a></li>
                                    <li><a href="/FSSAIRegistration">FSSAI Registration</a></li>
                                    <li><a href="/DrugLicense">Drug License</a></li>
                                    <li><a href="/ImporterExporterCodeIndia">Importer Exporter Code India</a></li>
                                    <li><a href="/ISOCertificate">ISO Certificate</a></li>
                                    <li><a href="/TradeLicense">Trade License</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Intellectual Property</a>
                                <ul>
                                    <li><a href="/CopyrightRegistration">Copyright Registration</a></li>
                                    <li><a href="/PatentRegistration">Patent Registration</a></li>
                                    <li><a href="/ProvisionalPatent">Provisional Patent</a></li>
                                    <li><a href="/TrademarkRegistration">Trademark Registration</a></li>
                                    <li><a href="/TrademarkObjection">Trademark Objection</a></li>
                                    <li><a href="/TrademarkOpposition">Trademark opposition</a></li>
                                    <li><a href="/TrademarkRenewal">Trademark Renewal</a></li>

                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Income Tax</a>
                                <ul>
                                    <li><a href="/PartnershipFirmTaxReturnFiling">Partnership Firm Tax Return Filing</a>
                                    </li>
                                    <li><a href="/ProprietorshipReturnFiling">Proprietorship Return Filing</a></li>
                                    <li><a href="/TDS">TDS</a></li>

                                </ul>
                            </li>

                            <li class="dropdown"><a href="#">Goods & Services Tax</a>
                                <ul>
                                    <li><a href="#">Goods & Services Tax</a>
                                    </li>
                                    <li><a href="#">GST SERVICES</a>
                                    <li><a href="#">GST Registration</a>
                                    <li><a href="#">GST Invoicing</a>
                                    <li><a href="#">GST eInvoicing</a>
                                    <li><a href="#">GST Registration for Foreigners</a>
                                    <li><a href="#">GST TOOLS & APIS</a>


                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Compliance</a>
                                <ul>
                                    <li><a href="#">Payroll</a>
                                    </li>
                                    <li><a href="#">PF Registration</a>
                                    <li><a href="#">PF Return Filing</a>
                                    <li><a href="#">GESI Registration</a>
                                    <li><a href="#">CORPORATE FILINGS</a>
                                    <li><a href="#">Registered Office Change</a>
                                    <li><a href="#">Add Directors</a>


                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
            </div>
        </div>
    </div>
</header>
<!--End Main Header -->