<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/6.jpg);">
        <div class="auto-container">
            <h1>My Services</h1>

        </div>
    </section>
    <!--End Page Title-->

    <div class="sidebar-page-container">
        <div class="auto-container">
            <!-- <h4>My Services</h4> -->
            <div class="row">
                <div class="col-md-12" *ngIf="lstOrders.length==0">
                    Service not found
                </div>
                <div class="col-md-12" *ngIf="lstOrders.length>0">
                    <table style="width: 100%;">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Service Name</th>
                                <th>Order Date</th>
                                <th>Amount</th>
                                <th>Upload Doc</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let lst of lstOrders; let i = index;">
                                <td>{{i+1}}</td>
                                <td>{{lst.serviceName}}</td>
                                <td>{{lst.order_date | date:'dd/MM/yyyy hh:mm:ss aa'}}</td>
                                <td>{{lst.net_amount}}/-</td>
                                <td>
                                    <a (click)="openModalUploadDoc(templateUploadDoc,lst)">Upload Doc</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- {{lstOrders | json}} -->
        </div>
    </div>
    <!-- End Sidebar Container -->

</div>
<ng-template #templateUploadDoc>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <!-- {{fileName}} -->
            Upload Documents
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefView.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <form [formGroup]="DocumentForm">

                <div class="row" style="margin-bottom: 4px;">
                    <div class="col-md-5">
                        <select formControlName="name" class="form-control">
                            <option value="">Select Document Type</option>
                            <option *ngFor="let lst of lstDoc" [value]="lst.name">{{lst.name}}</option>
                        </select>
                        <div *ngIf="(f.name.touched && f.name.invalid)" class="alert alert-danger">
                            <div *ngIf="f.name.errors.required">Document Type is required.</div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <input type="file" (change)="onFileChange($event)">
                        <div *ngIf="(f.fileSource.touched && f.fileSource.invalid)" class="alert alert-danger">
                            <div *ngIf="f.fileSource.errors.required">File is required.</div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary" (click)="onSubmit()">Upload</button>
                    </div>
                </div>
            </form>
            <hr>
        </div>
        <br>
        <br>
        <div class="col-md-12" style="margin-top: 5px;" *ngIf="lstUploadedDoc?.length>0">
            <h4>View Uploaded Documents</h4>
            <hr>
        </div>

        <div class="col-md-12 mt-2" style="margin-bottom: 4px;" *ngFor="let lst of lstUploadedDoc">
            <div class="col-md-2">
                <a href="{{DownloadPath}}/{{SelectedOrderId}}/{{lst}}" target="_blank">
                    <button type="submit" class="btn btn-primary">Download</button>
                </a>
            </div>
            <div class="col-md-10">
                <a href="{{DownloadPath}}/{{SelectedOrderId}}/{{lst}}" target="_blank">{{lst}}
                </a>
            </div>

        </div>
    </div>
    <div class="modal-footer" style="border-top: 0px">
        &nbsp;
        <!-- <button type="button" class="btn btn-default" (click)="modalRefView.hide()">Close</button> -->
    </div>
</ng-template>