<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;{{lst.name}}</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>File GST Return Easily</span>
                            <span class="pull-right"> Rs. {{lst.price}}</span>
                        </h3>
                        <p>Goods and Services Tax (GST) is applicable in India from 1st July 2017.</p>
                        <p>
                            Under the new GST regime, nearly 1.4 crore businesses in India have obtained GST
                            registration. All entities having GST registration are required to file GST returns every
                            month.
                        </p>
                        <p>
                            GST return filing is mandatory for all entities having GST registration, irrespective of
                            business activity or sales or profitability during the return filing period.
                        </p>
                        <p>
                            Hence, even a dormant business that obtained GST registration must file GST return.
                        </p>
                        <ul class="custom_list">
                            <li>GST Registration Services in India</li>
                        </ul>
                        <p>
                            Persons or entities in India involved in the supply of goods or services must obtain GST
                            registration when the threshold limit for registration is crossed.
                        </p>
                        <p>
                            In most states, GST registration is mandatory when a person supplies services or goods over
                            Rs.20 lakhs per year.
                        </p>
                        <p>
                            In addition to the turnover limit, GST registration is compulsory for all persons
                            undertaking eCommerce sales.
                        </p>

                        <ul class="custom_list">
                            <li>Everybody need to file GST?</li>
                        </ul>
                        <ul class="custom_icon_list">
                            <li>Yes, all taxpayers having GST registration should file GST returns on the 10th, 15th and
                                20th of each month.</li>
                            <li>Even if there was no business activity or transaction during a month, the taxpayer must
                                still log in to the GST portal and file NIL GST return to avoid penalty.</li>
                        </ul>
                        <ul class="custom_list">
                            <li>Who should file GST Return?</li>
                        </ul>
                        <p>
                            GST registration holders are required to file GSTR-3B return every month providing details
                            of sales and purchases made in a month to the Government. GSTR-3B return is due on the 20th
                            of each month. Form GSTR-3B is a simplified summary return and the purpose of the return is
                            for taxpayers to declare their summary GST liabilities for a particular tax period and
                            discharge these liabilities. A normal taxpayer is required to file Form GSTR-3B returns for
                            every tax period.
                        </p>
                        <p style="font-weight: 700;">
                            Note : Taxpayer has to file Form GSTR-3B even if there is no business activity. (Nil
                            Return).
                        </p>
                        <p style="font-weight: 700;">
                            Amendment of Form GSTR-3B is not allowed.
                        </p>
                        <p>
                            In addition to GSTR-3B return, businesses registered under GST must file GSTR-1 return.
                            GSTR-1 return must be filed every month by businesses having annual revenue of over Rs.1.5
                            crores. In case a business has a yearly revenue of less than Rs.1.5 crores, GST return
                            should be filed every quarter. For the taxpayers who have opted to file Form GSTR-1 on
                            monthly frequency, the system computed GSTR-3B will be generated and will be available on
                            their GSTR-3B dashboard page after Form GSTR-1 has been filed by them.
                        </p>
                        <p>
                            This facility at present, has been enabled only for those taxpayers who have opted to file
                            Form GSTR-1 at monthly frequency. GSTR-1 is a monthly Statement of Outward Supplies to be
                            furnished by all normal and casual registered taxpayers making outward supplies of goods and
                            services or both and contains details of outward supplies of goods and services.
                        </p>
                        <p>
                            Every registered taxable person, other than an input service distributor/composition
                            taxpayer/persons liable to deduct tax u/s 51 persons liable to collect tax u/s 52 is
                            required to file GSTR-1, the details of outward supplies of goods and/or services during a
                            tax period, electronically on the GST Portal.
                        </p>
                        <p>
                            Annual GST return must be filed by all GST entities having GST registration. The due date for
                            filing GST annual return for FY 2018-19 is 31st December 2020. The due date for filing GST
                            annual return for FY2018-19 is 31st March 2020.
                        </p>
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>