@font-face {
    font-family: Wingdings;
    panose-1: 5 0 0 0 0 0 0 0 0 0;
}

@font-face {
    font-family: SimSun;
    panose-1: 2 1 6 0 3 1 1 1 1 1;
}

@font-face {
    font-family: "Cambria Math";
    panose-1: 2 4 5 3 5 4 6 3 2 4;
}

@font-face {
    font-family: Calibri;
    panose-1: 2 15 5 2 2 2 4 3 2 4;
}

@font-face {
    font-family: "Open Sans";
    panose-1: 2 11 6 6 3 5 4 2 2 4;
}

@font-face {
    font-family: "\@SimSun";
    panose-1: 2 1 6 0 3 1 1 1 1 1;
}


/* Style Definitions */

p.MsoNormal,
li.MsoNormal,
div.MsoNormal {
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 8.0pt;
    margin-left: 0in;
    line-height: 107%;
    font-size: 11.0pt;
    font-family: "Calibri", sans-serif;
    text-indent: 0.05in !important;
}

h2 {
    mso-style-link: "Heading 2 Char";
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 6.0pt;
    margin-left: 0in;
    font-size: 12.0pt;
    font-family: "Times New Roman", serif;
    font-weight: bold;
}

span.Heading2Char {
    mso-style-name: "Heading 2 Char";
    mso-style-link: "Heading 2";
    font-family: "Times New Roman", serif;
    font-weight: bold;
}

.MsoChpDefault {
    font-family: "Calibri", sans-serif;
}

.MsoPapDefault {
    margin-bottom: 8.0pt;
    line-height: 107%;
}

@page WordSection1 {
    size: 595.3pt 841.9pt;
    margin: 1.0in 1.0in 1.0in 1.0in;
}

div.WordSection1 {
    page: WordSection1;
}


/* List Definitions */

ol {
    margin-bottom: 0in;
}

ul {
    margin-bottom: 0in;
}

ul,
li {
    margin: 20px 0;
}

.price
{
    font-size: 18.0pt;
  
    float: right;
    margin-bottom: 0;
    margin-top: -26px;
    text-align: right;
}