<div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>


        <!--End Main Header -->

        <!--Page Title-->
        <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
                <div class="auto-container">
                        <h1><span>Service:</span> &nbsp;{{lst.name}}</h1>
                        <p>We are offering wide range of services to our clients</p>
                </div>
        </section>
        <!--End Page Title-->
        <div class="sidebar-page-container">
                <div class="auto-container">
                        <div class="row clearfix">
                                <!--Content Side-->
                                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                                        <div class="service-detail">

                                                <div class=WordSection1>
                                                        <h3 class=MsoNormal>
                                                                <span>One Person Company (OPC)</span>
                                                                <span class="pull-right"> Rs. {{lst.price}}</span>
                                                        </h3>
                                                        <p>Not old in some countries but new in India, One person company(OPC) is a form of business, introduced by Companies act, 2013 (no. 18 of 2013), was first recommended by the expert committee of Dr. JJ Irani in 2005, enabling sole proprietors to enter into corporate world.</p>
                                                        <p>It is like forming a company with the soul of proprietorship and privileges of a private limited company but with fewer requirements that means one person company is a hybrid form of business consisting features of a sole proprietorship and a private limited company with concessional obligations.</p>
                                                        <p>OPC has only one shareholder/member that give him power to run the business of the company solely on his decision, i.e., OPC gives MONOPOLY IN MANAGEMENT. Although, a maximum number of 15 directors can be appointed in OPC but it’s a benefit as more Directors can run management smoothly, and is not any legal obligation.</p>
                                                        <p>It enjoys features of a Private Limited Company as it is different legal entity from its member, limited liability on shoulders of the member, has continuity of business.</p>
                                                        <p><b>Though this concept is new in India but it is very successful business in various countries:</b></p>
                                                        <ul class="custom_icon_list">
                                                                <li>The concept was first introduced in United Kingdom.</li>
                                                                <li>Singapore introduced the concept in 2004.</li>
                                                                <li>China introduced the concept in 2005.</li>
                                                                <li>Pakistan introduced it in 2003.</li>
                                                        </ul>
                                                        <ul class="custom_list">
                                                                <li>Important concepts behind OPC</li>
                                                        </ul>
                                                        <ul class="custom_icon_list">
                                                                <li>One Shareholder/ Member:</li>
                                                                <p>This is the main concept behind OPC, only one person who is resident in India and citizen of India can form an OPC.</p>
                                                                <li>Director in OPC:</li>
                                                                <p>Prima facie an OPC have only one Director but as per law, a maximum number of 15 Directors can be appointed in an OPC.</p>
                                                                <li>Nominee:</li>
                                                                <p>This is also one of the very important concept behind OPC. In case of death or inability to contract of the sole member of OPC, the nominee appointed will take over the management of OPC. The nominee should be appointed at the time of incorporation of OPC with his prior written consent. The nominee cannot be appointed as nominee or member of more than one OPC at the same time and if appointed, he has to choose in which OPC he wishes to continue within a period of 6 months.</p>
                                                                <li>Compliances:</li>
                                                                <p>OPC has been given vast relaxation from legal compliances which are very less than compliance to be done by a private or public limited company.</p>
                                                        </ul>
                                                        <ul class="custom_list">
                                                                <li>Features of OPC</li>
                                                        </ul>
                                                        <ul class="custom_icon_list">
                                                                <li>One person company (OPC) can only be incorporated as a Private limited company.</li>
                                                                <li>OPC can have only one person as its shareholder/member.</li>
                                                                <li>The minimum paid up share capital is Rs. 1,00,000.</li>
                                                                <li>OPC does not require holding Annual General Meeting.</li>
                                                                <li>If the Articles of Association do not contain the name of the first director, member of the One Person Company will be deemed to be the first director till the time director(s) is duly appointed.</li>
                                                                <li>The subscriber to the memorandum of association of a One Person Company shall nominate a person, after obtaining prior written consent of such person, who shall, in the event of the subscriber’s death or his incapacity to contract, become the member of that One Person Company.</li>
                                                                <li>Only one director is sufficient to sign the Financial Statements/Directors’ Report.</li>
                                                                <li>A person shall not be eligible to incorporate more than OPC or become nominee in more than one such company.</li>
                                                                <li>A minor cannot become a member or nominee of the OPC or can hold share with beneficial interest.</li>
                                                                <li>OPC can be incorporated for charitable purpose. </li>
                                                        </ul>
                                                        <ul class="custom_list">
                                                                <li>Pros of OPC</li>
                                                        </ul>
                                                        <ul class="custom_icon_list">
                                                                <li>It enjoys the status of being a separate legal entity from it’s member.</li>
                                                                <li>Having limited liability shrinks the liability of the member to the extent of unpaid amount of shares held by him.</li>
                                                                <li>It has fewer legal obligations.</li>
                                                                <li>Lot of exemptions has been provided to OPC in the law.</li>
                                                                <li>OPC does not require filing cash flow statement with financial statements.</li>
                                                                <li>It enables small business-man to enter corporate world.</li>
                                                        </ul>

                                                        <ul class="custom_list">
                                                                <li>Cons of OPC</li>
                                                        </ul>
                                                        <ul class="custom_icon_list">
                                                                <li>It is mandatory to file financial statements including balance sheet, profit and loss account by OPC.</li>
                                                                <li>OPC needs to pay tax at the rate of 25% which is quite high.</li>
                                                                <li>Where the paid up share capital of an OPC exceeds 50 lakh rupees or its average annual turnover exceeds during the relevant period exceeds 2 crore rupees, then it ceases to be entitled as OPC and has to mandatorily convert into private or public company.</li>
                                                                <li>The sole member of OPC cannot become member more than one OPC and cannot become nominee in more than one such company.</li>
                                                                <li>OPC cannot be incorporated or converted into a company under section 8 of the Companies Act, 2013.</li>
                                                                <li>OPC cannot carry out Non-Banking Financial activities and cannot make investment in securities of any body corporate.</li>
                                                        </ul>
                                                        <ul class="custom_list">
                                                                <li>Privileges Available To OPC</li>
                                                        </ul>
                                                        <ul class="custom_icon_list">
                                                                <li>OPC is separate legal entity. So it can enter into contracts, can sue and can be sued in its own name.</li>
                                                                <li>Member of OPC has liability only to the extent of unpaid amount of shares held by him.</li>
                                                                <li>OPC has less legal compliances unlike any Private or Public Limited Company.</li>
                                                                <li>Compulsory rotation of Auditor after expiry of maximum term is not applicable.</li>
                                                                <li>OPC does not require holding Annual General Meeting.</li>
                                                                <li>OPC can have a maximum number of 15 Directors. This can help in better decision making.</li>
                                                        </ul>
                                                        <ul class="custom_list">
                                                                <li>Types Of OPC</li>
                                                        </ul>
                                                        <p><b>An OPC can be:</b></p>
                                                        <ul class="custom_icon_list">
                                                                <li>a company limited by shares;</li>
                                                                <li>a company limited by guarantee; or</li>
                                                                <li>an unlimited company.</li>
                                                        </ul>
                                                        <ul class="custom_list">
                                                                <li>Difference Between One Person Company And Sole Proprietorships</li>
                                                        </ul>
                                                        <p>An OPC and a sole proprietorship form of business might come across to be alike since both the forms of businesses have a single person involved who owns the business, but in reality, they are quite different from each other. The nature of the liabilities carried by both of them is the major difference between the two forms.</p>
                                                        <p>OPC being a separate legal entity on its own which is distinctive from its promoter has its own liabilities and assets. The promoter cannot be held liable personally to pay off the debts of the company.</p>
                                                        <p>Whereas, the sole proprietorship and its proprietor is the same. So, in the case of non-fulfilment of the liabilities of the business, the promoter’s assets are attached and sold by the law.</p>

                                                </div>

                                        </div>
                                </div>

                                <!--Sidebar Side-->
                                <app-sidebar-side></app-sidebar-side>
                        </div>
                </div>
        </div>
        <!-- End Sidebar Container -->


</div>