<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;{{lst.name}}</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">

                        <div class=WordSection1>
                            <h3 class=MsoNormal>
                                <span>Limited Liability Partnership</span>
                                <span class="pull-right"> Rs. {{lst.price}}</span>
                        </h3>
                            <p>LLP, better known as Limited Liability Partnership, requires every partner to contribute to daily business operations while having limited responsibilities. In usual partnership firms, partners have unlimited liability towards the overall debts and legal concerns of business. Assets of these partners are also liable to be utilized for meeting any debt or liability of the firm. However, in LLP, partners are free from such huge liabilities.</p>
                            <p>Separate legal existence with a lesser extent of liabilities is what is Limited Liability Partnership all about. Other than this, it has all the features that a regular partnership has.</p>
                            <p><b>Rights & Duties of Partners</b></p>
                            <p>Mutual rights and duties of the partners within a LLP are governed by an agreement between the partners or between the partners and the LLP as the case may be. The LLP, however, is not relieved of the liability for its other obligations as a separate entity.</p>
                            <p>LLP shall be a body corporate and a legal entity separate from its partners.</p>
                            <p><b>Traditional Partnership Vs. LLP</b></p>
                            <div class="table-responsive custom_table">
                                <table class="table">
                                    <tbody>
                                      <tr>
                                        <th>Traditional Partnership</th>
                                        <th>LLP</th>                                        
                                      </tr>
                                      <tr>
                                        <td>Not a Legal Entity</td>
                                        <td>Legal Entity</td>                                        
                                      </tr>
                                      <tr>
                                        <td>Minimum 2 Partners</td>
                                        <td>Minimum 2 Partners</td>                                        
                                      </tr>
                                      <tr>
                                        <td>Maximum 20 Partners</td>
                                        <td>Partners are jointly liable</td>                                        
                                      </tr>
                                      <tr>
                                        <td>Registration is not compulsory</td>
                                        <td>Compulsory</td>                                        
                                      </tr>
                                      <tr>
                                        <td>BS etc. need not be filled</td>
                                        <td>Filling is compulsory</td>                                        
                                      </tr>
                                      <tr>
                                        <td>Audit is not Compulsory</td>
                                        <td>Compulsory if Turnover is Rs.40   Lakhs or contribution is Rs. 25 Lakhs</td>                                        
                                      </tr>
                                      <tr>
                                        <td>Name mat be any</td>
                                        <td>Must be approved by Registrar and must have LLP as suffix</td>                                        
                                      </tr>
                                      <tr>
                                        <td>Minor can become Partner</td>
                                        <td>Minor can not become Partner</td>                                        
                                      </tr>
                                     
                                     
                                    </tbody>
                                  </table>
                                  <ul class="custom_list">
                                      <li>Company VS LLP</li>
                                  </ul>
                                  <p>A basic difference between an LLP and a joint stock company lies in that the internal governance structure of a company is regulated by statute (i.e. Companies Act, 1956 now Companies Act, 2013) whereas for an LLP it would be by a contractual agreement between partners.</p>
                                  <p>The management-ownership divide inherent in a company is not there in a limited liability partnership.</p>
                                  <p>LLP will have more flexibility as compared to a company.</p>
                                  <p>LLP will have lesser compliance requirements as compared to a company.</p>
                                  <p>The essential requirement for setting LLP is ‘carrying on a lawful business with a view to profit’ so Charitable Institution or organization which we are used to Register as Sec. 25 Company earlier can’t be registered as LLP.</p>
                            
                        </div>

                    </div>

                </div>
</div>
                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>