<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;FSSAI Registration</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>FSSAI Registration</span>
                            <span class="pull-right"> Rs. {{price}}</span>
                    </h3>
                       <ul class="custom_list">
                           <li>What is FSSAI?</li>
                       </ul>
                       <p>FSSAI stands for Food Safety and Standards Authority of India which is an organization that monitors and governs the food business in India.It is an autonomous body which is established under the Ministry of Health & Family Welfare, Government of India.</p>
                       <p>The FSSAI has been established under the Food Safety and Standards Act, 2006 (FSS Act) which is a consolidating statute related to food safety and regulation in India. It ensures the food products undergo quality checks thereby curtailing the food adulteration and sale of sub-standard products. It is responsible for the registering and licensing of the Food Business Operators (FBO) in India and it lays down the rules and regulation for running the food business in India.</p>
                       <ul class="custom_list">
                        <li>Why is FSSAI Registration Required?</li>
                    </ul>
                    <p>Every food business operator involved in the manufacturing, processing, storage distribution and sale of food products must compulsorily obtain FSSAI Registration or License.</p>
                    <p>FSSAI Registration is different from FSSAI License in the sense that depending on the size and nature of the business, FBO should obtain the necessary registration or license.</p>
                    <p>It is a 14-digit registration or a license number which is printed on all the food packages. The 14 digit registration number gives details about the assembling state, producer’s permit. This registration procedure is aimed to create more accountability on the FBO to maintain the quality of the food products. The licensing and registration procedure and requirements are regulated by Food Safety & Standards (Licensing and Registration of food Business) Regulations, 2011.</p>
                    <ul class="custom_list">
                        <li>FSSAI Registration/License Procedure</li>
                    </ul>
                    <p>FSSAI registration or license is based on the business volume and premises. Depending upon the installed capacity or turnover or location, applicant premises are eligible for the license such as basic license, central license, and state license.</p>
                    <img src="../../../../assets/images/templates/Picture1.png">
                    <p>FSSAI Registration Requirements</p>
                    <p>FSSAI Registration is a basic license and it is required for all the FBO involved in the small-scale food business. This category covers the following businesses:</p>
 <ul class="custom_icon_list">
     <li>Any FBO with an annual turnover of not more than Rs. 12 lakh.</li>
     <li>Petty retailer dealing in food products</li>
     <li>Any person who manufactures or sells any food article by himself</li>
     <li>Food sale is done by the temporary stall holder</li>
     <li>Any individual who distributes food in any religious or social gathering except a caterer</li>
 </ul>
 <p>Small-scale or cottage industries dealing in the food business and the following:</p>
 <div class="responsive-table custom_table">
     <table class="table">
<thead>
    <tr>
        <th>Sl.No</th>
    <th>Business</th>
    <th>Capacity</th>
    </tr>
</thead>
<tr>
    <td>1</td>
    <td>Food production capacity (other than milk and meat)</td>
    <td>Up to 100 kg/ltr per day</td>
</tr>
<tr>
    <td>2</td>
    <td>Procurement, handling and collection of milk</td>
    <td>Up to 500 ltr per day</td>
</tr>
<tr>
    <td>3</td>
    <td>Slaughtering capacity</td>
    <td>2 large animals or 10 small animals or 50 poultry birds per day or less</td>
</tr>
     </table>
 </div>
 <ul class="custom_list">
     <li>Procedure for Obtaining FSSAI Registration</li>
 </ul>
 <p>FSSAI registration is initiated by submitting Form A (application) to the Food and Safety Department.</p>
 <p>This application can be accepted or it may be rejected by the Department within 7 days from the date of receipt of an application and the rejection has to be intimated to the applicant in writing</p>
 <p>If the application is accepted, then the department will grant a registration certificate with the registration number and the photo of the applicant.</p>
 <p>FBO should prominently display the certificate of registration at the place of business during the business hours.</p>
 <p><b>The common documents required for Basic, State and Central Registration are a passport photo and a photo ID proof.</b></p>
 <p><b>For State and Central license, the following additional documents will be needed:</b></p>
 <ul class="custom_icon_list">
     <li>A completed and signed Form B</li>
     <li>Address proof</li>
     <li>List of food category and products</li>
     <li>Layout plan of the proposed location</li>
     <li>List of equipment</li>
     <li>NOC from municipality</li>
     <li>Incorporation certificate</li>
     <li>List of directors/partners</li>
     <li>MOA and AOA</li>
     <li>Water test report</li>
     <li>Import Export Code</li>
 </ul>
 <ul class="custom_list">
    <li>FSSAI License Requirement</li>
</ul>
<p>For all other FBO apart from small-scale business, FSSAI license has to be obtained. FSSAI License can be classified into two categories i.e. State FSSAI License and Central FSSAI License based on the size of the business whether it is a medium scale or large scale business.</p>
<p>Generally, FBO who are large manufacturers, importers, exporters dealing in large-scale food business need to obtain FSSAI registration from central government and FBO with small to medium sized manufacturing units, transporters, marketers, traders, etc., need to take FSSAI registration from the state government. To apply for State License the FBO must have a turnover between Rs 12 lakh to Rs 20 crore.</p>
<p>Other conditions include manufacturing units having capacity of 2MT per day, dairy units handling business up to 5000 liters per day. 3 star hotels and above, repackers, relabelling units, clubs, canterns all catering business irrespective of their turnover need to apply for the license. The tenure of the license being maximum of 5 years and minimum of 1 year.</p>
<p>To apply for a central license the FBO must have a turnover exceeding Rs. 20 crores and needs to have operations in two or more states. All importers and exporters need to apply for this license. The maximum tenure is 5 years and minimum is 1 year.</p>
<ul class="custom_list">
    <li>Documents Required For Obtaining the Central License:</li>
</ul>
<ul class="custom_icon_list">
    <li>Form B duly completed and signed</li>
    <li>Plan of the processing unit showing the dimensions and operation-wise area allocation</li>
    <li>List of Directors/ Partners/ Proprietor with address, contact details, and photo ID</li>
    <li>Name and list of equipment and machinery used with the number and installed capacity</li>
    <li>List of food category to be manufactured</li>
    <li>Authority letter from manufacturer nominated a responsible person name and address</li>
    <li>Analysis report of water to be used in the process to confirm the portability</li>
    <li>Source of raw material for milk, meat etc</li>
    <li>Recall plan wherever applicable</li>
    <li>Ministry of Commerce Certificate for 100% EOU</li>
    <li>NOC/PA document issued by FSSAI</li>
    <li>IE code document issued by DGFT</li>
    <li>Form IX</li>
    <li>Certificate from Ministry of Tourism</li>
    <li>Proof of possession of premises</li>
    <li>Partnership deed/ affidavit of proprietorship</li>
    <li>NOC and copy of License from the manufacturer</li>
    <li>Food safety management system plan or certificate</li>
    <li>NOC from the municipality or local body</li>
    <li>Supporting document for proof of turnover and transportation</li>
    <li>Declaration form</li>
</ul>
<ul class="custom_list">
    <li>Documents required For Obtaining the State License:</li>
</ul>
<ul class="custom_icon_list">
    <li>Plan of the processing unit showing the dimensions and operation-wise area allocation</li>
    <li>List of Directors/ Partners/ Proprietor with address, contact details, and photo ID</li>
    <li>Name and list of equipment and machinery used with the number and installed capacity</li>
    <li>List of food category to be manufactured</li>
    <li>Authority letter from manufacturer nominated a responsible person name and address</li>
    <li>Analysis report of water to be used in the process to confirm the portability</li>
    <li>Proof of possession of premises</li>
    <li>Partnership deed/ affidavit of proprietorship</li>
    <li>NOC and copy of License from the manufacturer</li>
    <li>Copy of certificate obtained under Coop Act 1861/Multi state Coop Act 2002</li>
    <li>Food safety management system plan or certificate</li>
</ul>
<p>There are different forms and documents which are required to be submitted conversion, renewal, and modification of license.</p>
<p><b>Benefits of Procuring FSSAI Food License</b></p>
<p>Obtaining a license can provide the food business with legal benefits, build goodwill, ensure food safety, create consumer awareness, and assist in business expansion. Also it helps regulate, manufacture, storage, distribution and sale of import food.</p>
<p><b>Consequences of Non-Compliance</b></p>
<p>Any registered or licensed person under the FSSAI has to adhere to the rules and regulation under the FSS Act, 2006. Food safety officer generally conducts the inspection of the food business operator’s facility and identifies the level of compliance with the regulation using a checklist. Based on the compliance level, the food safety officer marks it as:</p>
<ul class="custom_icon_list">
    <li>Compliance (C)</li>
    <li>Non-compliance (NC)</li>
    <li>Partial compliance (PC)</li>
    <li>Not applicable/Not observed (NA)</li>
</ul>
<p>Based on the above, the food safety officer might issue an improvement notice where ever required per Section 32 of the FSS Act, 2006. If the business operator fails to comply with the improvement notice, the officer after giving the licensee an opportunity to show cause may cancel his license. Any food business operator aggrieved by an improvement notice can appeal to the State Commissioner of Food Safety. The decision thereon can be challenged through appealing to the Food Safety Appellate Tribunal/High Court.</p>
<ul class="custom_list">
    <li>Penalty for Non- Compliance</li>
</ul>
<p><b>Listed is the penalty for various type of non-compliance:</b></p>
<div class="responsive-table custom_table">
    <table class="table">
<thead>
   <tr>
       <th>Sl.No</th>
   <th>Particulars</th>
   <th>Fine</th>
   </tr>
</thead>
<tr>
   <td>1</td>
   <td>Food quality not in compliance with act</td>
   <td>2 Lakh Petty manufacturer – 25,000/-</td>
</tr>
<tr>
   <td>2</td>
   <td>Sub-standard food</td>
   <td>5 Lakh</td>
</tr>
<tr>
   <td>3</td>
   <td>Misbranded Food</td>
   <td>3 Lakh</td>
</tr>
<tr>
    <td>4</td>
    <td>Misleading advertisement or false description</td>
    <td>10 Lakh</td>
 </tr>
 <tr>
    <td>5</td>
    <td>Extraneous matter in food</td>
    <td>1 Lakh</td>
 </tr>
 <tr>
   <td>6</td>
   <td>Failure to comply with Food safety officer direction</td>
   <td>2 Lakh</td>
</tr>
<tr>
   <td>7</td>
   <td>Unhygienic processing or manufacture</td>
   <td>1 Lakh</td>
</tr>
    </table>
</div>
<ul class="custom_list">
    <li>Renewal of FSSAI License</li>
</ul>
<p>The FSSAI license is essential to commence the food business, similarly it is imperative to renew the license. The license is issued for a validity of 1 year or 5 years, so the business must apply for renewal 30 days prior to the expiry of current license. FSSAI has introduced an online application called Food Licensing and Registration System (FLRS) so businesses can apply online for the licences. The FLRS is utilized in five Regional Offices for the issue of licenses and entitlements. They are:</p>
<ul class="custom__icon_list">
    <li>Northern Region -New Delhi</li>
    <li>Eastern Region – Kolkata</li>
    <li>North Eastern Region – Guwahati</li>
    <li>Western Region – Mumbai and Kerala</li>
    <li>Southern Region – Chennai</li>
</ul>

                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>