<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;Copyright Registration</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>Copyright Registration</span>
                            <span class="pull-right"> Rs. {{price}}</span>
                    </h3>
                       
                        <ul class="custom_list">
                            <li>What is Copyright Registration?</li>
                        </ul>
                        <p>Copyright registration in India gives monetary rights and benefits to the original creators
                            of literature, art, music, sound recordings, cinematographed films and broadcasts. This
                            enables the creators to make money from their creation by making copies, performing in
                            public, broadcasting, and issuing its copies to the public for various other online uses.
                            Copyright is automatically created at the moment when creator creates something. But, the
                            act of copyright registration in India is important as it gives the creator a legal right in
                            public so that others cannot exploit the creator’s work.</p>
                            <ul class="custom_list">
                                <li>Documents required for Copyright registration in India</li>
                            </ul>
                        <p><b>Details of the applicant</b></p>
                        <p>Name, Address & Nationality of the Applicant (Certificate of Registration must be provided
                            for a body corporate)</p>
                        <p><b>Nature of interest</b></p>
                        <p>
                            Nature of the Applicant’s Interest in the Copyright
                            i.e. if the applicant is the original creator or a representative of the creator
                        </p>

                        <p><b>Details about the work</b></p>
                        <p>i.e. Type & Description of the Work,
                            Title of the Work or URL Language of the Work
                        </p>
                        <p><b>The Date of Publication</b></p>
                        <p>The date when your creative work was first published.</p>
                        <p><b>Lawful Use of Copyrighted Work without Permission</b></p>
                        <p>The law under certain conditions allows the use of a registered work without the permission
                            of the owner for research, study, criticism, review and news reporting, as well as the use
                            of works in library and schools and in the legislatures. In order to protect the interests
                            of users, some exemptions have been prescribed in respect of specific uses of works enjoying
                            copyright. Some of the exemptions are the uses of the work,</p>
                        <ul class="custom_icon_list">
                            <li>for research or private study, ii) for criticism or review,</li>
                            <li>for reporting current events,</li>
                            <li>in connection with judicial proceeding,</li>
                            <li>for performance by an amateur club or society if the performance for a non-paying
                                audience and</li>
                            <li>the making of sound recordings of literary, dramatic or musical works under certain
                                conditions.</li>

                            </ul>
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>