<div class="sidebar-side col-md-4 col-sm-12 col-xs-12">
    <aside class="sidebar default-sidebar">

        <!-- Search -->
        <div class="sidebar-widget request-widget">
            <div class="request-form">
                <div class="inner-box">
                    <h3>CHECKOUT</h3>
                    <!--Comment Form-->
                    <form [formGroup]="form" novalidate>
                        <div class="form-group">
                            <input type="text" placeholder="Name" formControlName="name"
                            [ngClass]="{'is-invalid': !f.name.valid && (f.name.dirty || f.name.touched || isSubmit)}">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email address" formControlName="emailId"
                            [ngClass]="{'is-invalid': !f.emailId.valid && (f.emailId.dirty || f.emailId.touched || isSubmit)}">
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" maxlength="10" placeholder="Your Phone" formControlName="mobile"
                            [ngClass]="{'is-invalid': !f.mobile.valid && (f.mobile.dirty || f.mobile.touched || isSubmit)}">
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" (click)="CreateRegistration();" class="theme-btn btn-style-one">submit</button>
                        </div>
                    </form>
                </div>
            </div><!-- Form Column -->
        </div>

        <!-- Popular Posts -->
        <div class="sidebar-widget related-posts">
            <div class="sidebar-title">
                <h2>Related Case Studies</h2>
            </div>

            <article class="post">
                <figure class="post-thumb"><a href="#"><img src="images/resource/thumb-2.jpg" alt=""></a></figure>
                <h3><a href="blog-single.html">Global Innovation Study</a></h3>
                <p>Before gawked avoidably or far changed astride salmon.</p>
                <a href="blog-single.html" class="learn-more">Learn More</a>
            </article>

            <article class="post">
                <figure class="post-thumb"><a href="#"><img src="images/resource/thumb-3.jpg" alt=""></a></figure>
                <h3><a href="blog-single.html">Strategic Cost Reduction</a></h3>
                <p>Before gawked avoidably or far changed astride salmon.</p>
                <a href="blog-single.html" class="learn-more">Learn More</a>
            </article>

            <article class="post">
                <figure class="post-thumb"><a href="#"><img src="images/resource/thumb-4.jpg" alt=""></a></figure>
                <h3><a href="blog-single.html">Product Supply Chain</a></h3>
                <p>Before gawked avoidably or far changed astride salmon.</p>
                <a href="blog-single.html" class="learn-more">Learn More</a>
            </article>

        </div>

        <!-- Contact Widget -->
        <div class="sidebar-widget contact-widget">
            <div class="sidebar-title">
                <h2>Get In Touch</h2>
            </div>

            <ul class="contact-info-list-two">
                <li>
                    <div class="icon-box"><i class="fas fa-phone"></i></div>
                    <h4>Call Us Today!</h4>
                    <p>+1 (034) 256 7850</p>
                </li>

                <li>
                    <div class="icon-box"><i class="fas fa-envelope-open"></i></div>
                    <h4>Send Email</h4>
                    <p>info@example.com</p>
                </li>

                <li>
                    <div class="icon-box"><i class="fas fa-map-marker-alt"></i></div>
                    <h4>Visit Anytime</h4>
                    <p>3571 Ringer House, Newyork <br> NY, 33220 USA</p>
                </li>
            </ul>
        </div>
    </aside>
</div>