<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;{{lst.name}}</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>Payroll processing and HR management</span>
                            <span class="pull-right"> Rs. {{lst.price}}</span>
                        </h3>
                        <ul class="custom_list">
                            <li>What is Payroll processing?</li>
                        </ul>
                        <p>
                            Payroll is a list of employees that are paid by the company. Payroll is the total amount the
                            employers pay to the employees. A payroll function involves the development of an
                            organization pay policy that includes flexible benefits, leave encashment policy.
                        </p>
                        <p>
                            Payroll management also includes payslip components like basic, variable pay, HRA, and LTA.
                            and also gathering other payroll inputs like the organization's food vendor supply, etc.
                        </p>
                        <p>
                            Payroll and HR management also involve releasing the employees' salary, depositing the dues
                            like TDS, PF, etc with appropriate authorities, and filing returns.
                        </p>
                        <p>
                            Put together Payroll processing includes the calculation of the Net Pay after the tax
                            adjustments and other deductions.
                        </p>

                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>