<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;{{lst.name}}</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>Drug License (Retail/Whoesale) Registration</span>
                            <span class="pull-right"> Rs. {{lst.price}}</span>
                        </h3>
                        <p>Licensing is mandatory to do business in Drugs & Cosmetics in India. The provisions for this
                            has been made in Drugs & Cosmetics Act, 1940 which is applicable to whole of India. It is an
                            Act to consolidate all the laws relating to drugs & cosmetics, which established the Drugs
                            Control Department. In 1964, the Act was amended to include Ayurvedic & Unani drugs. However
                            a particular business entity may require different types of drug license based on their
                            business, you may contact LegalRaasta for consultancy on it.</p>
                        <p>In case a business is operating in more than two states, it has to obtain drug licence in
                            every state in which business is being carried on. Drug licence is location specific. If
                            drugs are sold or stocked for sale at more than one place,application shall be made, and
                            license shall be issued, in respect of each such place except migrant vendors.</p>
                        <p>Once the licence is granted to the business, all such License must ensure that all the
                            condition in the drug licence are complied at all the time during the course of the
                            business. All the records /registers /Forms must be maintained in the manner specified by
                            the licensing authorities and authorities shall be kept informed for all the changes or
                            modification in the business activities.</p>
                        <ul class="custom_list">
                            <li>Documents Required To Obtain Drug License</li>
                        </ul>
                        <p>Following documents are required with application form :</p>
                        <ul class="custom_icon_list">
                            <li>Constitution of the firm (MOA/AOA)</li>
                            <li>Photo ID proof of proprietor/partner/director</li>
                            <li>Copy of Property paper (If owned property)</li>
                            <li>Copy of Rent agreement (If rented property)</li>
                            <li>Site Plan and key plan of the premises</li>
                            <li>Refrigerator invoice and details</li>
                            <li>Affidavit regarding compliance of MPD 2021 (if premises are located on DDA residential
                                flat/ plot/ building)</li>
                        </ul>
                        <ul class="custom_list">
                            <li>Additional Document For Retail Sale Registered Pharmacist</li>
                        </ul>
                        <ul class="custom_icon_list">
                            <li>Proof of qualification i.e. final degree certificate/provisional certificate with mark
                                sheets</li>
                            <li>Registration of Delhi Pharmacy Council</li>
                            <li>Appointment Letter and Bio-data</li>
                        </ul>
                        <ul class="custom_list">
                            <li>Additional Document For Wholesale Licence Competent Person</li>
                        </ul>
                        <ul class="custom_icon_list">
                            <li>Proof of qualification i.e. final degree certificate/provisional certificate with mark
                                sheets</li>
                            <li>Experience Certificate</li>
                            <li>Appointment Letter and Bio-data</li>
                        </ul>
                        <ul class="custom_list">
                            <li>Types Of Drug License</li>
                        </ul>
                        <p>Drug licence is classified under different categories. These are Manufacturing Licence, Sale
                            Licence and Loan licence. Sale licence is further classified as wholesale Licence, Retail
                            Licence and Restricted (Gen.Store) licence depending on the manner in which sales done.</p>
                        <ul class="custom_list">
                            <li>Steps For Getting The Drug License</li>
                        </ul>
                        <p>One can file the Drug License application directly with the government. The process is long
                            and requires 30-60 days to get completed :</p>
                        <p><b>Step 1 :</b></p>
                        <p>Applicant has to obtain user ID and Password by giving request letter in person with the
                            details of the firm.</p>
                        <p><b>Step 2 :</b></p>
                        <p>All the documents should be scanned in 100 dpi and black and white and then should be
                            uploaded using the said ID and Password at space provided for the purpose. All the
                            information is filled precisely for respective application and then e-send the application.
                            The licensing authority may ask for any other specific documents if required.</p>
                        <p><b>Step 3 :</b></p>
                        <p>You will then need to follow-up with the government department for an update on your
                            application. In case of rejection of your application for incomplete information, the fees
                            once paid will be forfeited by the government.</p>
                        <p><b>Step 4 :</b></p>
                        <p>The government department will take 45-60 working days to completely review your application
                            and approve the same. Else, you can hire LegalRaasta for getting the Drug license for you.
                            We get license issued in 98% of our cases and save our customers from all the government
                            hassles.</p>
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>