<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;{{lst.name}}</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>GST Input Tax Credit Reconciliation</span>
                            <span class="pull-right"> Rs. {{lst.price}}</span>
                        </h3>
                        <ul class="custom_list">
                            <li>What is GST input tax?</li>
                        </ul>
                        <p>
                            Input tax is the central tax (CGST), state tax (SGST), integrated tax (IGST) or cess paid by
                            a person having GST registration on supply of goods or services. GST input tax also includes
                            tax paid on reverse charge basis and IGST charged on import of goods. However, input tax
                            does not include tax paid under composition levy.
                        </p>
                        <p>
                            Input tax credit or the ITC is a tax that a business pays on a purchase and can use to
                            reduce the tax liability when it makes a sale. The levy of taxation is based on the
                            value-added at each stage of the supply chain until it reaches the consumer.
                        </p>
                        <p>
                            Goods and Service Tax Act was levied on goods and services based on the principle of value
                            addition. In such a tax system to negate the cascading effect of the tax liability paid on
                            procurement of raw materials, consumables, plants, and machinery, etc. This element used to
                            offset the tax liability is called an input tax credit.
                        </p>
                        <p>
                            Under GST, every person having <u>GST registration</u> in the supply chain takes part in
                            controlling, collecting the GST tax, and remitting the collected amount.
                        </p>
                        <p>
                            To avoid double taxation and the cascading effect of tax input, the tax credit is provided
                            to set off tax paid on the procurement of raw materials, consumables, goods, or services
                            used in the manufacturing, supply, and sale of goods or services.
                        </p>
                        <p>
                            Using the input tax credit mechanism, the business can achieve neutrality in the incidence
                            of tax and ensure that such input tax element does not enter into the cost of production or
                            the cost of supply of goods and services.
                        </p>

                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>