    <!--Main Slider-->
    <section class="main-slider">
        <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_486_1_wrapper" data-source="gallery">
            <div class="rev_slider fullwidthabanner" id="rev_slider_486_1" data-version="5.4.1">
                <ul>
                    <!-- Slide 1 -->
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="assets/images/main-slider/image-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                        
                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="assets/images/main-slider/image-1.png"> 
                        
                        <div class="tp-caption tp-resizeme" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-width="none"
                        data-hoffset="['15','15','15','15']"
                        data-voffset="['175','175','175','175']"
                        data-x="['center','center','center','center']"
                        data-y="['top','top','top','top']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                           <h5>Our coaching helps you to achieve consistency</h5>
                        </div>

                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-fontsize="['64','40','36','24']"
                        data-width="auto"
                        data-hoffset="['0','15','15','15']"
                        data-voffset="['210','210','210','210']"
                        data-x="['center','center','center','center']"
                        data-y="['top','top','top','top']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        	<h2>Achieve Higher Winning Rates &amp;<br> Valuable Business Contracts</h2>
                        </div>
                        
                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="normal"
                        data-width="['880','670','580','500']"
                        data-hoffset="['0','15','15','15']"
                        data-voffset="['5','5','50','60']"
                        data-x="['center','center','center','center']"
                        data-y="['center','center','center','center']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        	<h4>Toward and professopnal some egret gnu underlay danced as stopped oh variously gosh amazing</h4>
                        </div>
                        
                        <div class="tp-caption tp-resizeme" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-width="none"
                        data-hoffset="['0','15','15','15']"
                        data-voffset="['105','110','145','170']"
                        data-x="['center','center','center','center']"
                        data-y="['center','center','center','center']"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                        	<a href="about.html" class="theme-btn btn-style-one">More About Us</a>
                            <a href="services.html" class="theme-btn btn-style-two">Free Consultation</a>
                        </div>
                    </li>

                    <!-- Slide 1 -->
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1689" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="assets/images/main-slider/image-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                        
                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="assets/images/main-slider/consulting.jpg"> 
                        
                        <div class="tp-caption tp-resizeme" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-width="none"
                        data-hoffset="['15','15','15','15']"
                        data-voffset="['175','175','175','175']"
                        data-x="['center','center','center','center']"
                        data-y="['top','top','top','top']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                           <h5>Our coaching helps you to achieve consistency</h5>
                        </div>

                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-fontsize="['64','40','36','24']"
                        data-width="auto"
                        data-hoffset="['0','15','15','15']"
                        data-voffset="['210','210','210','210']"
                        data-x="['center','center','center','center']"
                        data-y="['top','top','top','top']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                            <h2>Achieve Higher Winning Rates &amp;<br> Valuable Business Contracts</h2>
                        </div>
                        
                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="normal"
                        data-width="['880','670','580','500']"
                        data-hoffset="['0','15','15','15']"
                        data-voffset="['5','5','50','60']"
                        data-x="['center','center','center','center']"
                        data-y="['center','center','center','center']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                            <h4>Toward and professopnal some egret gnu underlay danced as stopped oh variously gosh amazing</h4>
                        </div>
                        
                        <div class="tp-caption tp-resizeme" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-width="none"
                        data-hoffset="['0','15','15','15']"
                        data-voffset="['105','110','145','170']"
                        data-x="['center','center','center','center']"
                        data-y="['center','center','center','center']"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                            <a href="about.html" class="theme-btn btn-style-one">More About Us</a>
                            <a href="services.html" class="theme-btn btn-style-two">Free Consultation</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </section>
    <!--End Main Slider-->
    
    <!-- Features Section -->
    <section class="features-section" id="services">
        <div class="feature-container">
            <div class="features-outer clearfix">
                <div class="feature-block">
                    <div class="inner-box">
                        <div class="icon-box"><i class="flaticon-pie-chart"></i></div>
                        <h4><a href="/PrivateLimitedCompany">Startup</a></h4>
                    </div>
                </div>

                <div class="feature-block">
                    <div class="inner-box">
                        <div class="icon-box"><i class="flaticon-money"></i></div>
                        <h4><a href="/PartnershipFirmTaxReturnFiling">Income Tax</a></h4>
                    </div>
                </div>

                <div class="feature-block">
                    <div class="inner-box">
                        <div class="icon-box"><i class="flaticon-time"></i></div>
                        <h4><a href="/CopyrightRegistration">Intellectual Property</a></h4>
                    </div>
                </div>

                <div class="feature-block">
                    <div class="inner-box">
                        <div class="icon-box"><i class="flaticon-blackboard-with-chart"></i></div>
                        <h4><a href="#">Goods & Services Tax</a></h4>
                    </div>
                </div>

                <div class="feature-block">
                    <div class="inner-box">
                        <div class="icon-box"><i class="flaticon-piggy-bank"></i></div>
                        <h4><a href="#">Compliance</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Features -->

    <!-- Intro Section -->
    <section class="intro-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="title-column col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <span>help you to achieve consistency</span>
                            <h3>Achieve massive results<br> with our programs & make sure to grow with experience</h3>
                        </div>
                    </div>
                </div>

                <div class="counter-column col-lg-7 col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <p>But in and from by crane over jeez on gosh until after about meticulously because ladybug house woodchuck oh put irrespective a or one the the some excluding hey the took qualitative punitively irksome on childishly then rebellious less and this walking creatively up dealt towards behind.</p>
                        
                        <p>Academically kookaburra persistent hungrily one jeepers more impatiently much far together qualitatively much gosh.</p>

                        <div class="fact-counter">
                            <div class="row clearfix">
                                <!--Column-->
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="count-outer count-box">
                                        <span class="count-text" data-speed="3500" data-stop="926">0</span>
                                        <h4 class="counter-title">Trusted Clients</h4>
                                    </div>
                                </div>
                                <!--Column-->
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="count-outer count-box">
                                        <span class="count-text" data-speed="3000" data-stop="807">0</span>
                                        <h4 class="counter-title">Orders in Queue</h4>
                                    </div>
                                </div>
                                <!--Column-->
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="count-outer count-box">
                                        <span class="count-text" data-speed="2500" data-stop="254">0</span>
                                        <h4 class="counter-title">Expert Consultants</h4>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End Fact Counter -->
                    </div>
                </div>
            </div>
        </div>   
    </section>
    <!-- End Intro Section -->

    <!--Fluid Section -->
    <section class="fluid-section">
        <div class="outer-container clearfix">
            <!--Content Column-->
            <div class="content-column">
                <div class="inner-column">
                    <div class="sec-title centered">
                        <h2>Providing highly <b>effective</b> &amp; <b>flexible</b> business with 
                            <span class="logo">Consell</span><span>PRO</span>
                        </h2>
                    </div>
                    <h3>We build delivery partnerships to perform!</h3>
                    <div class="text">
                        <p>The wow so eclectic hypocritical rose swore boa significantly pushed under the frugal lemur blamelessly one meretricious lucrative inside before swept gravely magnificently jocose gawked thus the hey inappreciable staid alas manatee exited less and flamingo depending immodest the fishy eccentric pompous however dear cardinal.</p>
                    </div>
                    <div class="link-box">
                        <a href="services.html" class="theme-btn btn-style-one">Get Started Today!</a>
                    </div>
                </div>
            </div>

            <!--Image Column-->
            <div class="image-column" style="background-image:url(assets/images/resource/flexible.jpeg);">
                <figure class="image-box"><img src="assets/images/resource/flexible.jpeg" alt=""></figure>
                <div class="info-box"><h3><i class="fas fa-phone-volume"></i> (034) 256-7850</h3></div>
            </div>
        </div>
    </section>
    <!--End Fluid Section-->

    <!-- Services Section -->
    <section class="services-section">
        <div class="auto-container">
            <div class="sec-title centered">
                <span>help you to achieve consistency</span>
                <h2>Solutions We Offer</h2>
            </div>

            <!-- Offer Block -->
            <div class="service-block">
                <div class="row clearfix">
                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                        <figure class="image"><img src="assets/images/resource/offer-img-1.jpg" alt=""></figure>
                    </div>
                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                        <div class="inner-column">
                            <div class="title">
                                <h3><a href="services-single.html">Business Solutions</a></h3>
                                <span>Expert Consultancy Services</span>
                            </div>
                            <p>Role swore boa significantly pushed under the frugal lemur one meretricious lucrative inside before swept magnificently jocose gawked thus the hey inappreciable staid alas manat.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Offer Block -->
            <div class="service-block">
                <div class="row clearfix">
                    <div class="image-column pull-right col-md-6 col-sm-12 col-xs-12">
                        <figure class="image"><img src="assets/images/resource/offer-img-2.jpg" alt=""></figure>
                    </div>
                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                        <div class="inner-column">
                            <div class="title">
                                <h3><a href="services-single.html">Market Researches</a></h3>
                                <span>Expert Consultancy Services</span>
                            </div>
                            <p>Role swore boa significantly pushed under the frugal lemur one meretricious lucrative inside before swept magnificently jocose gawked thus the hey inappreciable staid alas manat.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Offer Block -->
            <div class="service-block">
                <div class="row clearfix">
                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                        <figure class="image"><img src="assets/images/resource/offer-img-3.jpg" alt=""></figure>
                    </div>
                    <div class="content-column col-md-6 col-sm-12 col-xs-12">
                        <div class="inner-column">
                            <div class="title">
                                <h3><a href="services-single.html">Financial Analysis</a></h3>
                                <span>Expert Consultancy Services</span>
                            </div>
                            <p>Role swore boa significantly pushed under the frugal lemur one meretricious lucrative inside before swept magnificently jocose gawked thus the hey inappreciable staid alas manat.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Link Box -->
            <div class="link-box">
                <a href="#services" class="theme-btn btn-style-two">View All Services</a>
            </div>
        </div>
    </section>
    <!-- End Services Section -->

    <!-- End Services Section -->
    <section class="business-section d-none" style="background-image: url(assets/images/background/1.jpg);">
        <div class="auto-container">
            <div class="sec-title light centered">
                <span>help you to achieve consistency</span>
                <h1>Business Operations</h1>
                <h2>Grow with maximum efficiency</h2>
            </div>

            <div class="business-opration">
                <div class="business-slider owl-carousel owl-theme">
                    <!-- Slide Item -->
                    <div class="slide-item">
                        <div class="row">
                            <div class="image-column col-md-6 col-sm-12 col-xs-12">
                                <figure class="image"><img src="images/resource/business-img.jpg" alt=""></figure>
                            </div>
                            <div class="content-column col-md-6 col-xs-12 col-xs-12">
                                <div class="inner-box">
                                    <div class="title">
                                        <h3>Karry Biz Solutions</h3>
                                        <span>Featured Case Study</span>
                                    </div>
                                    <div class="text">
                                        <h5>Project Briefing</h5>
                                        <p>Role swore boa significantly sed pushed under the frugal lemur one meretricious lucrative inside before duial swept magnificently.</p>
                                    </div>
                                    <div class="text">
                                        <h5>Achievements</h5>
                                        <p>Significantly pushed under the frugal lemur one meretricious lucrative inside before swept magnificently expand business.</p>
                                    </div>
                                    <ul class="list-style-one">
                                        <li>Consell input moaned reindeer regardless</li>
                                        <li>Including amidst and far frog far ambidextrous</li>
                                        <li>Andiscreet so far clumsily adve</li>
                                    </ul>
                                    <a href="services-single.html" class="theme-btn btn-style-one">More Details</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slide Item -->
                    <div class="slide-item">
                        <div class="row">
                            <div class="image-column col-md-6 col-sm-12 col-xs-12">
                                <figure class="image"><img src="assets/images/resource/business-img.jpg" alt=""></figure>
                            </div>
                            <div class="content-column col-md-6 col-xs-12 col-xs-12">
                                <div class="inner-box">
                                    <div class="title">
                                        <h3>Karry Biz Solutions</h3>
                                        <span>Featured Case Study</span>
                                    </div>
                                    <div class="text">
                                        <h5>Project Briefing</h5>
                                        <p>Role swore boa significantly sed pushed under the frugal lemur one meretricious lucrative inside before duial swept magnificently.</p>
                                    </div>
                                    <div class="text">
                                        <h5>Achievements</h5>
                                        <p>Significantly pushed under the frugal lemur one meretricious lucrative inside before swept magnificently expand business.</p>
                                    </div>
                                    <ul class="list-style-one">
                                        <li>Consell input moaned reindeer regardless</li>
                                        <li>Including amidst and far frog far ambidextrous</li>
                                        <li>Andiscreet so far clumsily adve</li>
                                    </ul>
                                    <a href="services-single.html" class="theme-btn btn-style-one">More Details</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slide Item -->
                    <div class="slide-item">
                        <div class="row">
                            <div class="image-column col-md-6 col-sm-12 col-xs-12">
                                <figure class="image"><img src="assets/images/resource/business-img.jpg" alt=""></figure>
                            </div>
                            <div class="content-column col-md-6 col-xs-12 col-xs-12">
                                <div class="inner-box">
                                    <div class="title">
                                        <h3>Karry Biz Solutions</h3>
                                        <span>Featured Case Study</span>
                                    </div>
                                    <div class="text">
                                        <h5>Project Briefing</h5>
                                        <p>Role swore boa significantly sed pushed under the frugal lemur one meretricious lucrative inside before duial swept magnificently.</p>
                                    </div>
                                    <div class="text">
                                        <h5>Achievements</h5>
                                        <p>Significantly pushed under the frugal lemur one meretricious lucrative inside before swept magnificently expand business.</p>
                                    </div>
                                    <ul class="list-style-one">
                                        <li>Consell input moaned reindeer regardless</li>
                                        <li>Including amidst and far frog far ambidextrous</li>
                                        <li>Andiscreet so far clumsily adve</li>
                                    </ul>
                                    <a href="services-single.html" class="theme-btn btn-style-one">More Details</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--End Buisness Section -->

    <!-- Success Step -->
    <section class="success-steps">
        <div class="auto-container">
            <div class="sec-title centered">
                <span>help you to achieve consistency</span>
                <h2>Steps for Success</h2>
            </div>
            <div class="row clearfix">
                <div class="step col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <h4><a href="#">Steps for Success</a></h4>
                        <p>Much within alas because indecent much along by that inescapable outside hello </p>
                    </div>
                </div>

                <div class="step col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <h4><a href="#">Making the Strategy</a></h4>
                        <p>Much within alas because indecent much along by that inescapable outside hello </p>
                    </div>
                </div>

                <div class="step col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <h4><a href="#">Watch Business Grow</a></h4>
                        <p>Much within alas because indecent much along by that inescapable outside hello </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Success Step -->

    <!-- Team Section -->
    <section class="team-section">
    	<!--Image Layer-->
        <div class="image-layer" style="background-image: url(assets/images/background/2.jpg);"></div>
        
        <div class="outer-container clearfix">
            <div class="info-column clearfix">

                <div class="inner-column">
                    <div class="sec-title light">
                        <span>help you to achieve consistency</span>
                        <h2>Our Strategy Makers</h2>
                        <p>We make a difference by applying many years of experience with proven knowledge!</p>
                    </div>

                    <div class="text">The wow so eclectic hypocritical sworea significantly pushed under the frugal lemur lest one meretricious lucrative inside before swept gravely magnificently staid.</div>

                    
                    <!--Progress Bars-->
                    <div class="progress-bars">
                        <!--Skill Item-->
                        <div class="bar-item">
                            <div class="skill-header clearfix">
                                <div class="skill-title">Consulting Approach</div>
                                <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="95">0</span>%</div></div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner"><div class="bar progress-line" data-width="95"></div></div>
                            </div>
                        </div>
                        <!--Skill Item-->
                        <div class="bar-item">
                            <div class="skill-header clearfix">
                                <div class="skill-title">Business Mentoring</div>
                                <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="62">0</span>%</div></div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner"><div class="bar progress-line" data-width="62"></div></div>
                            </div>
                        </div>
                        <!--Skill Item-->
                        <div class="bar-item">
                            <div class="skill-header clearfix">
                                <div class="skill-title">Planning & Development</div>
                                <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="80">0</span>%</div></div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner"><div class="bar progress-line" data-width="80"></div></div>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>

            <div class="team-column">
                <div class="inner-column">
                    <div class="row clearfix">
                        <!-- Team Block -->
                        <div class="team-block col-md-4 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image"><img src="assets/images/resource/team-1.jpg" alt=""></figure>
                                <div class="caption-box">
                                    <div class="name"><a href="#">James Camron</a></div>
                                    <span class="designation">Business Analyist</span>
                                    <ul class="social-icon-two">
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Team Block -->
                        <div class="team-block col-md-4 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image"><img src="assets/images/resource/team-2.jpg" alt=""></figure>
                                <div class="caption-box">
                                    <div class="name"><a href="#">James Camron</a></div>
                                    <span class="designation">Business Analyist</span>
                                    <ul class="social-icon-two">
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Team Block -->
                        <div class="team-block col-md-4 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image"><img src="assets/images/resource/team-3.jpg" alt=""></figure>
                                <div class="caption-box">
                                    <div class="name"><a href="#">James Camron</a></div>
                                    <span class="designation">Business Analyist</span>
                                    <ul class="social-icon-two">
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Team Block -->
                        <div class="team-block col-md-4 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image"><img src="assets/images/resource/team-4.jpg" alt=""></figure>
                                <div class="caption-box">
                                    <div class="name"><a href="#">James Camron</a></div>
                                    <span class="designation">Business Analyist</span>
                                    <ul class="social-icon-two">
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Team Block -->
                        <div class="team-block col-md-4 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image"><img src="assets/images/resource/team-5.jpg" alt=""></figure>
                                <div class="caption-box">
                                    <div class="name"><a href="#">James Camron</a></div>
                                    <span class="designation">Business Analyist</span>
                                    <ul class="social-icon-two">
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Team Block -->
                        <div class="team-block col-md-4 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <figure class="image"><img src="assets/images/resource/team-6.jpg" alt=""></figure>
                                <div class="caption-box">
                                    <div class="name"><a href="#">James Camron</a></div>
                                    <span class="designation">Business Analyist</span>
                                    <ul class="social-icon-two">
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Team Section -->

    <!-- Pricing Section -->
    <section class="pricing-section">
        <div class="auto-container">
            <div class="sec-title centered">
                <span>help you to achieve consistency</span>
                <h2>Our Pricing Details</h2>
                <p>Persistent wow away wallaby and when weasel and this sheep gerbil but yikes aboard one bearish and thoroughly opposite so deliberately on benigas</p>
            </div>

            <div class="row clearfix">
                <!-- Pricing Table -->
                <div class="pricing-table col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="title"><span>Standard</span></div>
                        <div class="price"><h2><span>$</span>15</h2> Per Month</div>
                        
                        <div class="table-content">
                            <ul>
                                <li>Retail Productivity Analysis</li>
                                <li>Data Driven Products</li>
                                <li>Full Business Acceleration</li>
                                <li>Enhanced Strategies</li>
                            </ul>
                        </div>
                        
                        <div class="table-footer">
                            <a href="#" class="theme-btn btn-style-two">Get Started</a>
                        </div>
                        
                    </div>
                </div>

                <!-- Pricing Table -->
                <div class="pricing-table tagged col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="title"><span>Advanced</span></div>
                        <div class="price"><h2><span>$</span>45</h2> Per Month</div>
                        
                        <div class="table-content">
                            <ul>
                                <li>Retail Productivity Analysis</li>
                                <li>Data Driven Products</li>
                                <li>Full Business Acceleration</li>
                                <li>Enhanced Strategies</li>
                            </ul>
                        </div>
                        
                        <div class="table-footer">
                            <a href="#" class="theme-btn btn-style-two">Get Started</a>
                        </div>
                        
                    </div>
                </div>

                <!-- Pricing Table -->
                <div class="pricing-table col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="title"><span>Premium</span></div>
                        <div class="price"><h2><span>$</span>75</h2> Per Month</div>
                        
                        <div class="table-content">
                            <ul>
                                <li>Retail Productivity Analysis</li>
                                <li>Data Driven Products</li>
                                <li>Full Business Acceleration</li>
                                <li>Enhanced Strategies</li>
                            </ul>
                        </div>
                        
                        <div class="table-footer">
                            <a href="#" class="theme-btn btn-style-two">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Pricing Section -->

    <!-- Subscribe Section -->
    <!-- <section class="subscribe-section" style="background-image: url(assets/images/background/3.jpg);">
        <div class="auto-container">
            <div class="content">
                <span>help you to achieve consistency</span>
                <h1>Bespoke Services For Clients</h1>
                <h3>We offer dependable advices based on years of experience</h3>
                <a href="services-2.html" class="theme-btn btn-style-one">Get Started Today!</a>
            </div>
        </div>
    </section> -->
    <!-- End Subscribe Section -->

    <!-- Testimonial Section -->
    <section class="testimonial-section">
        <div class="auto-container">
            <div class="sec-title centered">
                <span>help you to achieve consistency</span>
                <h2>Successful Stories</h2>
            </div>

            <div class="testimonial-carousel owl-carousel owl-theme">
                <!-- Slide item -->
                <div class="slide-item">
                    <div class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></div>
                    <p>Since vindictively over agile the some far well besides constructively well airy then one during with close excellent grabbed gosh contrary far dalmatian upheld intrepid bought and toucan majestic more some apart dear boa much cast falcon a dwelled ouch busy.</p>
                    <div class="quote-icon"><i class="fa fa-quote-left"></i></div>
                    
                    <div class="name"><a href="#">James Camron</a> <span class="designation">Business Analyist</span></div>
                </div>

                <!-- Slide item -->
                <div class="slide-item">
                    <div class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></div>
                    <p>Since vindictively over agile the some far well besides constructively well airy then one during with close excellent grabbed gosh contrary far dalmatian upheld intrepid bought and toucan majestic more some apart dear boa much cast falcon a dwelled ouch busy.</p>
                   <div class="quote-icon"><i class="fa fa-quote-left"></i></div>
                    <div class="name"><a href="#">James Camron</a> <span class="designation">Business Analyist</span></div>
                </div>

                <!-- Slide item -->
                <div class="slide-item">
                    <div class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></div>
                    <p>Since vindictively over agile the some far well besides constructively well airy then one during with close excellent grabbed gosh contrary far dalmatian upheld intrepid bought and toucan majestic more some apart dear boa much cast falcon a dwelled ouch busy.</p>
                   <div class="quote-icon"><i class="fa fa-quote-left"></i></div>
                    <div class="name"><a href="#">James Camron</a> <span class="designation">Business Analyist</span></div>
                </div>

                <!-- Slide item -->
                <div class="slide-item">
                    <div class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></div>
                    <p>Since vindictively over agile the some far well besides constructively well airy then one during with close excellent grabbed gosh contrary far dalmatian upheld intrepid bought and toucan majestic more some apart dear boa much cast falcon a dwelled ouch busy.</p>
                   <div class="quote-icon"><i class="fa fa-quote-left"></i></div>
                    <div class="name"><a href="#">James Camron</a> <span class="designation">Business Analyist</span></div>
                </div>

                <!-- Slide item -->
                <div class="slide-item">
                    <div class="thumb"><img src="assets/images/resource/thumb-1.jpg" alt=""></div>
                    <p>Since vindictively over agile the some far well besides constructively well airy then one during with close excellent grabbed gosh contrary far dalmatian upheld intrepid bought and toucan majestic more some apart dear boa much cast falcon a dwelled ouch busy.</p>
                   <div class="quote-icon"><i class="fa fa-quote-left"></i></div>
                    <div class="name"><a href="#">James Camron</a> <span class="designation">Business Analyist</span></div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Testimonials -->

    <!-- News Section -->
    <section class="news-secton">
        <div class="auto-container">
            <div class="sec-title centered">
                <span>help you to achieve consistency</span>
                <h2>Our News</h2>
                <p>Persistent wow away wallaby and when weasel and this sheep gerbil but yikes aboard one bearish and thoroughly opposite so deliberately on benigas</p>
            </div>

            <div class="row clearfix">
                <div class="column col-md-6 col-sm-12 col-xs-12">
                    <!-- News Block --> 
                    <div class="news-block">
                        <div class="inner-box">
                            <div class="image-box">
                                <a href="blog-single.html"><img src="assets/images/resource/news-1.jpg" alt=""></a>
                            </div>
                            <div class="content-box">
                                <div class="title">
                                    <h3><a href="blog-single.html">Management System Implementation is useful for Business</a></h3>
                                </div>
                                <ul class="post-info">
                                    <li>Feb 26, 2018</li>
                                    <li><a href="blog-single.html">Feb 26, 2018</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column col-md-6 col-sm-12 col-xs-12">
                    <!-- News Block --> 
                    <div class="news-block">
                        <div class="inner-box">
                            <div class="content-box">
                                <div class="title">
                                    <h3><a href="blog-single.html">Business affluently rang wildebeest this more oh insect slung</a></h3>
                                    <p>Much within alas because indecent much along that inescapable</p>
                                </div>
                                <ul class="post-info">
                                    <li>Feb 26, 2018</li>
                                    <li><a href="blog-single.html">Feb 26, 2018</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- News Block --> 
                    <div class="news-block">
                        <div class="inner-box">
                            <div class="content-box">
                                <div class="title">
                                    <h3><a href="blog-single.html">Services undid fitted and after winced faulty however goodness </a></h3>
                                    <p>Much within alas because indecent much along that inescapable</p>
                                </div>
                                <ul class="post-info">
                                    <li>Feb 26, 2018</li>
                                    <li><a href="blog-single.html">Feb 26, 2018</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End News Section -->

    <!-- Sponsors -->
    <section class="sponsor-section">
        <div class="auto-container">
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <!-- Slide Item -->
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="assets/images/clients/1.jpg" alt=""></a>
                    </figure>
                </li>

                <!-- Slide Item -->
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="assets/images/clients/2.jpg" alt=""></a>
                    </figure>
                </li>

                <!-- Slide Item -->
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="assets/images/clients/3.jpg" alt=""></a>
                    </figure>
                </li>

                <!-- Slide Item -->
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="assets/images/clients/4.jpg" alt=""></a>
                    </figure>
                </li>
            </ul>
        </div>
    </section>
    <!-- End Sponsors -->

    <!--Contact Map Section-->
    <section class="map-section">
        <!--Map Outer-->
        <div class="map-outer">
            <!--Map Canvas-->
            <div class="map-canvas"
                data-zoom="12"
                data-lat="-37.817085"
                data-lng="144.955631"
                data-type="roadmap"
                data-hue="#ffc400"
                data-title="Envato"
                data-icon-path="assets/images/icons/map-marker.png"
                data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
            </div>
        </div>
    </section>
    <!-- End Map Section -->

    <!-- Contact Form  -->
    <section class="contact-form-section">
        <div class="auto-container">
            <div class="sec-title centered">
                <span>help you to achieve consistency</span>
                <h2>Got Any Questions?</h2>
                <p>Persistent wow away wallaby and when weasel and this sheep gerbil but yikes aboard one bearish and thoroughly opposite so deliberately on benigas</p>
            </div>
           <div class="contact-form">
                <!--Contact Form-->
                <form method="post" id="contact-form" [formGroup]="ContactUsForm">
                    <div class="row clearfix">
                        <div class="form-group col-md-6 col-sm-12 col-xs-12">
                            <input type="text" name="name" placeholder="Name" formControlName="name">
                            <div *ngIf="submitted && f.name.errors" class="Customerror">
                                <div>Name is required
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-12 col-xs-12">
                            <input type="email" name="email" placeholder="Email address" formControlName="email">
                            <div *ngIf="submitted && f.email.errors" class="Customerror">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>

                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <input type="text" name="subject" placeholder="Subject" formControlName="subject">
                            <div *ngIf="submitted && f.subject.errors" class="Customerror">
                                <div>Subject is required
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <textarea name="message" placeholder="Message" formControlName="message"></textarea>
                            <div *ngIf="submitted && f.message.errors" class="Customerror">
                                <div>Message is required
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12 col-sm-12 col-xs-12 text-center">
                            <button type="submit" class="theme-btn btn-style-two" (click)="Save()">Send Message</button>
                        </div>
                                            
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- End Contact Form  -->

    
 