.search-box-outer {
    padding: 32px 0 20px !important;
}
.main-menu .navigation > li {
    padding: 32px 0px 20px !important;
}
.main-header .main-box .logo-box {
    padding: 10px 0px !important;
}
.main-header .sticky-header .main-menu .navigation > li {
    padding: 0 !important;
}
p, .text {
    font-weight: 500 !important;
}
.fluid-section .content-column h3 {
    font-weight: 500 !important;
}
.sponsor-section {
    padding: 0 !important;
}
p.MsoNormal {
    font-size: 17px !important;
    line-height: 23px !important;
}
.page-title p {
    text-align: center !important;
    padding-top: 10px !important;
}
.pricing-table .inner-box .title span {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(51 51 51);
    letter-spacing: .5px;
}
.pricing-table .table-content ul li {
    font-size: 17px !important;
    line-height: 32px !important;
    font-weight: 400 !important;
}
.main-menu .navigation > li.dropdown:hover > ul {
    top: 113% !important;
}
.main-header .dropdown-menu {
    top: 53px !important;
}
.fact-counter .count-outer .counter-title {
    font-size: 17px !important;
    color: #006aea !important;
    font-weight: 600 !important;
}
.service-detail p {
    font-family: 'Poppins' !important;
    color: #292929 !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 30px !important;
}
.service-detail h3 {
    font-weight: 700;
    color: #2f2f2f;
    margin: 25px 0;
}
.custom_list li{
    font-weight: 600;
    color: #036a82;
    font-size: 22px;
}
.custom_icon_list li:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f058";
    padding-right: 10px;
    color: #086e86;
    font-size: 16px;
  }
  .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 5px;
}
.bus_head {
    font-size: 25px !important;
    margin-bottom: 40px !important;
    color: #292929;
    /* font-weight: 700 !important; */
}
.thank_bus_head {
    font-size: 25px !important;
    /* margin-bottom: 40px !important; */
    color: #292929;
    font-weight: 600 !important;
}
.order_table>tbody>tr>td, .order_table>tbody>tr>th, .order_table>tfoot>tr>td, .order_table>tfoot>tr>th, .order_table>thead>tr>td, .order_table>thead>tr>th {
    padding: 5px;
}

.checkout_page{
    padding: 60px 0;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-title {
    margin-bottom: .75rem;
}
.custom_card .content__heading.card-title {
    font-size: 35px;
    font-family: 'Poppins';
    text-align: center;
    color: #3d3f40;
    text-transform: uppercase;
    font-weight: 600;
}

.custom_card label.entry__label {
    font-weight: 500;
    color: black;
}

.custom_card input, .custom_card select {
    height: 40px;
    border-radius: 0;
}
  .custom_icon_list li {
    text-indent: -25px;
    margin-left: 25px !important;
    font-weight: 500;
}

.MsoNormal b span {
    font-size: 20px !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
}
.service-detail h2{
    font-size: 19px !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
    color: black !important;
    padding: 15px 0;
    word-break: break-all;
    line-height: 30px;
}
.service-detail p, .service-detail p span {
    font-family: 'Poppins' !important;
    color: #3e3d3d !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 30px !important;
    margin-bottom: 15px;
}
.service-detail ul, .service-detail ol {
    font-family: 'Poppins' !important;
    color: #292929 !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 25px !important;
}
.custom_icon_list{
    margin:0px;
}
.main-menu .navigation > li.dropdown:hover > ul {
    top: 100% !important;
}
.sidebar .related-posts .post .date, .sidebar .related-posts .post .learn-more {
    color: #ffffff !important;
    font-size: 12px !important;
    text-transform: capitalize !important;
    font-weight: 500 !important;
    background-color: #006aea !important;
    padding: 3px 6px !important;
    border-radius: 3px !important;
}
.contact-info-list-two li .icon-box {
    color: #006aea !important;
}
/* .request-form {
    background-color: #2e899e1c !important;
    border-top: 3px solid #006aea !important;
    border-radius: 5px !important;
    border: 1px solid gainsboro;
}
.request-form h3 {
    color: #212020 !important;
    margin-bottom: 20px !important;
}
.request-form .ui-selectmenu-button.ui-button, .request-form .form-group input[type="text"], .request-form .form-group input[type="password"], .request-form .form-group input[type="tel"], .request-form .form-group input[type="url"], .request-form .form-group input[type="email"], .request-form .form-group textarea, .request-form .form-group select {
    padding: 10px 15px !important;
    height: 45px !important;
    border: 1px solid #dcdcdcab !important;
    color: #4e4e4e !important;
    background-color: rgb(255 255 255) !important;
    font-weight: 500 !important;
}
.request-form .form-group .btn-style-one {
    background: #006aea !important;
    border: 2px solid #006aea !important;
}
.request-form .form-group button:hover {
    border: 2px solid #006aea !important;
    background-color: #ffffff !important;
} */
.fact-counter .count-outer {
    text-align: center !important;
}
.d-none{
    display:none;
}
.custom_table th {
    color: #252525;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid gainsboro !important;
    padding: 10px 10px !important;
    background-color: #efefef;
}

.custom_table td {
    font-size: 14px;
    color: #3a3a3a;
    font-weight: 500;
    border: 1px solid gainsboro !important;
    padding: 11px 10px !important;
}
.custom_icon_list li a {
    color: #035265;
    /* text-decoration: none !important; */
    line-height: 33px;
}
.custom_table .table {
    border: 1px solid gainsboro;
}
.order_table p {
    font-size: 15px !important;
    margin-bottom: 0 !important;
    font-weight: 400 !important;
}

.summary_title {
    font-size: 25px;
    color: #2e899e;
    margin: 0px 0 20px 0;
}
.pdt_price_txt {
    margin-bottom: 0 !important;
}

.checkout_page .card.custom_card {
    height: 330px;
}
