
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon.woff") format("woff"),
       url("../fonts/flaticon.ttf") format("truetype"),
       url("../fonts/flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-telephone-4:before { content: "\f100"; }
.flaticon-telephone-3:before { content: "\f101"; }
.flaticon-time-watch:before { content: "\f102"; }
.flaticon-black-open-envelope-back:before { content: "\f103"; }
.flaticon-piggy-bank:before { content: "\f104"; }
.flaticon-blackboard-with-chart:before { content: "\f105"; }
.flaticon-time:before { content: "\f106"; }
.flaticon-money:before { content: "\f107"; }
.flaticon-pie-chart:before { content: "\f108"; }
.flaticon-vine:before { content: "\f109"; }
.flaticon-vimeo:before { content: "\f10a"; }
.flaticon-linkedin:before { content: "\f10b"; }
.flaticon-pinterest:before { content: "\f10c"; }
.flaticon-google-plus:before { content: "\f10d"; }
.flaticon-twitter:before { content: "\f10e"; }
.flaticon-whatsapp:before { content: "\f10f"; }
.flaticon-facebook:before { content: "\f110"; }
.flaticon-instagram:before { content: "\f111"; }
.flaticon-map-1:before { content: "\f112"; }
.flaticon-smartphone-2:before { content: "\f113"; }
.flaticon-e-mail-envelope:before { content: "\f114"; }
.flaticon-presentation-whiteboard:before { content: "\f115"; }
.flaticon-man:before { content: "\f116"; }
.flaticon-target-1:before { content: "\f117"; }
.flaticon-arrows-8:before { content: "\f118"; }
.flaticon-arrows-7:before { content: "\f119"; }
.flaticon-arrow:before { content: "\f11a"; }
.flaticon-arrows-6:before { content: "\f11b"; }
.flaticon-arrows-5:before { content: "\f11c"; }
.flaticon-arrows-4:before { content: "\f11d"; }
.flaticon-arrows-3:before { content: "\f11e"; }
.flaticon-arrows-2:before { content: "\f11f"; }
.flaticon-right-arrow:before { content: "\f120"; }
.flaticon-left-arrow:before { content: "\f121"; }
.flaticon-delete-button:before { content: "\f122"; }
.flaticon-close-envelope:before { content: "\f123"; }
.flaticon-cancel:before { content: "\f124"; }
.flaticon-cancel-music:before { content: "\f125"; }
.flaticon-hourglass:before { content: "\f126"; }
.flaticon-alarm-clock:before { content: "\f127"; }
.flaticon-website-design-symbol:before { content: "\f128"; }
.flaticon-eye-1:before { content: "\f129"; }
.flaticon-safe:before { content: "\f12a"; }
.flaticon-airplane:before { content: "\f12b"; }
.flaticon-travel:before { content: "\f12c"; }
.flaticon-danger-sing:before { content: "\f12d"; }
.flaticon-aeroplane:before { content: "\f12e"; }
.flaticon-wifi:before { content: "\f12f"; }
.flaticon-key:before { content: "\f130"; }
.flaticon-loupe-1:before { content: "\f131"; }
.flaticon-settings-3:before { content: "\f132"; }
.flaticon-eye:before { content: "\f133"; }
.flaticon-favorite:before { content: "\f134"; }
.flaticon-settings-2:before { content: "\f135"; }
.flaticon-mobile-phone:before { content: "\f136"; }
.flaticon-agenda:before { content: "\f137"; }
.flaticon-map:before { content: "\f138"; }
.flaticon-info:before { content: "\f139"; }
.flaticon-megaphone:before { content: "\f13a"; }
.flaticon-24-hours:before { content: "\f13b"; }
.flaticon-wall-clock:before { content: "\f13c"; }
.flaticon-like:before { content: "\f13d"; }
.flaticon-mouse:before { content: "\f13e"; }
.flaticon-telephone-2:before { content: "\f13f"; }
.flaticon-sms:before { content: "\f140"; }
.flaticon-telephone-1:before { content: "\f141"; }
.flaticon-message:before { content: "\f142"; }
.flaticon-house:before { content: "\f143"; }
.flaticon-arroba:before { content: "\f144"; }
.flaticon-telephone:before { content: "\f145"; }
.flaticon-mail:before { content: "\f146"; }
.flaticon-contract-1:before { content: "\f147"; }
.flaticon-reverse:before { content: "\f148"; }
.flaticon-slideshare-logotype:before { content: "\f149"; }
.flaticon-vector:before { content: "\f14a"; }
.flaticon-share-1:before { content: "\f14b"; }
.flaticon-share:before { content: "\f14c"; }
.flaticon-video-camera:before { content: "\f14d"; }
.flaticon-music-player-1:before { content: "\f14e"; }
.flaticon-gamepad:before { content: "\f14f"; }
.flaticon-video-player:before { content: "\f150"; }
.flaticon-muted:before { content: "\f151"; }
.flaticon-compact-disc:before { content: "\f152"; }
.flaticon-microphone:before { content: "\f153"; }
.flaticon-alarm:before { content: "\f154"; }
.flaticon-speaker:before { content: "\f155"; }
.flaticon-music-player:before { content: "\f156"; }
.flaticon-bank:before { content: "\f157"; }
.flaticon-money-bag:before { content: "\f158"; }
.flaticon-dollar-symbol:before { content: "\f159"; }
.flaticon-apple:before { content: "\f15a"; }
.flaticon-diamond:before { content: "\f15b"; }
.flaticon-map-marker:before { content: "\f15c"; }
.flaticon-placeholder-3:before { content: "\f15d"; }
.flaticon-placeholder-2:before { content: "\f15e"; }
.flaticon-attachment:before { content: "\f15f"; }
.flaticon-link-symbol:before { content: "\f160"; }
.flaticon-unlink-symbol:before { content: "\f161"; }
.flaticon-drop:before { content: "\f162"; }
.flaticon-menu:before { content: "\f163"; }
.flaticon-list:before { content: "\f164"; }
.flaticon-order:before { content: "\f165"; }
.flaticon-padlock:before { content: "\f166"; }
.flaticon-locked:before { content: "\f167"; }
.flaticon-home:before { content: "\f168"; }
.flaticon-home-page:before { content: "\f169"; }
.flaticon-boat-life-saver:before { content: "\f16a"; }
.flaticon-anchor:before { content: "\f16b"; }
.flaticon-big-anchor:before { content: "\f16c"; }
.flaticon-contract:before { content: "\f16d"; }
.flaticon-edit:before { content: "\f16e"; }
.flaticon-black-star:before { content: "\f16f"; }
.flaticon-circles:before { content: "\f170"; }
.flaticon-empty-star:before { content: "\f171"; }
.flaticon-right-quote:before { content: "\f172"; }
.flaticon-left-quote:before { content: "\f173"; }
.flaticon-avatar:before { content: "\f174"; }
.flaticon-finger-touching-tablet-screen:before { content: "\f175"; }
.flaticon-devices:before { content: "\f176"; }
.flaticon-computer-tablet:before { content: "\f177"; }
.flaticon-tablet:before { content: "\f178"; }
.flaticon-smartphone-1:before { content: "\f179"; }
.flaticon-smartphone:before { content: "\f17a"; }
.flaticon-shopping-bag-1:before { content: "\f17b"; }
.flaticon-shopping-bag:before { content: "\f17c"; }
.flaticon-loupe:before { content: "\f17d"; }
.flaticon-search:before { content: "\f17e"; }
.flaticon-arrows-1:before { content: "\f17f"; }
.flaticon-arrows:before { content: "\f180"; }
.flaticon-back-arrow:before { content: "\f181"; }
.flaticon-next-page:before { content: "\f182"; }
.flaticon-exercise-1:before { content: "\f183"; }
.flaticon-management:before { content: "\f184"; }
.flaticon-exercise:before { content: "\f185"; }
.flaticon-signs:before { content: "\f186"; }
.flaticon-woman-stretching-and-flexing-legs-with-arms-up:before { content: "\f187"; }
.flaticon-yoga-posture:before { content: "\f188"; }
.flaticon-medal-1:before { content: "\f189"; }
.flaticon-gym:before { content: "\f18a"; }
.flaticon-strength:before { content: "\f18b"; }
.flaticon-medal:before { content: "\f18c"; }
.flaticon-runer-silhouette-running-fast:before { content: "\f18d"; }
.flaticon-bicycle:before { content: "\f18e"; }
.flaticon-soccer-ball-variant:before { content: "\f18f"; }
.flaticon-trophy-1:before { content: "\f190"; }
.flaticon-medical-2:before { content: "\f191"; }
.flaticon-medical-1:before { content: "\f192"; }
.flaticon-medical:before { content: "\f193"; }
.flaticon-technology:before { content: "\f194"; }
.flaticon-first-aid-kit:before { content: "\f195"; }
.flaticon-lifeline-in-a-heart-outline:before { content: "\f196"; }
.flaticon-charity:before { content: "\f197"; }
.flaticon-care:before { content: "\f198"; }
.flaticon-doctor:before { content: "\f199"; }
.flaticon-trophy:before { content: "\f19a"; }
.flaticon-dustbin:before { content: "\f19b"; }
.flaticon-grid-world:before { content: "\f19c"; }
.flaticon-cloud:before { content: "\f19d"; }
.flaticon-chat-2:before { content: "\f19e"; }
.flaticon-chat-1:before { content: "\f19f"; }
.flaticon-settings-1:before { content: "\f1a0"; }
.flaticon-briefcase:before { content: "\f1a1"; }
.flaticon-folder-1:before { content: "\f1a2"; }
.flaticon-folder:before { content: "\f1a3"; }
.flaticon-bar-chart:before { content: "\f1a4"; }
.flaticon-line-chart-3:before { content: "\f1a5"; }
.flaticon-line-chart-2:before { content: "\f1a6"; }
.flaticon-increasing-stocks-graphic:before { content: "\f1a7"; }
.flaticon-line-chart-1:before { content: "\f1a8"; }
.flaticon-line-chart:before { content: "\f1a9"; }
.flaticon-shuffle:before { content: "\f1aa"; }
.flaticon-settings:before { content: "\f1ab"; }
.flaticon-headphones:before { content: "\f1ac"; }
.flaticon-phone-call:before { content: "\f1ad"; }
.flaticon-shopping-cart-2:before { content: "\f1ae"; }
.flaticon-shopping-cart-1:before { content: "\f1af"; }
.flaticon-shopping-cart:before { content: "\f1b0"; }
.flaticon-play-button-1:before { content: "\f1b1"; }
.flaticon-play-button:before { content: "\f1b2"; }
.flaticon-next-1:before { content: "\f1b3"; }
.flaticon-login:before { content: "\f1b4"; }
.flaticon-download:before { content: "\f1b5"; }
.flaticon-reload:before { content: "\f1b6"; }
.flaticon-back:before { content: "\f1b7"; }
.flaticon-next:before { content: "\f1b8"; }
.flaticon-placeholder-1:before { content: "\f1b9"; }
.flaticon-placeholder:before { content: "\f1ba"; }
.flaticon-sport:before { content: "\f1bb"; }
.flaticon-chat:before { content: "\f1bc"; }
.flaticon-target:before { content: "\f1bd"; }
.flaticon-diploma:before { content: "\f1be"; }