/* ConsellPro Consulting Experts HTML Template*/

@media only screen and (max-width: 1340px){
	
	.pricing-section .row{
		margin: 0 -15px;
	}

	.call-to-action h2{
		font-size: 34px;
	}
	
	.team-section{
		padding:0px;	
	}
	
	.team-section .image-layer{
		display:none;	
	}
	
	.team-section .team-column{
		width: 100%;
		padding:80px 0px 20px;
		border-bottom:1px solid #e0e0e0;
	}

	.team-section .team-column .inner-column{
		padding:0px 35px;
		margin:0px;
		left:0px;
		max-width:none;
	}

	.team-section .info-column{
		width: 100%;
		background-color: rgba(0,13,16,0.9);
	}

	.team-section .info-column .inner-column{
		width: 100%;
		max-width:none;
		padding:80px 40px;
	}
	
	.team-section .info-column .sec-title,
	.team-section .info-column .text,
	.team-section .info-column .progress-bars{
		max-width:none;
	}
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	.fixed-header .sticky-header{
		display: none !important;
	}
	
	.search-box-outer{
		display:none;	
	}

	.main-menu .navigation > li{
		margin-left:20px;
	}

	.main-header .dropdown-menu{
		top: 44px;
	}

	.top-right .social-icon-one{
		display: none;
	}

	.main-header .header-top .top-left{
		width: 100%;
		text-align: center;
	}

	.main-header .header-top .top-left ul li{
		float: none;
		display: inline-block;
		text-align: center;
		margin: 0 10px;
	}

	.features-section{
		padding: 60px 0 20px;
	}
	.feature-block{
		width: 33.333333%;
		margin: 0 0 40px !important;
	}

	.feature-block .inner-box{
		-webkit-box-shadow: 0 0px 30px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 0px 30px rgba(0,0,0,0.2);
		-ms-box-shadow: 0 0px 30px rgba(0,0,0,0.2);
		-o-box-shadow: 0 0px 30px rgba(0,0,0,0.2);
		box-shadow: 0 0px 30px rgba(0,0,0,0.2);
	}

	.intro-section-two{
		padding:110px 0 90px;
	}

	.comments-area .reply-comment,
	.main-footer .services-widget,
	.intro-section .counter-column .inner-column{
		padding-left: 0;
	}

	.main-footer .posts-widget{
		padding-right: 0;
		margin-left: 0;
	}

	.fluid-section .image-column{
		position: relative;
		width: 100%;
	}

	.fluid-section .image-column .image-box{
		display: block;
	}

	.fluid-section .content-column{	
		width: 100%;
	}

	.about-section .image-column .image-box img,
	.business-slider .image-column img{
		width: 100%;
	}

	.call-to-action .title-column, 
	.call-to-action .call-btn{
		text-align: center;
	}

	.intro-section-two .content-box h3 br,
	.sec-title br{
		display: none;
	}
	
	.service-block .content-column .inner-column{
		padding:0px 0px 20px;	
	}
	
	.services-section .link-box{
		margin:0px;	
	}

}

@media only screen and (max-width: 767px){
	
	.main-header .header-top{
		display:none;	
	}
	
	.main-header .nav-outer{
		width:100%;
		margin-top:-75px;
	}
	
	.main-menu .collapse {
		float:none;
		overflow:auto;
		width:100%;
		padding:0px 0px 0px;
		border:none;
		margin:0px 0px 0px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		box-shadow:none;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		max-height:320px;
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		box-shadow:none;	
	}
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:right;
		width:100%;
		padding:0px 0px 10px;
		right:0px;
	}
	.bus_head {
		font-size: 20px !important;
		margin-bottom: 20px !important;
	}
	.checkout_page .card.custom_card {
		height: 100%;
	}
	.cus_details {
		margin-bottom: 20px !important;
	}
	.cus_svg{
		width: 20% !important;
	}
	.thank_bus_head {
		font-size: 20px !important;
	}
	.checkout_page .form-group{
		margin-bottom: 0;
	}
	.main-menu .navbar-header .navbar-toggle{
		margin-top: 15px !important;
		display:inline-block;
		z-index:20;
		border:1px solid #ffffff;
		float:none;
		margin:0px 0px 0px 0px;
		-webkit-border-radius:0px;
		-moz-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		background:#006aea;
	}
	.sidebar-title {
		text-align: center;
	}
	.sidebar-title:before {
		left: 45%;
	}
	.service-detail h3 {
		font-size: 17px;
	}
	.custom_list li {
		font-size: 18px;
	}
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		padding:0px !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
		font-size:15px !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		padding:0px;
		outline:none;
		width:100%;
		background:#333333;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		border-top:1px solid rgba(255,255,255,1) !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		border-bottom:none;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul > li:first-child,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:first-child{
		border-top:none !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:12px 20px !important;
		line-height:22px;
		color:#ffffff;
		background:#333333;
		text-align:left;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#ff5926;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,

	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#333333;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before,
	.main-slider .bordered-layer{
		display:none !important;	
	}
	
	.main-header .main-menu{
		padding-top: 0px;
		width: 100%;
		margin: 0px;
	}
	
	.main-slider h2{
		font-size: 34px !important;
		line-height: 1.4em;
	}

	.main-slider h4{
		font-size: 18px;	
	}

	.feature-block{
		width: 50%;
	}

	.fact-counter .count-outer{
		text-align: center;
	}


	.contact-section,
	.intro-section-two,
	.about-section,
	.contact-form-section,
	.news-secton,
	.testimonial-section,
	.subscribe-section,	
	.pricing-section,
	.success-steps,
	.services-section,
	.fluid-section .content-column .inner-column{
		padding: 50px 0;
	}

	.sidebar-page-container{
		padding: 50px 0 0px;
	}
	
	.team-section .team-column .inner-column,
	.team-section .info-column .inner-column{
		padding-left:20px;
		padding-right:20px;
	}

	.services-section .link-box{
		margin: 0;
	}

	.page-title h1,
	.subscribe-section .content h1,
	.sec-title h1{
		font-size: 20px;
		line-height: 1.4em;
	}
	.page-title p {
		font-size: 17px;
		line-height: 25px;
	}

	.about-section .sec-title h2,
	.fluid-section .sec-title h2,
	.call-to-action h2,
	.sec-title h2{
		font-size: 28px;
		line-height: 1.4em;
	}

	.subscribe-section .content h3{
		font-size: 24px;
		margin-bottom: 20px;
	}

	.intro-section-two .content-box h3{
		font-size: 24px;
		line-height: 1.3em;
		margin-top: 10px;
	}
	.sec-title h3{
		font-size: 22px;
		line-height: 1.4em;
	}

	.comment-form button,
	.contact-form .form-group button{
		display: block;
		width: 100%;
		margin-top: 0;
	}

	.main-footer .widgets-section{
		padding: 60px 0 30px;
	}

	.business-slider{
		padding:20px;
	}
	.business-slider .content-column .inner-box{
		padding-right: 0;
	}

	.pricing-table .inner-box{
		padding: 64px 30px;
	}

	.result-block .inner-box .image{
		position: relative;
		margin:0 auto 20px;
	}
	.result-block .inner-box{
		padding: 30px 15px;
		text-align: center;
	}

	.service-detail .content-box{
		padding-right: 0;
	}

	.service-detail .align-right,
	.service-detail .align-left{
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}

	.service-detail .align-right img,
	.service-detail .align-left img{
		width: 100%;
	}

	.sidebar-page-container .sidebar-side{
		margin-bottom: 0;
	}

	.news-single .content-box .tags li{
		display: inline-block;
		float: none;
		margin-bottom: 10px;
	}

	.news-single .content-box .tags{
		display: inline-block;
		margin-bottom: 20px;
		width: 100%;
	}
	.news-single .social-icon-four{
		display: inline-block;
		width: 100%;
	}
	.post-shere-option{
		text-align: center;
	}
}

@media only screen and (max-width: 599px){
	.main-header .header-top .top-left ul li{
		margin: 0;
    	width: 100%;
	    padding: 10px 0;
    	line-height: 20px;
    }

    .main-slider h2{
		font-size: 22px !important;
		line-height: 1.4em;
	}

	.main-slider h4{
		font-size: 14px;	
	}

	.feature-block{
		width: 100%;
	}

	.news-block .content-box{
		padding: 20px;
	}
	.news-block .content-box h3{
		font-size: 16px;
	}

	.subscribe-section .content h1{
		font-size: 26px;
	}

	.news-single .content-box h3,
	.news-block-two .content-box h3{
		font-size: 20px;
		line-height: 1.4em;
	}
	.subscribe-section .content h3{
		font-size: 18px;
	}

	.testimonial-carousel p{
		font-size: 18px;
	}

	.fluid-section .image-column .info-box{
		height: 55px;
		padding: 10px 35px;
		bottom: 30px;
	}

	.news-block-two .content-box{
		padding: 40px 20px;
	}

	.comments-area .comment-box .author-thumb,
	.author-box .image-box{
		position: relative;
		margin-bottom: 20px;
	}

	.comments-area .comment,
	.author-box .inner-box{
		padding: 30px 15px;
	}
	
	.contact-info-list-two li{
		padding:0px;
		text-align:center;	
	}
	
	.contact-info-list-two li .icon-box{
		position:relative;
		margin:0 auto 20px;	
	}


}

@media only screen and (max-width: 479px) {
    .main-slider h2{
		font-size: 16px !important;
	}

	.search-box .inner-box,
	.request-form .inner-box{
		padding: 40px 15px 35px;
	}

	.sidebar .related-posts .post .post-thumb{
		position: relative;
		margin: 0 auto 20px;
	}

	.sidebar .related-posts .post{
		padding-left: 0;
		text-align: center;
	}

	.sec-title h1{
		font-size: 24px;
	}

	.business-section .sec-title h2{
		font-size: 16px;
	}

}
