/* ConsellPro Consulting Experts HTML Template*/

/************ TABLE OF CONTENTS ***************
2. Reset
3. Global
4. Main Header / Sticky Header
5. Main Slider / style two
6. Page Title
7. Features Section
8. Section Title
9. Intro Section / Intro Section Two
10. Fluid Section
11. About Section
12. Services Section
13. Service Detail
14. Business Section
15. Success Steps
16. Team Section
17. Pricing Section
18. Subscribe Section
19. Testimonial Section
20. News Section
21. Styled Pagination
22. Sponsors Section
23. Contact Section
24. Contact map Section
25. Contact Form Section
26. Call To Action
27. Main Footer
28. Sidebar Page Container  (Default Sidebar)
29. Comment Form

**********************************************/



/*** 

====================================================================
			Fonts
====================================================================

 ***/

 @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


 @import url('fontawesome-all.css');
 @import url('flaticon.css');
 @import url('animate.css');
 @import url('owl.css');
 @import url('jquery-ui.css');
 @import url('jquery.fancybox.min.css');
 @import url('custom.css');
 /*** 
 
 ====================================================================
	 Reset
 ====================================================================
 
  ***/
 
 *{
	 margin:0px;
	 padding:0px;
	 border:none;
	 outline:none;
 }
 
 /*** 
 
 ====================================================================
	 Global Settings
 ====================================================================
 
  ***/
 
 body {
	 
	 font-size:14px;
	 color:#777777;
	 line-height:1.7em;
	 font-weight:400;
	 background:#ffffff;
	 -webkit-font-smoothing: antialiased;
	 -moz-font-smoothing: antialiased;
	 font-family: 'Poppins', sans-serif;
 }
 
 a{
	 text-decoration:none;
	 cursor:pointer;
	 color:#006aea;
 }
 
 a:hover,
 a:focus,
 a:visited{
	 text-decoration:none;
	 outline:none;
 }
 
 h1,h2,h3,h4,h5,h6 {
	 position:relative;
	 font-weight:normal;
	 margin:0px;
	 background:none;
	 line-height:1.2em;
	 font-family: 'Poppins', sans-serif;
 }
 
 textarea{
	 overflow:hidden;	
 }
 
 
 p,.text{
	 font-size: 16px;
	 line-height: 1.65em;
	 font-weight: 400;
	 font-family: 'Poppins', sans-serif;
	 color: #555555;
	 margin: 0;
 }
 
 ::-webkit-input-placeholder{color: inherit;}
 ::-moz-input-placeholder{color: inherit;}
 ::-ms-input-placeholder{color: inherit;}
 
 .sky-bg{
	 background-color:#edf7ff;
 }
 
 .gray-bg{
	 background-color: #f5f5f5;
 }
 
 .strike-through{
	 text-decoration:line-through;	
 }
 
 .auto-container{
	 position:static;
	 max-width:1170px;
	 padding:0px 15px;
	 margin:0 auto;
 }
 
 .page-wrapper{
	 position:relative;
	 margin:0 auto;
	 width:100%;
	 min-width:300px;
	 overflow: hidden;
 }
 
 ul,li{
	 list-style:none;
	 padding:0px;
	 margin:0px;	
 }
 
 .theme-btn{
	 display:inline-block;
	 -webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
	 -ms-border-radius: 5px;
	 -o-border-radius: 5px;
	 border-radius: 5px;
	 -moz-transition:all 0.3s ease;
	 -webkit-transition:all 0.3s ease;
	 -ms-transition:all 0.3s ease;
	 -o-transition:all 0.3s ease;
	 transition:all 0.3s ease;
 }
 
 .centered{
	 text-align:center !important;
 }
 
 /*Btn Style One*/
 
 .btn-style-one{
	 position:relative;
	 padding:13px 38px;
	 line-height:25px;
	 text-transform:capitalize;
	 background:#2e899e;
	 color:#ffffff;
	 border:2px solid #2e899e;
	 font-size:16px;
	 font-weight:500;
	 letter-spacing:.5px;
 }
 
 .btn-style-one:hover{
	 background:none;
	 color:#2e899e;
 }
 
 
 /*Btn Style Two*/
 
 .btn-style-two{
	 position:relative;
	 padding:13px 38px;
	 line-height:25px;
	 text-transform:capitalize;
	 background:#006aea;
	 color:#ffffff;
	 border:2px solid #006aea;
	 font-size:16px;
	 font-weight:500;
	 letter-spacing:.5px;
 }
 
 .btn-style-two:hover{
	 background:none;
	 color:#006aea;
 }
 
 /*Btn Style Three*/
 
 .btn-style-three{
	 position:relative;
	 padding:7px 32px;
	 line-height:26px;
	 text-transform:uppercase;
	 background:#2fc42b;
	 color:#ffffff;
	 font-size:15px;
	 font-weight:700;
	 border:2px solid #2fc42b;
 }
 
 .btn-style-three:hover{
	 background:none;
	 color:#2fc42b;
	 border-color:#2fc42b;
 }
 
 
 
 /*Btn Style Four*/
 
 .btn-style-four{
	 position:relative;
	 padding:15px 40px;
	 line-height:30px;
	 text-transform:uppercase;
	 background:#232428;
	 color:#ffffff;
	 font-size:15px;
	 font-weight:700;
	 border:2px solid #232428;
	 -webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
	 -ms-border-radius: 5px;
	 -o-border-radius: 5px;
	 border-radius: 5px;
 }
 
 .btn-style-four:hover{
	 background:none;
	 color:#ffffff;
	 border-color:#232428;
 }
 
 .theme_color{
	 color:#006aea;
 }
 
 .preloader{ 
	 position:fixed; 
	 left:0px; 
	 top:0px; 
	 width:100%; 
	 height:100%; 
	 z-index:999999; 
	 background-color:#ffffff; 
	 background-position:center center; 
	 background-repeat:no-repeat; 
	 background-image:url(../images/icons/preloader.svg);
 }
 
 img{
	 display:inline-block;
	 max-width:100%;
	 height:auto;	
 }
 
 
 /*Social Icon One*/
 .social-icon-one{
	 position:relative;
 }
 
 .social-icon-one li{
	 position:relative;
	 float: left;
	 margin-left:17px;
 
 }
 
 .social-icon-one li a{
	 position:relative;
	 font-size:16px;
	 line-height: 30px;
	 display:inline-block;
	 color: #777777;
	 -webkit-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 -moz-transition:all 300ms ease;
	 transition:all 300ms ease;	
 }
 
 .social-icon-one li a:hover{
	 color:#2e899e;
 }
 
 
 /*** 
 
 ====================================================================
	 Scroll To Top style
 ====================================================================
 
 ***/
 
 .scroll-to-top{
	 position:fixed;
	 bottom:30px;
	 right:30px;
	 width:50px;
	 height:50px;
	 color:#ffffff;
	 font-size:18px;
	 line-height:50px;
	 text-align:center;
	 z-index:100;
	 cursor:pointer;
	 background:#2e899e;
	 display:none;
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 -ms-border-radius: 50%;
	 -o-border-radius: 50%;
	 border-radius: 50%;
	 -webkit-transition:all 300ms ease;
	 -moz-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 transition:all 300ms ease;		
 }
 
 .scroll-to-top:hover{
	 background:#006aea;
 }
 
 /*** 
 
 ====================================================================
	 Main Header style
 ====================================================================
 
 ***/
 
 .main-header{
	 position:relative;
	 left:0px;
	 top:0px;
	 z-index:999;
	 width:100%;
 }
 
 .main-header .header-top{
	 position:relative;
	 background-color:#f2f2f2;
	 z-index: 999;
 }
 
 .main-header .header-top .top-left{
	 position:relative;
	 float:left;
 }
 
 .main-header .header-top .top-left ul li{
	 position:relative;
	 float: left;
	 margin-right:25px;
	 font-size:14px;
	 line-height: 30px;
	 color:#222222;
	 padding:13px 0px;
	 font-weight:400;
 }
 
 .main-header .header-top .top-left ul li:last-child{
	 margin-right:0px;
 }
 
 .main-header .header-top .top-left ul li a{
	 color:#222222;
	 font-weight:500;
	 -webkit-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 
 .main-header .header-top .top-left ul li a:hover{
	 color:#006aea;
 }
 
 .main-header .header-top .top-right{
	 position:relative;
	 float:right;
	 padding:12px 0px;
 }
 
 
 .main-header .main-box{
	 position:relative;
	 padding:0px 0px;
	 left:0px;
	 top:0px;
	 width:100%;
	 z-index: 999;
	 background-color: #ffffff;
	 -webkit-transition:all 300ms ease;
	 -moz-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 transition:all 300ms ease;
 }
 
 .main-header .main-box .logo-box{
	 position:relative;
	 float:left;
	 left:0px;
	 z-index:10;
	 padding:29px 0px;
	 -webkit-transition:all 300ms ease;
	 -moz-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 transition:all 300ms ease;
 }
 
 .main-header .main-box .logo-box .logo img{
	 display:inline-block;
	 max-width:100%;
	 -webkit-transition:all 300ms ease;
	 -moz-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 transition:all 300ms ease;	
 }
 
 .main-header .nav-toggler button{
	 position:relative;
	 display:block;
	 color:#444444;
	 text-align:center;
	 font-size:24px;
	 line-height:34px;
	 font-weight:normal;
	 background:none;
 }
 
 .main-header .nav-outer{
	 position:relative;
	 float:right;
 }
 
 .main-menu{
	 position:relative;
	 float:left;
 }
 
 .main-menu .navbar-collapse{
	 padding:0px;	
 }
 
 .main-menu .navigation{
	 position:relative;
	 margin:0px;
 }
 
 .main-menu .navigation > li{
	 position:relative;
	 float:left;
	 margin-left:45px;
	 padding:52px 0px 50px;
	 -webkit-transition:all 300ms ease;
	 -moz-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 transition:all 300ms ease;
 }
 
 .main-menu .navigation > li:last-child{
	 margin-right:0px;
 }
 
 
 .main-menu .navigation > li > a{
	 position:relative;
	 display:block;
	 color:#222222;
	 text-align:center;
	 line-height:25px;
	 letter-spacing:0px;
	 opacity:1;
	 font-weight:500;
	 font-size:16px;
	 text-transform:capitalize;
	 -webkit-transition:all 300ms ease;
	 -moz-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 transition:all 300ms ease;
	 font-family: 'Poppins', sans-serif;
 }
 
 /*.main-menu .navigation > li.dropdown > a:before {
	 font-family: 'Font Awesome 5 Free';
	 content: "\f107";
	 position: absolute;
	 right: 0px;
	 font-size: 14px;
	 margin-top:2px;
	 font-style: normal;
	 font-weight: 900;
 
 }
 
 .main-menu .navigation > li.dropdown a {
	 padding-right: 15px;
 }*/
 
 .main-menu .navigation > li:hover > a,
 .main-menu .navigation > li.current > a{
	 color:#006aea;
	 opacity:1;
 }
 
 .main-menu .navigation > li > ul{
	 position:absolute;
	 left:0px;
	 top:120%;
	 width:240px;
	 padding:0px;
	 z-index:100;
	 display:none;
	 background:#ffffff;
	 border-top:2px solid #006aea;
	 -moz-transition:all 300ms ease;
	 -webkit-transition:all 500ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 transition:all 300ms ease;
	 -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	 -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	 -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	 -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	 box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
 }
 
 .main-menu .navigation > li > ul > li{
	 position:relative;
	 width:100%;
	 border-bottom:1px solid rgba(0,0,0,0.10);
 }
 
 .main-menu .navigation > li > ul > li:last-child{
	 border-bottom:none;	
 }
 
 .main-menu .navigation > li > ul > li > a{
	 position:relative;
	 display:block;
	 padding:10px 15px;
	 line-height:24px;
	 font-weight:500;
	 font-size:14px;
	 text-transform:capitalize;
	 color:#292929;
	 -moz-transition:all 300ms ease;
	 -webkit-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 transition:all 300ms ease;
 }
 
 .main-menu .navigation > li > ul > li:hover > a{
	 color:#ffffff;
	 background:#006aea;	
 }
 
 .main-menu .navigation > li > ul > li.dropdown > a:after{
	 font-family: 'Font Awesome 5 Free';
	 content: "\f105";
	 position:absolute;
	 right:10px;
	 top:12px;
	 width:10px;
	 height:20px;
	 display:block;
	 color:#292929;
	 font-weight: 900;
	 line-height:20px;
	 font-size:16px;
	 text-align:center;
	 z-index:5;	
 }
 
 .main-menu .navigation > li > ul > li.dropdown:hover > a:after{
	 color:#ffffff;	
 }
 
 .main-menu .navigation > li > ul > li > ul{
	 position:absolute;
	 left:100%;
	 top:20px;
	 width:240px;
	 padding:0px;
	 z-index:100;
	 display:none;
	 background:#ffffff;
	 border-top:2px solid #006aea;
	 -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	 -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	 -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	 -o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	 box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
 }
 
 .main-menu .navigation > li > ul > li > ul > li{
	 position:relative;
	 width:100%;
	 border-bottom:1px solid rgba(0,0,0,0.10);
 }
 
 .main-menu .navigation > li > ul > li > ul > li:last-child{
	 border-bottom:none;	
 }
 
 .main-menu .navigation > li > ul > li > ul > li > a{
	 position:relative;
	 display:block;
	 padding:10px 15px;
	 line-height:24px;
	 font-weight:500;
	 font-size:14px;
	 text-transform:capitalize;
	 color:#292929;
	 -moz-transition:all 300ms ease;
	 -webkit-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 transition:all 300ms ease;
 }
 
 .main-menu .navigation > li > ul > li > ul > li:hover > a{
	 color:#ffffff;
	 background:#006aea;
 }
 
 .main-menu .navigation > li > ul > li > ul > li.dropdown > a:after{
	 font-family: 'FontAwesome';
	 content: "\f105";
	 position:absolute;
	 right:10px;
	 top:11px;
	 width:10px;
	 height:20px;
	 display:block;
	 color:#292929;
	 line-height:20px;
	 font-size:16px;
	 font-weight:normal;
	 text-align:center;
	 z-index:5;	
 }
 
 .main-menu .navigation > li > ul > li > ul > li.dropdown:hover > a:after{
	 color:#ffffff;	
 }
 
 .main-menu .navigation > li.dropdown:hover > ul{
	 visibility:visible;
	 opacity:1;
	 top:100%;	
 }
 
 .main-menu .navigation li > ul > li.dropdown:hover > ul{
	 visibility:visible;
	 opacity:1;
	 top:0;
	 -moz-transition:all 300ms ease;
	 -webkit-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;	
	 transition:all 300ms ease;
 }
 
 .main-menu .navbar-collapse > ul li.dropdown .dropdown-btn{
	 position:absolute;
	 right:15px;
	 top:7px;
	 width:36px;
	 height:32px;
	 text-align:center;
	 color:#ffffff;
	 line-height:32px;
	 font-size:20px;
	 font-weight:normal;
	 border:1px solid #ffffff;
	 background-size:20px;
	 cursor:pointer;
	 z-index:5;
	 display:none;
 }
 
 .search-box-outer{
	 position: relative;
	 float: right;
	 color: #ffffff;
	 margin-left: 30px;
	 padding: 52px 0 50px;
 }
 
 .main-header .search-box-btn{
	 position:relative;
	 display:block;
	 width:100%;
	 font-size:16px;
	 color: #222222;
	 line-height:25px;
	 padding:0px;
	 margin:0px;
	 cursor:pointer;
	 background:none;
	 -moz-transition:all 300ms ease;
	 -webkit-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 transition:all 300ms ease;
 }
 
 .main-header .search-box-btn:hover{
	 color:#006aea;	
 }
 
 
 .main-header  .dropdown-menu{
	 top:72px;
	 right: 0;
	 border-top:3px solid #006aea;
	 padding:0px;
	 width:280px;	
	 -webkit-border-radius:0px;
	 -moz-border-radius:0px;
	 -ms-border-radius:0px;
	 -o-border-radius:0px;
	 border-radius:0px;
 }
 
 .main-header .search-box-outer .dropdown-menu > li{
	 padding:0px;
	 border:none;
	 background:none;
 }
 
 .main-header .search-panel .form-container{
	 padding:25px 20px;	
 }
 
 .main-header .search-panel .form-group{
	 position:relative;
	 margin:0px;	
 }
 
 .main-header .search-panel input[type="text"],
 .main-header .search-panel input[type="search"],
 .main-header .search-panel input[type="password"],
 .main-header .search-panel select{
	 display:block;
	 width:100%;
	 line-height:24px;
	 padding:7px 40px 7px 15px;
	 height:40px;
	 color:#000000;
	 border:1px solid #e0e0e0;
	 background:#ffffff;	
	 -moz-transition:all 300ms ease;
	 -webkit-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 transition:all 300ms ease;
 }
 
 
 .main-header .search-panel input:focus,
 .main-header .search-panel select:focus{
	 border-color:#006aea;	
 }
 
 .main-header .search-panel .search-btn{
	 position:absolute;
	 right:0px;
	 top:0px;
	 width:40px;
	 height:40px;
	 text-align:center;
	 color:#555555;
	 font-size:12px;
	 background:none;
	 cursor:pointer;
	 -moz-transition:all 300ms ease;
	 -webkit-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 transition:all 300ms ease;
 }
 
 .main-header .search-panel .search-btn:hover{
	 color:#2fc42b;	
 
 }
 
 
 
 /*====================================================================
					  Sticky Header
 =====================================================================*/
 .sticky-header{
	 position:fixed;
	 visibility:hidden;
	 opacity:0;
	 left:0px;
	 top:0px;
	 width:100%;
	 padding:0px 0px;
	 background:#ffffff;
	 z-index:0;
	 -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.1);
	 -moz-box-shadow: 0 5px 10px rgba(0,0,0,.1);
	 -ms-box-shadow: 0 5px 10px rgba(0,0,0,.1);
	 -o-box-shadow: 0 5px 10px rgba(0,0,0,.1);
	 box-shadow: 0 5px 10px rgba(0,0,0,.1);
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 .sticky-header .logo{
	 padding:10px 0px;
	 max-width: 160px;	
 }
 
 .fixed-header .sticky-header{
	 z-index:99;
	 opacity:1;
	 visibility:visible;
	 background-color:#ffffff;
 }
 
 .main-header .sticky-header .main-menu .navigation > li{
	 margin-right:0px;
	 margin:0px;
	 padding: 0;
 }
 
 .main-header .sticky-header .main-menu .navigation > li > a{
	 color:#333333;
	 padding:20px 15px;
	 line-height:30px;
	 font-size:16px;
	 font-weight:500;
	 min-height:0px;
	 background:none;
	 border:0px;
	 margin-right:0px;
	 text-transform:capitalize;
	 transition: all 300ms ease;
 }
 
 .main-header .sticky-header .main-menu .navigation > li:hover > a,
 .main-header .sticky-header .main-menu .navigation > li.current > a,
 .main-header .sticky-header .main-menu .navigation > li.current-menu-item > a{
	 opacity:1;
	 background-color :#006aea;
	 color: #ffffff;
 
 }
 
 .main-header .sticky-header .main-menu .navigation > li.dropdown > a::after{
	 display: none;
 }
 
 
 /*** 
 
 ====================================================================
			 Main Slider style
 ====================================================================
 
 ***/
 
 .main-slider{
	 position:relative;
	 text-align: center;
	 z-index:10;
 }
 
 .main-slider .tp-caption{
	 z-index:5 ;
 }
 
 .main-slider .tp-dottedoverlay{
	 position: absolute;
	 left: 0;
	 top: 0;
	 height: 100%;
	 width: 100%;
	 background: rgba(0,13,16,.75);
 }
 
 .main-slider h5{	
	 font-size:14px;
	 color: #ffffff;
	 font-weight:300;
	 line-height:1.2em;
	 letter-spacing: 1.5px;
	 text-transform:uppercase;
 }
 .main-slider h4{
	 font-size:20px;
	 color:#ffffff;
	 line-height:1.4em;
	 font-weight: 400;
	 font-family: 'Poppins', sans-serif;
 }
 
 .main-slider h2{	
	 font-size:44px;
	 color: #ffffff;
	 font-weight:700;
	 line-height:1.2em;
	 text-transform:capitalize;
 }
 
 .main-slider .text{
	 position:relative;
	 font-size:14px;
	 color:#ffffff;
	 font-weight:300;
	 line-height: 1.2em;
 }
 
 .main-slider .theme-btn{
	 z-index: 999999 !important;
	 margin: 0 10px 10px;
 }
 
 .main-slider .tp-bannertimer{
	 display:none !important;	
 }
 
 
 /*** 
 
 ====================================================================
					 Page Title
 ====================================================================
 
 ***/
 
 .page-title{
	 position:relative;
	 padding:80px 0px;
	 background-position:center center;
	 background-repeat:no-repeat;
	 background-size: cover;
	 text-align:center;
 }
 
 .page-title:before{
	 position: absolute;
	 left: 0;
	 top: 0;
	 height: 100%;
	 width: 100%;
	 background: rgba(0,13,16,.75);
	 content: "";
 }
 
 .page-title h1{
	 position:relative;
	 font-size:44px;
	 line-height: 1em;
	 top: -5px;
	 font-weight: 700;
	 color:#ffffff;
	 margin-bottom: 0px;
 }
 .page-title h1 span{
	 font-weight: 300;
 }
 
 .page-title p{
	 position:relative;
	 font-size:18px;
	 line-height: 1.2em;
	 font-weight: 400 !important;
	 color:#ffffff;	
	 font-family: 'Poppins', sans-serif;
 }
 
 .page-title .bread-crumb li{
	 position: relative;
	 font-size: 4px;
	 line-height: 25px;
	 color: #ffffff;
	 font-weight: 500;
	 margin-right:6px;
	 padding-right:6px;
	 cursor: default;
	 display: inline-block;
 }
 .page-title .bread-crumb li a{
	 color:#ffffff;
	 font-size: 14px;
	 line-height: 25px;
	 display: inline-block;
	 -webkit-transition:all 300ms ease;
	 -moz-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 transition:all 300ms ease;
 }
 
 .page-title .bread-crumb li.active a,
 .page-title .bread-crumb li a:hover{
	 color:#006aea;	
 }
 
 .page-title .bread-crumb li:after{
	 position:absolute;
	 content:'/';
	 right:-5px;
	 font-weight: 500;
	 top:1px;
	 color:#ffffff;
 }
 
 .page-title .bread-crumb li:last-child::after{
	 display:none;
 }
 
 .page-title .bread-crumb li:last-child{
	 padding-right:0px;
	 margin-right:0px;
 }
 
 
 
 /*** 
 
 ====================================================================
				 Features Section
 ====================================================================
 
 ***/
 
 .features-section{
	 position: relative;
	 background-color: #ffffff;
 }
 
 .features-section .feature-container{
	 max-width: 1400px;
	 margin: 0 auto;
	 display: block;
 }
 
 .features-section .feature-outer{
	 position: relative;
	 margin: 0 -10px;
 }
 
 .feature-block{
	 position: relative;
	 float: left;
	 width: 20%;
	 padding: 0 10px;
	 margin-top: -20px;
	 margin-bottom: 20px;
 }
 
 .feature-block .inner-box{
	 position: relative;
	 padding: 30px 0 40px;
	 text-align: center;
	 background-color: #ffffff;
	 color: #222222;
	 z-index: 99;
	 border-bottom: 3px solid #2e899e;
	 -webkit-box-shadow: 0 20px 30px rgba(0,0,0,0.2);
	 -moz-box-shadow: 0 20px 30px rgba(0,0,0,0.2);
	 -ms-box-shadow: 0 20px 30px rgba(0,0,0,0.2);
	 -o-box-shadow: 0 20px 30px rgba(0,0,0,0.2);
	 box-shadow: 0 20px 30px rgba(0,0,0,0.2);
 }
 
 .feature-block .inner-box:before{
	 position: absolute;
	 left: 50%;
	 bottom: -3px;
	 height: 3px;
	 width: 0;
	 content: '';
	 background-color: #006aea;
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 .feature-block:hover .inner-box:before{
	 width: 100%;
	 left: 0;
 }
 
 
 .feature-block .icon-box{
	 position: relative;
	 margin-bottom: 26px;
 }
 
 .feature-block .icon-box i{
	 position: relative;
	 line-height: normal;
	 font-size: 60px;
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 .feature-block:hover .icon-box i{
	 color: #006aea;
 }
 
 .feature-block h4{
	 position: relative;
	 font-size: 18px;
	 font-weight: 500;
	 display: block;
 }
 
 .feature-block h4 a{
	 font-weight: 600;
	 display: block;
	 color: #222222;
	 -moz-transition:all 300ms ease;
	 -webkit-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 transition:all 300ms ease;
 }
 
 .feature-block h4 a:hover{
	 color: #006aea;
 }
 
 
 
 .features-section.style-two .feature-block{
	 top: 0;
	 margin-bottom: -120px;
 }
 
 .features-section.style-two .feature-block .inner-box{
	 -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.2);
	 -moz-box-shadow: 0 0 30px rgba(0,0,0,0.2);
	 -ms-box-shadow: 0 0 30px rgba(0,0,0,0.2);
	 -o-box-shadow: 0 0 30px rgba(0,0,0,0.2);
	 box-shadow: 0 0 30px rgba(0,0,0,0.2);
 }
 
 /*** 
 
 ====================================================================
	 Section Title
 ====================================================================
 
 ***/
 
 .sec-title{
	 position:relative;
	 margin-bottom:90px;
	 padding-bottom: 30px;
	 color:#222222;
 }
 
 .sec-title span{
	 position: relative;
	 display: block;
	 font-size: 14px;
	 line-height: normal;
	 color: #777777;
	 text-transform: uppercase;
	 margin-bottom: 10px;
 }
 
 .sec-title h1{
	 position:relative;
	 font-size:44px;
	 font-weight:700;
	 color: #222222;
 }
 
 .sec-title h2{
	 position:relative;
	 font-size:36px;
	 font-weight:700;
	 color: #222222;
 }
 
 .sec-title h3{
	 position:relative;
	 font-size:30px;
	 font-weight:700;
	 line-height: 40px;
 }
 
 .sec-title h4{
	 position: relative;
	 font-size: 18px;
	 line-height:1.2em;
	 color: #171717;
	 font-weight: 500;
	 padding-bottom:16px;
 }
 
 .sec-title .text,
 .sec-title p{
	 position: relative;
	 font-size: 16px;
	 line-height: 1.65em;
	 font-weight: 300;
	 font-family: 'Poppins', sans-serif;
	 color: #555555;
	 max-width: 600px;
	 margin-top:15px;
 }
 
 
 .sec-title:before{
	 position:absolute;
	 content:'';
	 left: 0;
	 bottom: -30px;
	 width:2px;
	 height:30px;
	 background-color:#006aea;
 }
 
 .sec-title:after{
	 position:absolute;
	 content:'';
	 left: 0;
	 margin-left: 6px;
	 bottom: -15px;
	 width:2px;
	 height:15px;
	 background-color:#006aea;
 }
 
 
 .centered{
	 text-align: center;
 }
 
 .sec-title.centered p{
	 margin-left: auto;
	 margin-right: auto;
 }
 
 
 .sec-title.centered:before,
 .sec-title.centered:after{
	 left: 50%;
	 margin-left: -1px;
 }
 .sec-title.centered:after{
	 margin-left: 5px;
 }
 
 .sec-title.light h1,
 .sec-title.light h2,
 .sec-title.light h3,
 .sec-title.light span,
 .sec-title.light p,
 .sec-title.light .text{
	 color: #ffffff;
 }
 
 .sec-title.txt-light h1,
 .sec-title.txt-light h2,
 .sec-title.txt-light h3{
	 font-weight: 300;
 }
 
 .sec-title.txt-light b{
	 font-weight: 600;
 }
 
 /*** 
 
 ====================================================================
				 Intro Section
 ====================================================================
 
 ***/
 
 .intro-section{
	 position: relative;
	 padding:70px 0 30px;
 }
 .intro-section .title-column,
 .intro-section .counter-column{
	 position: relative;
	 margin-bottom: 30px;
 }
 
 .intro-section .title-column .sec-title{
	 margin-bottom: 50px;
 }
 
 
 .intro-section .counter-column .inner-column{
	 padding-left: 65px;
 }
 
 .intro-section .counter-column p{
	 position: relative;
	 font-weight: 400 !important;
	 margin-bottom: 30px;
 }
 
 .fact-counter{
	 position: relative;
 }
 
 .fact-counter .count-outer{
	 position: relative;
	 padding-top: 25px;
	 margin-bottom: 20px;
 }
 
 .fact-counter .count-outer .count-text{
	 position: relative;
	 display: inline-block;
	 line-height: 1em;
	 font-size: 40px;
	 font-weight: 500;
	 color: #222222;
	 margin-bottom: 10px;
 }
 
 .fact-counter .count-outer .counter-title{
	 position: relative;
	 font-size: 16px;
	 line-height: 1.65em;
	 color: #555555;
	 font-weight: 300;
 }
 
 
 
 /*** 
 
 ====================================================================
				 Intro Section Two
 ====================================================================
 
 ***/
 
 .intro-section-two{
	 position: relative;
	 padding:225px 0 90px;
	 background-color: #f1f1f1;
	 text-align: center;
 }
 
 .intro-section-two .inner-container{
	 position: relative;
	 max-width: 900px;
	 margin: 0 auto;
	 padding: 0 15px;
 }
 
 .intro-section-two .content-box{
	 position: relative;
	 margin-bottom: 40px;
 }
 
 .intro-section-two .content-box span{
	 font-size: 14px;
	 line-height: 1.2em;
	 color: #777777;
	 font-weight: 400;
	 margin-bottom: 20px;
 }
 
 .intro-section-two .content-box h3{
	 position: relative;
	 font-size: 30px;
	 line-height: 40px;
	 color: #222222;
	 font-weight: 700;
	 margin-bottom: 30px;
 }	
 
 .intro-section-two .content-box p{
	 position: relative;
	 font-size: 16px;
	 color: #555555;
	 font-weight: 300;
	 margin-bottom: 20px;
 }
 
 .intro-section-two .fact-counter{
	 max-width: 555px;
	 margin: 0 auto;
 }
 
 /*** 
 
 ====================================================================
	 Fluid Section
 ====================================================================
 
 ***/
 
 .fluid-section{
	 position:relative;
 }
 
 .fluid-section .outer-container{
	 position:relative;
	 min-height:350px;
	 border-top: 1px solid #eeeeee;
	 border-bottom: 1px solid #eeeeee;
 }
 
 
 .fluid-section .content-column{
	 position:relative;
	 float:left;
	 width:50%;
	 text-align: center;
	 padding: 0 15px;
 }
 
 .fluid-section .content-column .inner-column{
	 position: relative;
	 max-width: 620px;
	 margin: 0 auto;
	 padding: 100px 0px;
 }
 .fluid-section .sec-title{
	 margin-bottom: 50px;
 }
 .fluid-section .sec-title h2{
	 position: relative;
	 font-size: 36px;
	 color: #222222;
	 line-height: 1.2em;
	 font-weight: 300;
	 text-transform: unset;
 }
 
 .fluid-section .sec-title h2 b{
	 font-weight: 600;
 }
 
 .fluid-section .sec-title h2 span{
	 color: #2e899e;
	 font-size: 36px;
	 line-height: 1.2em;
	 display: inline-block;
	 font-weight: 600;
	 text-transform: capitalize;
	 margin: 0;
 }
 
 .fluid-section .sec-title .logo{
	 color: #006aea;
 }
 
 
 .fluid-section .content-column h3{
	 position: relative;
	 display: block;
	 font-size: 24px;
	 color: #222222;
	 font-weight: 300;
	 font-style: italic;
	 font-family: 'Poppins', sans-serif;
	 margin-bottom: 30px;
 }
 
 .fluid-section .content-column .text{
	 position: relative;
	 margin-bottom: 55px;
 }
 
 .fluid-section .content-column .text p{
	 position: relative;
	 color: #555555;
	 font-size: 16px;
	 line-height: 1.65em;
 }
 
 
 
 .fluid-section .image-column{
	 position:absolute;
	 float:right;
	 right:0px;
	 top:0px;
	 width:50%;
	 height:100%;
	 background-repeat:no-repeat;
	 background-position:center center;
	 background-size:cover;	
 }
 
 .fluid-section .image-column .image-box{
	 position:relative;
	 display:none;	
 }
 
 .fluid-section .image-column .image-box img{
	 position:relative;
	 display:block;
	 width:100%;
 }
 
 .fluid-section .image-column .info-box{
	 position: absolute;
	 left: 0;
	 bottom: 90px;
	 height: 75px;
	 min-width: 250px;
	 padding: 20px 35px;
	 text-align: center;
	 background-color: #ffffff;
	 -webkit-border-radius: 0 5px 5px 0;
	 -moz-border-radius: 0 5px 5px 0;
	 -ms-border-radius: 0 5px 5px 0;
	 -o-border-radius: 0 5px 5px 0;
	 border-radius: 0 5px 5px 0;
 }
 
 .fluid-section .image-column .info-box h3{
	 font-size: 24px;
	 color: #222222;
	 font-weight: 600;
	 line-height: 35px;
 }
 .fluid-section .image-column .info-box h3 i{
	 display: inline-block;
	 margin-right: 15px;
	 color: #006aea;
 }
 
 
 
 
 /*** 
 
 ====================================================================
					 About Section
 ====================================================================
 
 ***/
 
 .about-section{
	 position:relative;
	 padding: 110px 0 70px;
 }
 
 .about-section .content-column{
	 position:relative;
	 margin-bottom: 40px;
 }
 
 .about-section .content-column .inner-column{
	 position: relative;
	 padding: 15px 0 0;
 }
 .about-section .sec-title{
	 margin-bottom: 60px;
 }
 
 .about-section .sec-title h2{
	 position: relative;
	 font-size: 36px;
	 color: #222222;
	 line-height: 1.2em;
	 font-weight: 300;
	 text-transform: unset;
 }
 
 .about-section .sec-title h2 b{
	 font-weight: 600;
 }
 
 
 .about-section .content-column h3{
	 position: relative;
	 display: block;
	 font-size: 24px;
	 color: #222222;
	 font-weight: 300;
	 font-style: italic;
	 font-family: 'Poppins', sans-serif;
	 margin-bottom: 24px;
 }
 
 .about-section .content-column .text{
	 position: relative;
	 margin-bottom: 45px;
 }
 
 .about-section .content-column .text p{
	 position: relative;
	 color: #555555;
	 font-size: 16px;
	 line-height: 1.65em;
 }
 
 .about-section .image-column{
	 position:relative;
	 margin-bottom: 40px;
 }
 
 .about-section .image-column .image-box{
	 position:relative;
	 text-align: right;
 }
 
 .about-section .image-column .image-box img{
	 max-width: 100%;
 }
 
 
 /*** 
 
 ====================================================================
					 Services Section
 ====================================================================
 
 ***/
 
 .services-section{
	 position: relative;
	 padding: 100px 0;
 }
 
 .services-section .service-block{
	 position: relative;
	 display: block;
 }
 .service-block .content-column,
 .service-block .image-column{
	 margin-bottom: 30px;
 }
 
 .service-block .image-column .image{
	 position: relative;
 }
 .service-block .image-column .image img{
	 display: block;
	 width: 100%;
 }
 
 .service-block .content-column .inner-column{
	 position: relative;
	 padding: 65px 0 0px;
	 max-width: 460px;
	 margin: 0 auto;
	 text-align: left;
 }
 
 .service-block .content-column .title{
	 position: relative;
	 margin-bottom: 29px;
	 padding-bottom: 15px;
 }
 
 .service-block .content-column .title:after{
	 position: absolute;
	 left: 4px;
	 right: 0;
	 bottom: 0;
	 /* margin: 0 auto; */
	 height: 3px;
	 width: 40px;
	 background-color: #006aea;
	 content:"";
 }
 
 .service-block .content-column .title h3{
	 font-size: 30px;
	 font-weight: 500;
	 color: #222222;
	 line-height: normal;
 }
 
 .service-block .content-column .title h3 a{
	 color: #222222;
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 .service-block .content-column .title h3:hover a{
	 color: #006aea;
 }
 
 
 .service-block .content-column .title span{
	 font-size: 15px;
	 line-height: normal;
	 color: #777777;
	 font-weight: 400;
 }
 .service-block .content-column p{
	 font-size: 16px;
	 color: #555555;
	 font-weight: 400 !important;
 }
 
 .services-section .link-box{
	 position: relative;
	 text-align:center;
	 margin-top: 50px;
	 margin-bottom: 10px;
 }
 
 
 .services-section.style-three{
	 padding: 100px 0 30px;
 }
 
 .service-block-two {
	 position: relative;
	 margin-bottom: 80px;
 }
 
 
 .service-block-two .image-box .image{
	 position: relative;
 }
 .service-block-two .image-box .image img{
	 display: block;
	 width: 100%;
 }
 
 .service-block-two .lower-content{
	 position: relative;
	 padding: 50px 0 0;
 }
 
 .service-block-two .lower-content h3{
	 position: relative;
	 margin-bottom:25px;
	 padding-bottom: 10px;
	 font-size: 24px;
	 font-weight: 500;
	 color: #222222;
	 line-height: normal;
 }
 .service-block-two .lower-content h3:after{
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 height: 2px;
	 width: 15px;
	 background-color: #006aea;
	 content:"";
 }
 
 .service-block-two .lower-content h3 a{
	 display: inline-block;
	 color: #222222;
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 .service-block-two .lower-content h3:hover a{
	 color: #006aea;
 }
 
 .service-block-two .lower-content p{
	 font-size: 16px;
	 color: #555555;
	 font-weight:300;
	 margin-bottom: 35px;
 }
 .service-block-two .lower-content .theme-btn{
	 padding: 8px 20px;
 }
 .service-block-two .lower-content .theme-btn:hover{
	 background-color: #006aea;
	 border-color: #006aea;
	 color: #ffffff;
 }
 /*** 
 
 ====================================================================
					 Service Detail
 ====================================================================
 
 ***/
 
 
 .service-detail{
	 position: relative;
 }
 
 .service-detail .inner-box{
	 position: relative;
 }
 
 .service-detail .image-box{
	 position: relative;
 }
 
 .service-detail .image-box img{
	 width: 100%;
	 display: block;
 }
 
 .service-detail .content-box{
	 position: relative;
	 padding-top: 45px;
	 padding-right: 20px;
 }
 
 .service-detail .content-box .title{
	 position: relative;
	 font-size: 24px;
	 line-height: 1.2em;
	 color: #222222;
	 font-weight: 600;
	 padding-bottom: 10px;
	 margin-bottom: 20px;
 }
 
 .service-detail .content-box .title:before{
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 height: 2px;
	 width: 15px;
	 background-color: #006aea;
	 content: "";
 }
 
 .service-detail .content-box h2{
	 position: relative;
	 font-size: 30px;
	 line-height: 1.2em;
	 color: #222222;
	 font-weight: 600;
	 margin-bottom: 20px;
 }
 
 .service-detail .content-box p{
	 font-size: 16px;
	 color: #555555;
	 font-weight: 300;
	 font-family: "Lato", sans-serif;
	 margin-bottom: 30px;
 }
 
 .features-list{
	 position: relative;
	 margin-bottom: 30px;
 }
 
 .feature-item{
	 position: relative;
	 padding: 20px 50px;
	 padding-right: 15px;
	 font-size: 16px;
	 line-height: 33px;
	 color: #222222;
	 font-weight: 500;
	 margin-bottom: 25px;
	 border-bottom: 2px solid #2e899e;
	 -webkit-box-shadow: 0 5px 30px rgba(0,0,0,.1);
	 -moz-box-shadow: 0 5px 30px rgba(0,0,0,.1);
	 -ms-box-shadow: 0 5px 30px rgba(0,0,0,.1);
	 -o-box-shadow: 0 5px 30px rgba(0,0,0,.1);
	 box-shadow: 0 5px 30px rgba(0,0,0,.1);
 }
 
 .feature-item:before{
	 position: absolute;
	 left: 25px;
	 top: 20px;
	 line-height: 33px;
	 font-size: 12px;
	 content: "\f00c";
	  font-family: 'Font Awesome 5 Free';
	  font-weight: 900;
	  color: #006aea;
 }
 
 
 .service-detail .content-box .features-list{
	 margin-bottom: 35px;
 }
 
 .service-detail .align-left{
	 float: left;
	 margin-right: 30px;
	 margin-bottom: 40px;
	 z-index: 9;
 }
 
 .service-detail .align-right{
	 float: right;
	 margin-left: 30px;
	 margin-bottom: 40px;
	 z-index: 9;
 }
 
 .result-block{
	 position: relative;
	 margin-bottom: 25px;
 }
 
 .service-detail .result-block:last-child{
	 margin-bottom: 0;
 }
 
 .result-block .inner-box{
	 position: relative;
	 background-color: #f1f1f1;
	 min-height: 170px;
	 padding: 38px 60px 38px 215px;
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 .result-block .inner-box .image{
	 position: absolute;
	 left: 0;
	 top: 0;
	 height: 100%;
	 width: 180px;
 }
 
 .result-block .inner-box h3{
	 position: relative;
	 font-size: 18px;
	 line-height: 1.2em;
	 color: #222222;
	 margin-bottom: 15px;
	 font-weight: 600;
 }
 
 .result-block .inner-box h3 a{
	 color: #222222;
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 .result-block .inner-box h3 a:hover{
	 color: #006aea;
 }
 
 
 
 .result-block .inner-box p{
	 position: relative;
	 margin: 0;
 }
 
 .result-block:hover .inner-box{
	 background-color: #ffffff;
	 -webkit-box-shadow: 0 0 30px rgba(0,0,0,.1);
	 -moz-box-shadow: 0 0 30px rgba(0,0,0,.1);
	 -ms-box-shadow: 0 0 30px rgba(0,0,0,.1);
	 -o-box-shadow: 0 0 30px rgba(0,0,0,.1);
	 box-shadow: 0 0 30px rgba(0,0,0,.1);
 }
 
 
 /*** 
 
 ====================================================================
					 Business Section
 ====================================================================
 
 ***/
 
 .business-section{
	 position: relative;
	 padding: 100px 0 70px;
 }
 
 .business-section:before{
	 position: absolute;
	 left: 0;
	 top: 0;
	 height: 100%;
	 width: 100%;
	 content: "";
	 background-color: rgba(0,13,16,.85);
 }
 
 .business-section:after{
	 position: absolute;
	 content: "";
	 left: 0;
	 bottom: 0px;
	 height: 300px;
	 width: 100%;
	 background-color: #ffffff;
 }
 
 .business-opration{
	 position: relative;
 }
 
 .business-slider{
	 position: relative;
	 padding: 35px;
	 padding-bottom: 0;
	 background-color: #ffffff;
	 -webkit-box-shadow: 0 20px 30px rgba(0,0,0,.1);
	 -moz-box-shadow: 0 20px 30px rgba(0,0,0,.1);
	 -ms-box-shadow: 0 20px 30px rgba(0,0,0,.1);
	 -o-box-shadow: 0 20px 30px rgba(0,0,0,.1);
	 box-shadow: 0 20px 30px rgba(0,0,0,.1);
 
 }
 
 .business-slider .slide-item{
	 position: relative;
 }
 
 .business-slider .content-column,
 .business-slider .image-column{
	 position: relative;
	 margin-bottom: 35px;
 }
 
 .business-slider .image-column img{
	 width: auto;
 }
 
 .business-slider .content-column .inner-box{
	 position: relative;
	 padding-right: 65px;
	 padding-top: 25px;
 }
 
 .business-slider .content-column .title{
	 position: relative;
	 padding-bottom: 17px;
	 margin-bottom: 40px;
 }
 .business-slider .content-column .title:after{
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 height: 2px;
	 width: 15px;
	 background-color: #006aea;
	 content:"";
 }
 
 .business-slider .content-column .title h3{
	 font-size: 24px;
	 color: #222222;
	 font-weight: 600;
 }
 
 .business-slider .content-column .title span{
	 font-size: 14px;
	 line-height: normal;
	 color: #777777;
	 font-weight: 300;
 }	
 
 
 .business-slider .content-column .text{
	 position: relative;
	 margin-bottom: 28px;
 }
 
 .business-slider .content-column .text h5{
	 position:relative;
	 font-size: 15px;
	 color: #222222;
	 font-weight: 600;
	 margin-bottom: 5px;
 } 
 
 .business-slider .content-column .text p{
	 position: relative;
	 font-size: 16px;
	 color: #555555;
	 font-weight: 300;
 }
 
 /*List Style One*/
 
 .list-style-one{
	 position:relative;
	 margin-bottom: 20px;
 }
 
 .list-style-one li{
	 position:relative;
	 padding-left:25px;
	 font-size:16px;
	 line-height: 30px;
	 color: #555555;
	 font-weight:300;
	 font-family:'Lato', sans-serif;
 }
 
 .list-style-one li:before{
	 position:absolute;
	 content:'\f00c';
	 left:0px;
	 top:0px;
	 color:#006aea;
	 font-size:12px;
	 font-weight: 900;
	 font-family: "Font Awesome 5 Free";
 }
 .business-slider .content-column .list-style-one{
	 margin-bottom: 35px;
 }
 
 .business-slider .content-column .theme-btn{
	 padding: 8px 30px;
	 font-size: 14px;
 }
 
 
 .business-slider .owl-dots{
	 position: absolute;
	 left: 0;
	 bottom: -65px;
	 width: 100%;
	 text-align: center;
 }
 
 .business-slider .owl-dots .owl-dot{
	 position:relative;
	 width:8px;
	 height:8px;
	 margin-left:8px;
	 display:inline-block;
	 background-color:#cccccc;
	 -moz-transition:all 0.3s ease;
	 -webkit-transition:all 0.3s ease;
	 -ms-transition:all 0.3s ease;
	 -o-transition:all 0.3s ease;
	 transition:all 0.3s ease;
	 -webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	 -ms-border-radius: 4px;
	 -o-border-radius: 4px;
	 border-radius: 4px;
 }
 
 .business-slider .owl-dots .owl-dot.active{
	 height: 10px;
	 width: 15px;
 }
 
 .business-slider .owl-dots .owl-dot.active,
 .business-slider .owl-dots .owl-dot:hover{
	 background-color :#006aea;
 }
 
 /*** 
 
 ====================================================================
					 Success Steps
 ====================================================================
 
 ***/
 
 .success-steps{
	 position: relative;
	 padding: 100px 0 80px;
	 counter-reset:count;
 }
 
 .success-steps .row{
	 margin-left: -45px;
	 margin-right: -45px;
 }
 .success-steps .step{
	 position: relative;
	 padding: 0 45px;
	 margin-bottom: 30px;
 }
 
 .success-steps .step .inner-box{
	 text-align: center;
	 position: relative;
	 padding-top: 65px;
 }
 
 .success-steps .step::before {
	 position: absolute;
	 left: 0;
	 top: 30px;
	 font-size: 120px;
	 color: #ededed;
	 font-weight: 500;
	 counter-increment: count;
	 content: "" counter(count);
	 display: inline-block;
	 width: auto;
	 width: 100%;
	 text-align: center;
 }
 
 
 .success-steps .step h4{
	 position: relative;
	 font-size: 20px;
	 line-height: normal;
	 color: #222222;
	 font-weight: 600;
	 margin-bottom: 15px;
	}
 
 .success-steps .step h4 a{
	 color: #222222;
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 .success-steps .step h4 a:hover{
	 color: #006aea;
 }
 
 .success-steps .step p{
	 position: relative;
	 font-size: 16px;
	 font-weight: 400 !important;
	 color: #555555;
	}
 
 /*** 
 
 ====================================================================
					 Team Section
 ====================================================================
 
 ***/
 
 .team-section{
	 position: relative;
	 padding:140px 0px 80px;
 }
 
 .team-section .outer-container{
	 position: relative;
 }
 
 .team-section .info-column,
 .team-section .team-column{
	 position: relative;
	 float: left;
	 width: 50%;
 }
 
 .team-section .image-layer{
	 position:absolute;
	 left:0px;
	 top:0px;
	 width:50%;
	 height:100%;
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
 }
 
 .team-section .image-layer:before{
	 position: absolute;
	 left: 0;
	 top: 0;
	 height: 100%;
	 width: 100%;
	 content: "";
	 background-color: rgba(0,13,16,.9);
 }
 
 .team-section .info-column .inner-column{
	 position: relative;
	 float:right;
	 width:100%;
	 padding: 40px 210px 10px 20px;
	 max-width:820px;
 }
 
 .team-section .info-column .sec-title{
	 margin-bottom: 60px;
	 max-width:450px;
 }
 
 .team-section .info-column .sec-title p{
	 position: relative;
	 font-size: 24px;
	 color: #ffffff;
	 line-height: normal;
	 font-weight: 300;
	 font-style: italic;
	 font-family: "Lato", sans-serif;
	 margin-top: 10px;
 }
 
 .team-section .info-column .text{
	 position: relative;
	 color: #ffffff;
	 font-size: 16px;
	 font-weight: 400 !important;
	 margin-bottom: 50px;
	 max-width:450px;
	}
 
 .progress-bars{
	 position:relative;
	 font-family:'Poppins', sans-serif;
	 max-width:450px;	
 }
 
 .progress-bars .bar-item{
	 position:relative;
	 margin-bottom:45px;
 }
 
 .progress-bars .bar-item:last-child{
	 margin-bottom:0px;
 }
 
 .progress-bars .bar-item .skill-bar{
	 position:relative;
	 width:100%;
	 height:3px;	
 }
 
 .progress-bars .bar-item .skill-bar .bar-inner{
	 position:relative;
	 width:100%;
	 overflow:hidden;
	 height:3px;
	 background:#434a4c;
	 border-radius:2px;
 }
 
 .progress-bars .bar-item .skill-bar .bar-inner .bar{
	 position:absolute;
	 left:0px;
	 top:0px;
	 height:3px;
	 width:0px;
	 border-bottom:3px solid #2e899e;
	 -webkit-transition:all 2000ms ease;
	 -ms-transition:all 2000ms ease;
	 -o-transition:all 2000ms ease;
	 -moz-transition:all 2000ms ease;
	 transition:all 2000ms ease;
 }
 
 .progress-bars .bar-item .skill-header{
	 position:relative;
	 line-height:24px;
	 text-transform:capitalize;
	 font-weight:500;
	 font-size:16px;
	 color:#ffffff;
	 margin-bottom:7px;
 }
 
 .dark-layout .progress-bars .bar-item .skill-header{
	 color:#ffffff;	
 }
 
 .progress-bars .bar-item .skill-header .skill-title{
	 position:relative;
	 float:left;
 }
 
 .progress-bars .bar-item .skill-header .skill-percentage{
	 position:relative;
	 float:right;
	 font-weight:500;
	 font-size:14px;
 }
 
 
 .team-section .team-column .inner-column{
	 position: relative;
	 padding: 0px 30px 0px 0px;
	 margin-left:-180px;
	 max-width:1050px;
 }
 
 .team-block{
	 position: relative;
	 margin-bottom: 60px;
 }
 
 .team-block .inner-box{
	 position: relative;
	 overflow: hidden;
	 -webkit-box-shadow: 0 0 30px rgba(0,0,0,.1);
	 -moz-box-shadow: 0 0 30px rgba(0,0,0,.1);
	 -ms-box-shadow: 0 0 30px rgba(0,0,0,.1);
	 -o-box-shadow: 0 0 30px rgba(0,0,0,.1);
	 box-shadow: 0 0 30px rgba(0,0,0,.1);
 }
 
 .team-block .inner-box .image{
	 position: relative;
 }
 
 .team-block .inner-box .image img{
	 width: 100%;
	 display: block;
	 height: 170px;
 }
 
 .team-block .inner-box .caption-box{
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 width: 100%;
	 text-align: center;
	 padding: 20px 10px;
	 border-bottom: 2px solid #006aea;
	 -webkit-transform: translateY(100%);
	 -moz-transform: translateY(100%);
	 -ms-transform: translateY(100%);
	 -o-transform: translateY(100%);
	 transform: translateY(100%);
	 -webkit-transition:all 500ms ease;
	 -ms-transition:all 500ms ease;
	 -o-transition:all 500ms ease;
	 -moz-transition:all 500ms ease;
	 transition:all 500ms ease;	
 }
 
 .team-block .inner-box .caption-box:before{
	 position: absolute;
	 left: 0;
	 top: 0;
	 height: 100%;
	 width: 100%;
	 content: "";
	 background-color: rgba(0,0,0,.85);
 
 }
 
 .team-block .inner-box .caption-box .name{
	 position: relative;
	 font-size: 18px;
	 line-height: 26px;
	 color: #ffffff;
	 font-weight: 600;
 }
 
 .team-block .inner-box .caption-box .name a{
	 color: #ffffff;
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 .team-block .inner-box .caption-box .name a:hover{
	 color: #006aea;
 }
 
 .team-block .inner-box .caption-box .designation{
	 position: relative;
	 display: block;
	 font-size: 12px;
	 line-height: 15px;
	 color: #ffffff;
	 font-weight: 400;
	 margin-bottom: 10px;
 }
 
 /*Social Icon Two*/
 .social-icon-two{
	 position:relative;
	 text-align: center;
 }
 
 .social-icon-two li{
	 position:relative;
	 display: inline-block;
	 margin: 0 2px;
 
 }
 
 .social-icon-two li a{
	 position:relative;
	 display:inline-block;
	 height: 34px;
	 width: 34px;
	 font-size:16px;
	 line-height: 34px;
	 color: #222222;
	 background-color: #ffffff;
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 -ms-border-radius: 50%;
	 -o-border-radius: 50%;
	 border-radius: 50%;
	 -webkit-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 -moz-transition:all 300ms ease;
	 transition:all 300ms ease;	
 }
 
 .social-icon-two li a:hover{
	 color:#ffffff;
	 background-color: #006aea;
 }
 
 .team-block:hover .caption-box{
	 -webkit-transform: translate(0);
	 -moz-transform: translate(0);
	 -ms-transform: translate(0);
	 -o-transform: translate(0);
	 transform: translate(0);
 }
 
 
 /*** 
 
 ====================================================================
					 Pricing Section
 ====================================================================
 
 ***/
 
 .pricing-section{
	 position: relative;
	 padding: 110px 0 70px;
 }
 
 .pricing-section .sec-title p{
	 max-width: 615px;
	 margin-top: 15px;
 }
 
 .pricing-section .row{
	 margin-left: -15px;
	 margin-right: -15px;
 
 }
 .pricing-table{
	 position: relative;
	 margin-bottom: 40px;
 }
 
 .pricing-table .inner-box{
	 position: relative;
	 border: 1px solid #eeeeee;
	 padding: 64px 60px;
	 text-align: center;
	 overflow: hidden;
	 -webkit-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 -moz-transition:all 300ms ease;
	 transition:all 300ms ease;	
 
 }
 
 .pricing-table:hover .inner-box,
 .pricing-table.tagged .inner-box{
	 -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.1);
	 -moz-box-shadow: 0 0 30px rgba(0,0,0,0.1);
	 -ms-box-shadow: 0 0 30px rgba(0,0,0,0.1);
	 -o-box-shadow: 0 0 30px rgba(0,0,0,0.1);
	 box-shadow: 0 0 30px rgba(0,0,0,0.1);
 }
 
 .pricing-table .inner-box:before{
	 position: absolute;
	 right: -150px;
	 top: 0;
	 height: 60px;
	 width: 72px;
	 background-color: #2e899e;
	 content: "";
	 -webkit-transform: skewX(50deg);
	 -moz-transform: skewX(50deg);
	 -ms-transform: skewX(50deg);
	 -o-transform: skewX(50deg);
	 transform: skewX(50deg);
		-webkit-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 -moz-transition:all 300ms ease;
	 transition:all 300ms ease;	
 }
 
 .pricing-table .inner-box:after{
	 position: absolute;
	 right: 0;
	 top: 0;
	 height: 40px;
	 width: 40px;
	 text-align: right;
	 padding: 10px 7px;
	 line-height: 20px;
	 font-size: 18px;
	 color: #ffffff;
	 content: "\f005";
	 font-family: "Font Awesome 5 Free";
	 -webkit-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 -moz-transition:all 300ms ease;
	 transition:all 300ms ease;	
	 opacity: 0;
	 visibility: hidden;
 }
 
 .pricing-table:hover .inner-box:after,
 .pricing-table.tagged .inner-box:after{
	 opacity: 1;
	 visibility: visible;
	 -webkit-transition-delay: 300ms;
	 -moz-transition-delay: 300ms;
	 -ms-transition-delay: 300ms;
	 -o-transition-delay: 300ms;
	 transition-delay: 300ms;
 }
 
 .pricing-table:hover .inner-box:before,
 .pricing-table.tagged .inner-box:before{
	 right: -40px;
 }
 
 
 .pricing-table .title{
	 position: relative;
	 margin-top: 16px;
	 padding: 20px 0;
	 font-size: 24px;
	 line-height: 35px;
	 color: #222222;
	 border-bottom: 1px solid #dddddd;
 }
 
 .pricing-table .price{
	 position: relative;
	 padding: 26px 0;
	 font-size: 14px;
	 line-height: 25px;
	 color: #777777;
	 border-bottom: 1px solid #dddddd;
 }
 
 .pricing-table .price h2{
	 font-size: 55px;
	 line-height: 70px;
	 color: #222222;
	 display: inline-block;
	 font-weight: 500;
 }
 
 .pricing-table .price h2 span{
	 display: inline-block;
	 font-size: 30px;
	 vertical-align: top;
 } 
 
 .pricing-table .table-content{
	 position: relative;
	 padding: 50px 0 60px;
 }
 
 .pricing-table .table-content ul li{
	 position: relative;
	 font-size: 18px;
	 line-height: 36px;
	 color: #555555;
	 font-weight: 300;
 }
 
 /*** 
 
 ====================================================================
					 Subscribe Section
 ====================================================================
 
 ***/
 
 .subscribe-section{
	 position: relative;
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: cover;
	 padding: 130px 0;
 }
 
 .subscribe-section:before{
	 position: absolute;
	 left: 0;
	 top: 0;
	 height: 100%;
	 width: 100%;
	 background: rgba(0,13,16,.85);
	 content: "";
 }
 
 .subscribe-section .content{
	 position: relative;
	 text-align: center;
 }
 
 .subscribe-section .content span{
	 position: relative;
	 font-size: 14px;
	 line-height: normal;
	 color: #ffffff;
	 margin-bottom: 20px;
	 text-transform: uppercase;
	 display: block;
 }	
 
 
 .subscribe-section .content h1{	
	 font-size: 44px;
	 line-height: 1em;
	 font-weight: 600;
	 color: #ffffff;
 }	
 .subscribe-section .content h3{	
	 font-size: 30px;
	 line-height: normal;
	 font-weight: 500;
	 color: #ffffff;
	 margin-bottom: 60px;
 }
 
 .subscribe-section .content a{	
	 margin-bottom: 10px;
 }
 
 
 /*** 
 
 ====================================================================
	 Testimonial Section
 ====================================================================
 
 ***/
 
 .testimonial-section{
	 position: relative;
	 padding: 110px 0;
 }
 
 .testimonial-carousel{
	 position: relative;
	 text-align: center;
	 max-width: 860px;
	 margin: 0 auto 70px;
 }
 .testimonial-carousel .thumb{
	 position: relative;
	 height: 90px;
	 width: 90px;
	 margin:0 auto;
	 margin-bottom: 45px;
 
 }
 
 .testimonial-carousel .thumb img{
	 width: 100%;
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 -ms-border-radius: 50%;
	 -o-border-radius: 50%;
	 border-radius: 50%;
 }
 
 
 .testimonial-carousel p{
	 font-size: 22px;
	 line-height: 1.63em;
	 color: #777777;
	 font-weight: 300;
	 font-style: italic;
	 margin-bottom: 40px;
 }
 
 .testimonial-carousel .quote-icon{
	 position: relative;
	 display: block;
	 font-size: 32px;
	 color: #2e899e;
	 margin-bottom: 20px;
 }
 
 
 .testimonial-carousel .name{
	 font-size: 18px;
	 line-height: 20px;
	 color: #222222;
	 font-weight: 600;
 }
 
 .testimonial-carousel .name a{
	 color: #222222;
	 display: block;
 }
 
 .testimonial-carousel .designation{
	 font-size: 12px;
	 line-height: 26px;
	 color: #222222;
	 font-weight: 400;
 }
 
 
 
 
 .testimonial-carousel .owl-dots{
	 position: absolute;
	 left: 0;
	 bottom: -65px;
	 width: 100%;
	 text-align: center;
 }
 
 .testimonial-carousel .owl-dots .owl-dot{
	 position:relative;
	 width:8px;
	 height:8px;
	 margin-left:8px;
	 display:inline-block;
	 background-color:#cccccc;
	 -moz-transition:all 0.3s ease;
	 -webkit-transition:all 0.3s ease;
	 -ms-transition:all 0.3s ease;
	 -o-transition:all 0.3s ease;
	 transition:all 0.3s ease;
	 -webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	 -ms-border-radius: 4px;
	 -o-border-radius: 4px;
	 border-radius: 4px;
 }
 
 .testimonial-carousel .owl-dots .owl-dot.active{
	 height: 10px;
	 width: 15px;
 }
 
 .testimonial-carousel .owl-dots .owl-dot.active,
 .testimonial-carousel .owl-dots .owl-dot:hover{
	 background-color :#006aea;
 }
 
 
 
 
 /*** 
 
 ====================================================================
	 News Section
 ====================================================================
 
 ***/
 
 .news-secton{
	 position: relative;
	 padding: 110px 0 80px;
	 background: #f1f1f1;
 }
 
 .news-block{
	 position: relative;
	 margin-bottom: 30px;
 }
 
 .news-block .inner-box{
	 position: relative;
	 background-color: #ffffff;
	 -webkit-border-radius: 6px;
	 -moz-border-radius: 6px;
	 -ms-border-radius: 6px;
	 -o-border-radius: 6px;
	 border-radius: 6px;
	 -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.1);
	 -moz-box-shadow: 0px 0px 20px rgba(0,0,0,.1);
	 -ms-box-shadow: 0px 0px 20px rgba(0,0,0,.1);
	 -o-box-shadow: 0px 0px 20px rgba(0,0,0,.1);
	 box-shadow: 0px 0px 20px rgba(0,0,0,.1);
 }
 
 .news-block .image-box{
	 position: relative;
 }
 
 .news-block .image-box a{
	 display: block;
 }
 
 .news-block .image-box img{
	 width: 100%;
 }
 
 
 .news-block .content-box{
	 position: relative;
	 padding:40px 65px 30px 50px;
 }
 
 .news-block .content-box h3{
	 position: relative;
	 font-size: 22px;
	 line-height: 1.45em;
	 color: #222222;
	 font-weight: 600;
 
 }
 
 .news-block .content-box h3 a{
	 color: #222222;
	 -webkit-transition: all 300ms ease;  
	 -moz-transition: all 300ms ease;  
	 -ms-transition: all 300ms ease;  
	 -o-transition: all 300ms ease;  
	 transition: all 300ms ease;
 }
 
 .news-block .content-box h3 a:hover{
	 color: #006aea;
 }
 
 .news-block .content-box .title{
	 position: relative;
	 padding-bottom: 15px;
	 margin-bottom: 30px;
 }
 .news-block .content-box .title:before{
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 height: 3px;
	 width: 15px;
	 content: "";
	 background-color: #006aea;
 }
 
 .news-block .content-box p{
	 position: relative;
	 font-size: 16px;
	 line-height: 1.625em;
	 color: #555555;
	 font-weight: 400 !important;
	 margin-top: 10px;
	 margin-bottom: 15px;
	}
 
 
 .news-block .content-box .post-info{
	 position: relative;
	 display: block;
 }
 
 .news-block .content-box .post-info li{
	 position: relative;
	 display: inline-block;
	 font-size: 14px;
	 line-height: 1.85em;
	 color: #555555;
	 margin-bottom: 10px;
	 padding-right: 20px;
	 margin-right: 16px;
 }
 
 .news-block .content-box .post-info li:before{
	 position: absolute;
	 right: 0;
	 top: 5px;
	 height: 14px;
	 width: 1px;
	 background-color: #b6b6b6;
	 content: "";
 }
 
 .news-block .content-box .post-info li:last-child:before{
	 display: none;
 }
 
 
 .news-block .content-box .post-info li a{
	 color: #2e899e;
 }
 
 
 /*==========================
		 News block two
 ===========================*/
 .news-block-two{
	 position: relative;
	 margin-bottom: 70px;
 }
 
 .news-block-two .inner-box{
	 position: relative;
	 background-color: #ffffff;
	 border-bottom: 2px solid #2e899e;
 }
 
 .news-block-two .image-box{
	 position: relative;
 }
 
 .news-block-two .image-box a{
	 display: block;
 }
 
 .news-block-two .image-box img{
	 width: 100%;
 }
 
 .news-block-two .content-box{
	 position: relative;
	 padding:50px 45px 45px 45px;
	 -webkit-box-shadow: 5px 20px 30px rgba(0,0,0,.1);
	 -moz-box-shadow: 5px 20px 30px rgba(0,0,0,.1);
	 -ms-box-shadow: 5px 20px 30px rgba(0,0,0,.1);
	 -o-box-shadow: 5px 20px 30px rgba(0,0,0,.1);
	 box-shadow: 5px 20px 30px rgba(0,0,0,.1);
 }
 
 .news-block-two .content-box .tags{
	 position: relative;
	 margin-bottom: 20px;
 }
 
 .news-block-two .content-box .tags li{
	 float: left;
	 margin-right: 6px;
 }
 
 .news-block-two .content-box .tags li a{ 
	 position: relative;
	 display: inline-block;
	 padding: 5px 15px;
	 font-size: 12px;
	 line-height: 18px;
	 font-weight: 600;
	 text-transform: uppercase;
	 color: #222222;
	 border: 1px solid #dddddd;
	 text-align: center;
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 .news-block-two .content-box .tags li a:hover{
	 color: #ffffff;
	 background-color: #006aea;
	 border-color: #006aea;
 } 
 
 .news-block-two .content-box h3{
	 position: relative;
	 font-size: 30px;
	 line-height: 1.2em;
	 color: #222222;
	 font-weight: 500;
	 margin-bottom: 15px;
 }
 
 .news-block-two .content-box h3 a{
	 color: #222222;
	 -webkit-transition: all 300ms ease;  
	 -moz-transition: all 300ms ease;  
	 -ms-transition: all 300ms ease;  
	 -o-transition: all 300ms ease;  
	 transition: all 300ms ease;
 }
 
 .news-block-two .content-box h3 a:hover{
	 color: #006aea;
 }
 
 
 .news-block-two .content-box p{
	 position: relative;
	 font-size: 16px;
	 line-height: 1.625em;
	 color: #555555;
	 font-weight: 400;
	 margin-top: 10px;
 }
 
 .news-block-two .content-box .post-info{
	 position: relative;
	 display: block;
 }
 
 .news-block-two .content-box .post-info li{
	 position: relative;
	 display: inline-block;
	 font-size: 14px;
	 line-height: 1.85em;
	 color: #555555;
	 margin-bottom: 10px;
	 padding-right: 20px;
	 margin-right: 16px;
 }
 
 .news-block-two .content-box .post-info li:before{
	 position: absolute;
	 right: 0;
	 top: 5px;
	 height: 14px;
	 width: 1px;
	 background-color: #b6b6b6;
	 content: "";
 }
 
 .news-block-two .content-box .post-info li:last-child:before{
	 display: none;
 }
 
 
 .news-block-two .content-box .post-info li a{
	 color: #2e899e;
 }
 
 
 
 /*==========================
		 News Single
 ===========================*/
 .news-single{
	 position: relative;
	 margin-bottom: 60px;
 }
 
 .news-single .inner-box{
	 position: relative;
	 background-color: #ffffff;
	 border-bottom: 2px solid #2e899e;
 }
 
 .news-single .image-box{
	 position: relative;
 }
 
 .news-single .image-box img{
	 width: 100%;
 }
 
 .news-single .content-box{
	 position: relative;
	 padding:50px 0 30px;
 }
 
 
 .news-single .content-box h3{
	 position: relative;
	 font-size: 30px;
	 line-height: 1.2em;
	 color: #222222;
	 font-weight: 600;
	 margin-bottom: 15px;
 }
 
 .news-single .content-box .post-info{
	 position: relative;
	 display: block;
	 margin-bottom: 10px;
 }
 
 .news-single .content-box .post-info li{
	 position: relative;
	 display: inline-block;
	 font-size: 14px;
	 line-height: 1.85em;
	 color: #555555;
	 margin-bottom: 10px;
	 padding-right: 20px;
	 margin-right: 16px;
 }
 
 .news-single .content-box .post-info li:before{
	 position: absolute;
	 right: 0;
	 top: 5px;
	 height: 14px;
	 width: 1px;
	 background-color: #b6b6b6;
	 content: "";
 }
 
 .news-single .content-box .post-info li:last-child:before{
	 display: none;
 }
 
 
 .news-single .content-box .post-info li a{
	 color: #2e899e;
 }
 
 
 .news-single .content-box p{
	 position: relative;
	 font-size: 16px;
	 line-height: 1.625em;
	 color: #555555;
	 font-weight: 300;
	 margin-bottom: 30px;
 }
 
 .post-shere-option{
	 position: relative;
	 margin-top: 60px;
 }
 
 
 .social-icon-four{
	 position: relative;
	 display: block;
 }
 
 .social-icon-four li{
	 position: relative;
	 display: inline-block;
 }
 
 .social-icon-four li a{
	 position: relative;
	 display: inline-block;
	 height: 34px;
	 width: 34px;
	 background-color: #eeeeee;
	 color: #555555;
	 text-align: center;
	 padding: 5px 0;
	 line-height: 24px;
	 font-size: 14px;
	 margin-right: 5px;
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 -ms-border-radius: 50%;
	 -o-border-radius: 50%;
	 border-radius: 50%;
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 .social-icon-four li a:hover{
	 background-color: #006aea;
	 color: #ffffff;
 }
 
 .news-single .content-box .tags{
	 position: relative;
 }
 
 .news-single .content-box .tags li{
	 float: left;
	 margin-right: 5px;
	 margin-bottom: 5px;
 }
 
 .news-single .content-box .tags li a{ 
	 position: relative;
	 display: inline-block;
	 padding: 5px 15px;
	 min-width: 85px;
	 font-size: 12px;
	 font-weight: 600;
	 text-transform: uppercase;
	 color: #222222;
	 border: 1px solid #dddddd;
	 text-align: center;
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 .news-single .content-box .tags li a:hover{
	 color: #ffffff;
	 background-color: #006aea;
	 border-color: #006aea;
 } 
 
 /*==========================
		 Author Box
 ===========================*/
 .author-box{
	 position: relative;
	 padding: 15px 0;
	 min-height: 200px;
	 display: block;
	 -webkit-box-shadow: 0 0 30px rgba(0,0,0,.1);
	 -moz-box-shadow: 0 0 30px rgba(0,0,0,.1);
	 -ms-box-shadow: 0 0 30px rgba(0,0,0,.1);
	 -o-box-shadow: 0 0 30px rgba(0,0,0,.1);
	 box-shadow: 0 0 30px rgba(0,0,0,.1);
 }
 
 .author-box .inner-box{
	 position: relative;
	 padding: 30px 30px;
	 padding-left: 200px;
 }
 
 .author-box .image-box{
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 170px;
 }
 
 .author-box h3{
	 position: relative;
	 font-size: 18px;
	 color: #222222;
	 font-weight: 400;
	 margin-bottom: 11px;
 }
 .author-box h3 a{
	 color: #222222;
 }
 
 .author-box h3 span{
	 font-weight: 600;
 }
 
 
 
 
 /*** 
 
 ====================================================================
	 Styled Pagination
 ====================================================================
 
 ***/
 
 .styled-pagination{
	 position:relative;
 }
 
 .styled-pagination ul{
	 position:relative;
	 display:inline-block;	
 }
 
 .styled-pagination li{
	 position:relative;
	 display:block;
	 float:left;
	 margin-right: 7px;
 }
 
 .styled-pagination li a{
	 position:relative;
	 display:inline-block;
	 height:45px;
	 width: 45px;
	 text-align: center;
	 line-height:25px;
	 padding:10px 5px;
	 font-size:16px;
	 background:#f1f1f1;
	 color:#222222;
	 font-weight:500;
	 -webkit-border-radius:5px;
	 -moz-border-radius:5px;
	 -ms-border-radius:5px;
	 -o-border-radius:5px;
	 border-radius:5px;
	 transition:all 500ms ease;
	 -webkit-transition:all 500ms ease;
	 -ms-transition:all 500ms ease;
	 -o-transition:all 500ms ease;
	 -moz-transition:all 500ms ease;
 }
 
 .styled-pagination li a:hover,
 .styled-pagination li a.active{
	 color:#ffffff;	
	 background:#006aea;	
 }
 
 
 
 
 /***
 
 ====================================================================
						  Sponsors Section
 ====================================================================
 
 ***/
 
 .sponsor-section{
	 position: relative;
	 padding: 110px 0;
 }
 
 .sponsor-section .sponsors-carousel .image-box{
	 position: relative;
	 display: block;
	 border: 1px solid #edf0f3;
 }
 
 .sponsor-section .sponsors-carousel .image-box img{
	 max-width: 100%;
	 width: auto;
	 height: auto;
	 margin: 0 auto;
 }
 
 
 /*** 
 
 ====================================================================
	 Contact Section
 ====================================================================
 
  ***/
 
 .contact-section{
	 position: relative;
	 padding: 110px 0 70px;
 }
 
 .contact-info-block{
	 position: relative;
	 margin-bottom: 40px;
 }
 
 .contact-info-block .inner-box{
	 position: relative;
	 text-align: center;
	 min-height: 256px;
	 padding: 45px 30px 40px;
	 background-color: #ffffff;
	 color: #222222;
	 z-index: 99;
	 border-bottom: 3px solid #2e899e;
	 -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.1);
	 -moz-box-shadow: 0 0 30px rgba(0,0,0,0.1);
	 -ms-box-shadow: 0 0 30px rgba(0,0,0,0.1);
	 -o-box-shadow: 0 0 30px rgba(0,0,0,0.1);
	 box-shadow: 0 0 30px rgba(0,0,0,0.1);
 }
 
 .contact-info-block .inner-box:before{
	 position: absolute;
	 left: 50%;
	 bottom: -3px;
	 height: 3px;
	 width: 0;
	 content: '';
	 background-color: #006aea;
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 .contact-info-block:hover .inner-box:before{
	 width: 100%;
	 left: 0;
 }
 
 
 .contact-info-block .icon-box{
	 position: relative;
	 height: 80px;
	 width: 80px;
	 margin: 0 auto;
	 padding: 20px 0;
	 line-height: 40px;
	 font-size: 26px;
	 color: #222222;
	 margin-bottom: 30px;
	 background-color: #f1f1f1;
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 -ms-border-radius: 50%;
	 -o-border-radius: 50%;
	 border-radius: 50%;
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 
 .contact-info-block:hover .icon-box{
	 color: #ffffff;
	 background-color: #006aea;
 }
 
 .contact-info-block p{
	 position: relative;
	 display: block;
	 font-size: 18px;
	 line-height: 1.66em;
	 color: #222222;
	 font-weight: 400;
	 font-family: "Poppins", sans-serif;
 }
 
 .contact-info-block p a{
	 color: #222222;
 }
 
 
 /***
 
 ====================================================================
						 Contact map Section
 ====================================================================
 
 ***/
 .map-section{
	 position:relative;
	 overflow:hidden;
 }
 
 .map-section .map-outer{
	 position: relative;
 }
 
 
 .map-section .map-canvas{
	 position:relative;
	 left:0px;
	 top:0px;
	 width:100%;
	 height: 450px;
	 display:block;
 }
 
 .map-data{
	 text-align:center;
	 font-size:14px;
	 font-weight:400;
	 line-height:1.8em;
 }
 
 .map-data h6{
	 font-size:16px;
	 font-weight:700;
	 text-align:center;
	 margin-bottom:5px;
	 color:#121212;
 }
 
 .map-canvas{
	 height:470px;
 }
 
 
 /***
 
 ====================================================================
						 Contact Form Section
 ====================================================================
 
 ***/
 
 .contact-form-section{
	 position: relative;
	 padding: 110px 0;
 }
 
 .contact-form-section.style-two{
	 background-color: #f1f1f1;
 }
 
 .contact-form-section .sec-title p{
	 position: relative;
	 max-width: 580px;
 }
 
 .contact-form{
	 position:relative;
	 max-width: 750px;
	 margin: 0 auto;
 }
 
 .contact-form .form-group{
	 position:relative;
	 margin-bottom:20px;
 }
 
 .contact-form .form-group input[type="text"],
 .contact-form .form-group input[type="password"],
 .contact-form .form-group input[type="tel"],
 .contact-form .form-group input[type="email"],
 .contact-form .form-group textarea,
 .contact-form .form-group select{
	 position:relative;
	 display:block;
	 width:100%;
	 line-height:33px;
	 padding:10px 25px;
	 height:55px;
	 color: #555555;
	 background-color: #f6f6f6;
	 font-size:16px;
	 border:1px solid #f6f6f6;
	 font-family: "Lato", sans-serif;
	 font-weight: 400;
	 -webkit-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 -moz-transition:all 300ms ease;
	 transition:all 300ms ease;
 }
 
 .contact-form .form-group textarea{
	 height: 150px;
	 resize: none;
 }
 
 .contact-form input.error,
 .contact-form select.error,
 .contact-form textarea.error{
	 border-color:#ff0000 !important;	
 }
 
 .contact-form label.error{
	 display:block;
	 line-height:24px;
	 padding:5px 0px 0px;
	 margin:0px;
	 text-transform:uppercase;
	 font-size:11px;
	 color:#ff0000;
	 font-weight:500;	
 }
 .contact-form .form-group button{
	 margin-top: 30px;
 }
 
 .contact-form .form-group input:focus,
 .contact-form .form-group textarea:focus{
	 border-color: #006aea;
 }
 
 
 .contact-form-section.style-two .contact-form .form-group input,
 .contact-form-section.style-two .contact-form .form-group textarea,
 .contact-form-section.style-two .contact-form .form-group select{
	 background-color: #ffffff;
 }
 
 /***
 
 ====================================================================
						 Call To Action
 ====================================================================
 
 ***/
 
 .call-to-action{
	 position: relative;
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: cover;
	 padding: 40px 0 15px;
 }
 
 .call-to-action:before{
	 position: absolute;
	 content: "";
	 left: 0;
	 top: 0;
	 height: 100%;
	 width: 100%;
 background-color: rgba(0,13,16,.75);
 }
 
 .call-to-action .title-column,
 .call-to-action .call-btn{
	 margin-bottom: 30px;
 }
 
 .call-to-action h2{
	 position: relative;
	 font-size: 36px;
	 line-height: 1.2em;
	 color: #ffffff;
	 font-weight: 600;
	 margin-bottom: 5px;
 }	
 
 .call-to-action p{
	 color: #ffffff;
	 font-size: 16px;
	 font-weight: 400;
 }
 
 .call-to-action .call-btn{
	 text-align: right;
 }
 
 .call-to-action .call-btn a{
	 text-transform: unset;
	 margin-top: 10px;
 }
 
 
 
 /***
 
 ==================================================================
						 Main Footer
 ==================================================================
 
 ***/
 
 
 .main-footer{
	 position:relative;
	 background-color:#1a2021;
	 background-repeat:no-repeat;
	 background-position:center center;
	 color:#ffffff;
 }
 
 .main-footer .widgets-section{
	 position:relative;
	 border-bottom: 1px solid rgba(255,255,255,0.20);
	 padding:95px 0px 65px;
 }
 
 .main-footer .footer-column{
	 position:relative;
 }
 
 .main-footer .footer-widget{
	 position:relative;
	 margin-bottom:30px;		
 }
 
 .main-footer .footer-logo{
	 position:relative;	
	 margin-bottom: 35px;
 }
 
 .main-footer .footer-logo img{
	 display:block;
	 max-width:100%;	
 }
 
 .main-footer .footer-column .widget-title{
	 position: relative;
	 font-size:16px;
	 font-weight:600;
	 text-transform:uppercase;
	 margin-top: 15px;
	 margin-bottom:35px;
	 padding-bottom: 14px;
	 color:#ffffff;	
 }
 
 .main-footer .footer-column .widget-title:before{
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 height: 2px;
	 width: 15px;
	 background-color: #006aea;
	 content: "";
 
 }
 
 .main-footer .about-widget .text{
	 font-size: 16px;
	 color: #cccccc;
	 font-weight: 300;
	 font-family: "Lato", sans-serif;
	 margin-bottom: 35px;
 }
 
 
 .social-icon-three{
	 position: relative;
	 display: block;
 }
 
 .social-icon-three li{
	 position: relative;
	 display: inline-block;
 }
 
 .social-icon-three li a{
	 position: relative;
	 display: inline-block;
	 height: 34px;
	 width: 34px;
	 background-color: #2e899e;
	 color: #ffffff;
	 text-align: center;
	 padding: 5px 0;
	 line-height: 24px;
	 font-size: 14px;
	 margin-right: 5px;
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 -ms-border-radius: 50%;
	 -o-border-radius: 50%;
	 border-radius: 50%;
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 .social-icon-three li a:hover{
	 background-color: #006aea;
 }
 
 
 /*=== Services Widget ===*/
 .main-footer .services-widget{
	 position: relative;
	 padding-left: 25px;
 }
 
 .main-footer .services-widget .list li{
	 position:relative;
	 display: block;
	 margin-bottom: 9px;
 }
 
 .main-footer .services-widget .list li a{
	 position:relative;
	 display: inline-block;
	 font-size: 16px;
	 line-height:20px;
	 color:#cccccc;
	 text-transform:capitalize;
	 font-weight: 400;
	 font-family: "Lato", sans-serif;
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
	}
 
 .main-footer .services-widget .list li a:hover{
	 color:#ffffff;
 }
 
 .main-footer .services-widget .list li:last-child{
	 margin-bottom: 0;
 }
 
 
 
 /*=== posts Widget ===*/
 .main-footer .posts-widget{
	 position: relative;
	 margin-left: -45px;
	 padding-right: 45px;
 }
 
 .main-footer .posts-widget .post{
	 position:relative;
	 min-height:75px;
	 padding-left:110px;
	 margin-bottom:30px;
 }
 
 .main-footer .posts-widget .post:last-child{
	 margin-bottom:0px;
 }
 
 .main-footer .posts-widget .post .post-thumb{
	 position:absolute;
	 left:0px;
	 top:0px;
	 height:75px;
	 width:85px;
 }
 
 .main-footer .posts-widget .post .post-thumb .overlay-link{
	 position:absolute;
	 left:0px;
	 top:0px;
	 width:100%;
	 height:100%;
	 background:rgba(46,137,158,0.85);
	 color:#ffffff;
	 opacity:0;
	 transition:all 300ms ease;
	 -webkit-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 -moz-transition:all 300ms ease;	
 }
 
 .main-footer .posts-widget .post:hover .post-thumb .overlay-link{
	 opacity:1;	
 }
 
 .main-footer .posts-widget .post .post-thumb .overlay-link span{
	 position:absolute;
	 left:50%;
	 top:50%;
	 text-align:center;
	 width:30px;
	 margin-left:-15px;
	 margin-top:-15px;
	 line-height:30px;
	 font-size:14px;	
 }
 
 .main-footer .posts-widget .post .post-thumb img{
	 display:block;
	 width:100%;
 }
 
 .main-footer .posts-widget .post .desc-text{
	 position:relative;
 }
 
 .main-footer .posts-widget .post .desc-text a{
	 position: relative;
	 display: inline-block;
	 font-size:16px;
	 color:#cccccc;
	 line-height: 24px;
	 font-weight: 400;
	 font-family: "Lato", sans-serif;
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
	}
 
 .main-footer .posts-widget .post .desc-text a:hover{
	 color :#ffffff;
 }
 
 .main-footer .posts-widget .post .time{
	 position: relative;
	 display: inline-block;
	 color: #2e899e;
	 font-size: 11px;
	 line-height: normal;
	 margin-top: 5px;
 }
 
 
 /*=== Contact Widget ===*/
 .main-footer .contact-info-list li{
	 position:relative;
	 display: block;
	 font-size: 16px;
	 padding-left: 30px;
	 line-height: 24px;
	 color: #cccccc;
	 margin-bottom: 15px;
	 font-family: 'Poppins', sans-serif;
	 font-weight: 300;
 }
 
 .main-footer .contact-info-list li a{
	 color: inherit;
	 display: inline-block;
 }
 
 
 .main-footer .contact-info-list li i{
	 position: absolute;
	 left: 0;
	 top: 5px;
 }
 
 
 
 /*=== Footer Bottom ===*/
 
 .main-footer .footer-bottom{
	 position:relative;
	 padding:40px 0px;
	 text-align: center;
 }
 
 .main-footer .footer-bottom p{
	 line-height: 30px;
	 color: #cccccc;
	 font-size:15px;
	 font-weight: 400;
	 font-family: 'Poppins', sans-serif;
 }
 
 .main-footer .footer-bottom p a{
	 color: #ffffff;
 }
 
 .main-footer .footer-bottom p a:hover{
	 text-decoration: underline;
 }
 
 
 
 /*====================================================================
			 Sidebar Page Container  (Default Sidebar)
 ====================================================================*/
 
 .sidebar-page-container{
	 position:relative;
	 padding:110px 0px 70px;
 }
 
 .sidebar-page-container .content-side,
 .sidebar-page-container .sidebar-side{
	 margin-bottom:40px;
 }
 
 .sidebar-widget{
	 position: relative;
	 margin-bottom: 65px;
 }
 
 
 .sidebar-title{
	 position: relative;
	 padding-bottom: 20px;
	 margin-bottom: 35px;
	 border-bottom: 1px solid #dddddd;
 }
 
 .sidebar-title h2{
	 position: relative;
	 font-size: 22px;
	 line-height: 1.2em;
	 color: #222222;
	 font-weight: 500;
 }
 
 
 .sidebar-title:before{
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 height: 2px;
	 width: 50px;
	 background-color: #006aea;
	 content: "";
 }
 
 /*==========================
	 Categories Widget
 ===========================*/
 .cat-list{
	 position: relative;
 }
 
 .cat-list li{
	 position: relative;
	 padding-left: 20px;
	 margin-bottom: 12px;
 }
 
 .cat-list li:before{
	 position: absolute;
	 left: 0;
	 top: 0;
	 height: 20px;
	 width: 15px;
	 text-align: left;
	 font-size: 12px;
	 color: #2e899e;
	 font-weight: 900;
	 font-family: "Font Awesome 5 Free";
	 content: '\f00c'
 }
 
 .cat-list li:last-child{
	 margin-bottom: 0;
 }
 
 .cat-list li a{
	 position: relative;
	 display: block;
	 font-size: 16px;
	 color: #222222;
	 font-weight: 500;
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 .cat-list li a:hover{
	 color: #2e899e;
 }
 
 
 .cat-list li a span{
	 float: right;
	 font-weight: 400;
	 font-size: 14px;
 }
 
 
 
 /*==========================
	 Search Widget
 ===========================*/
 .search-box{
	 position: relative;
	 display: block;
	 background-color: #006aea;
 }
 
 .search-box .inner-box{
	 position: relative;
	 padding: 40px 30px 45px;
 }
 
 .search-box h3{
	 position: relative;
	 font-size: 24px;
	 color: #ffffff;
	 font-weight: 600;
	 margin-bottom: 20px;
 }
 .search-box .form-group{
	 position: relative;
	 margin-bottom: 0px;
 }
 
 
 .search-box .form-group input{
	 position:relative;
	 display:block;
	 width:100%;
	 line-height:35px;
	 padding:10px 25px;
	 padding-right: 70px;
	 height:55px;
	 color: #ffffff;
	 background-color: rgba(0,0,0,.15);
	 font-size:16px;
	 font-family: "Lato", sans-serif;
	 font-weight: 300;
	 -webkit-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 -moz-transition:all 300ms ease;
	 transition:all 300ms ease;
 }
 
 
 .search-box .form-group button{
	 position: absolute;
	 right: 0;
	 top: 0;
	 height: 55px;
	 width: 55px;
	 background:none;
	 color: #ffffff;
	 font-size: 16px;
	 line-height: 40px;
	 padding:10px 0;
 }
 
 
 
 /*==========================
	 Request Widget
 ===========================*/
 .request-form{
	 position: relative;
	 display: block;
	 background-color: #006aea;
 }
 
 .request-form .inner-box{
	 position: relative;
	 padding: 40px 30px 35px;
 }
 
 .request-form h3{
	 position: relative;
	 font-size: 24px;
	 color: #ffffff;
	 font-weight: 600;
	 margin-bottom: 30px;
 }
 .request-form .form-group{
	 position: relative;
	 margin-bottom: 10px;
 }
 
 .request-form .ui-selectmenu-button.ui-button,
 .request-form .form-group input[type="text"],
 .request-form .form-group input[type="password"],
 .request-form .form-group input[type="tel"],
 .request-form .form-group input[type="url"],
 .request-form .form-group input[type="email"],
 .request-form .form-group textarea,
 .request-form .form-group select{
	 position:relative;
	 display:block;
	 width:100%;
	 line-height:35px;
	 padding:10px 25px;
	 height:55px;
	 color: #ffffff;
	 background-color: rgba(0,0,0,.15);
	 font-size:16px;
	 font-family: "Lato", sans-serif;
	 font-weight: 300;
	 -webkit-transition:all 300ms ease;
	 -ms-transition:all 300ms ease;
	 -o-transition:all 300ms ease;
	 -moz-transition:all 300ms ease;
	 transition:all 300ms ease;
 }
 
 .request-form .form-group textarea{
	 height: 140px;
	 resize: none;
 }
 
 .request-form .form-group input:focus,
 .request-form .form-group textarea:focus{
	 border-color: #006aea;
 }
 
 .request-form .form-group button{
	 display: block;
	 width: 100%;
	 margin-top: 15px;
	 text-transform: uppercase;
	 background: #ffffff;
	 color: #006aea;
	 border: 2px solid #006aea;
 }
 
 .request-form .form-group button:hover{
	 background-color: #ffffff;
	 color: #006aea;
	 border-color: #ffffff;
 }
 
 
 .request-form .ui-selectmenu-button.ui-button{
	 font-weight: 500;
	 text-align: left;
	 border:0;
 }
 
 .request-form .ui-button .ui-icon{
	 background:none;
	 position:relative;
	 top:0px;
	 text-indent: 0;
	 height: 35px;
 }
 .request-form .ui-button .ui-icon:before{
	 font-family: 'Font Awesome 5 Free';
	 font-weight: 900; 
	 content: "\f107";
	 position:absolute;
	 right:0px;
	 top:0px;
	 width:10px;
	 font-size:14px;
	 line-height: 35px;
	 display:block;
	 color:#ffffff;
	 text-align:center;
	 z-index:5;
 }
 .request-form .ui-widget.ui-widget-content{
	 border:1px solid #e0e0e0;
 }
 
 .ui-menu .ui-menu-item{
	 font-size:14px;
	 font-weight: 400;
	 color: #777777;
	 border-bottom:1px solid #e0e0e0;
 }
 .ui-menu .ui-menu-item:last-child{
	 border:none;	
 }
 .ui-menu .ui-menu-item-wrapper{
	 position:relative;
	 display:block;
	 padding:8px 20px ;
	 font-size:14px;
	 font-weight: 400;
	 line-height:24px;
 }
 
 /*==========================
		 Post Widget
 ===========================*/
 
 .sidebar .related-posts .post{
	 position:relative;
	 padding-left: 123px;
	 margin-bottom:38px;
 }
 
 
 .sidebar .related-posts .post .post-thumb{
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 98px;
	 margin-bottom: 15px;
 }
 
 .sidebar .related-posts .post .post-thumb a{
	 display: block;
 }
 
 
 .sidebar .related-posts .post .post-thumb img{
	 display:block;
	 width:100%;
 }
 
 .sidebar .related-posts .post h3{
	 position:relative;
	 font-size: 16px;
	 line-height: 1.2em;
	 color: #222222;
	 font-weight: 600;
	 top: -3px;
	 margin-bottom: 5px;
 }
 
 .sidebar .related-posts .post h3 a{
	 display: inline-block;
	 color:#222222;
	 -moz-transition:all 0.3s ease;
	 -webkit-transition:all 0.3s ease;
	 -ms-transition:all 0.3s ease;
	 -o-transition:all 0.3s ease;
	 transition:all 0.3s ease;
 }
 .sidebar .related-posts .post h3 a:hover{
	 color :#006aea;
 }
 
 .sidebar .related-posts .post p{
	 font-size: 16px;
	 color: #555555;
	 font-weight: 300;
	 margin-bottom: 10px;
 }
 
 .sidebar .related-posts .post .date,
 .sidebar .related-posts .post .learn-more{
	 color: #2e899e;
	 font-size: 14px;
	 text-transform: capitalize;
 }
 
 
 /*==========================
		 Contact Widget
 ===========================*/
 .contact-info-list-two li{
	 position:relative;
	 padding-left: 100px;
	 display: block;
	 margin-bottom: 25px;
	 min-height: 80px;
 }
 
 .contact-info-list-two li .icon-box{
	 position: absolute;
	 left: 0;
	 top: 0;
	 height: 80px;
	 width: 80px;
	 color: #2e899e;
	 background-color: #f1f1f1;
	 text-align: center;
	 padding: 25px 0;
	 font-size: 26px;
	 line-height: 30px;
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 -ms-border-radius: 50%;
	 -o-border-radius: 50%;
	 border-radius: 50%;
 }
 .contact-info-list-two li h4{
	 position: relative;
	 font-size: 16px;
	 color: #222222;
	 font-weight: 600;
	 top: 3px;
	 margin-bottom: 10px;
 }
 
 .contact-info-list-two li h4 a{
	 color: #222222;
	 display: inline-block;
 }
 
 
 .contact-info-list-two li p{
	 position: relative;
	 font-size: 16px;
	 color: #222222;
	 font-family: "Poppins", sans-serif;
	 font-weight: 400;
 }
 
 
 
 /*==========================
		 Popular Tags
 ===========================*/
 
 .tags-list{
	 position: relative;
	 margin-bottom: 20px;
 }
 
 .tags-list li{
	 float: left;
	 margin-right: 10px;
	 margin-bottom: 10px;
 }
 
 .tags-list li a{ 
	 position: relative;
	 display: inline-block;
	 padding: 5px 15px;
	 font-size: 12px;
	 font-weight: 600;
	 text-transform: uppercase;
	 color: #222222;
	 border: 1px solid #dddddd;
	 text-align: center;
	 border-radius:2px;
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 .tags-list li a:hover{
	 color: #ffffff;
	 background-color: #006aea;
	 border-color: #006aea;
 } 
 
 
 /*==========================
		 Comments Area
 ===========================*/
 
 .sidebar-page-container .group-title{
	 position:relative;
	 margin-bottom:35px;
	 padding-bottom: 10px;
 }
 
 .sidebar-page-container .group-title:before{
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 content: "";
	 width: 20px;
	 border-bottom: 2px solid #006aea;
 }
 
 .sidebar-page-container .group-title h2{
	 position: relative;
	 font-size:22px;
	 text-transform:capitalize;
	 color:#222222;
	 font-weight:600;
 }
 
 .comments-area{
	 position:relative;
	 margin-bottom:65px;	
	 margin-top:65px;
 
 }
 
 .comments-area .comment-box{
	 position:relative;
	 padding:0;
	 margin-bottom:25px;
	 border: 1px solid #eeeeee;
 }
 
 .comments-area .comment{
	 position:relative;
	 padding: 35px 50px 30px 150px;
 }
 
 .comments-area .reply-comment{
	 padding-left:100px;	
 }
 
 .comments-area .comment-box .author-thumb{
	 position:absolute;
	 left:0px;
	 top:0px;
	 width:120px;
	 margin-bottom:20px;
 }
 
 .comments-area .comment-box .author-thumb img{
	 width:100%;
	 display:block;
 }
 
 .comments-area .comment-info{
	 position: relative;
	 margin-bottom:20px;
 }
 
 .comments-area .comment-box strong{
	 position: relative;
	 font-size:17px;
	 font-weight:600;
	 color:#222222;
	 display:block;
	 line-height: 1em;
	 margin-bottom: 5px;
	 text-transform:capitalize;
 }
 
 .comments-area .comment-box .time{
	 position: relative;
 }
 
 .comments-area .comment-box .time li{
	 position: relative;
	 display: inline-block;
	 margin-right: 10px;
	 padding-right: 10px;
 }
 
 .comments-area .comment-box .time li:before{
	 position: absolute;
	 right: 0;
	 top: 5px;
	 height: 13px;
	 width: 1px;
	 content: "";
	 background-color: #777777;
 }
 
 .comments-area .comment-box .time li:last-child:before{
	 display: none;
 }
 
 .comments-area .comment-box .text{
	 font-size: 16px;
	 color:#555555;
	 font-weight: 300;
 }
 
 .comments-area .comment-info .comment-time{
	 font-size:12px;	
	 color:#666666;
	 line-height:20px;
 }
 
 .comments-area .comment-box .reply-btn{
	 position: absolute;
	 right: 30px;
	 top: 35px;
	 height: 40px;
	 width: 40px;
	 text-align: center;
	 line-height: 40px;
	 font-size: 14px;
	 color: #2e899e;
	 background-color: #f1f1f1;
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 -ms-border-radius: 50%;
	 -o-border-radius: 50%;
	 border-radius: 50%;
	 -webkit-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 .comments-area .comment-box .reply-btn:hover{
	 background-color: #006aea;
	 color: #ffffff;
 }
 
 /*** 
 
 ====================================================================
	 Comment Form
 ====================================================================
 
  ***/
 .comment-form .form-group{
	 position:relative;
	 margin-bottom:20px;	
 }
 
 .comment-form .form-group:last-child{
	 margin-bottom: 0;
 }
 
 .comment-form .form-group input,
 .comment-form .form-group textarea,
 .comment-form .form-group select{
	 position: relative;
	 display: block;
	 width: 100%;
	 line-height: 33px;
	 padding: 10px 25px;
	 height: 55px;
	 color: #555555;
	 background-color: #f6f6f6;
	 font-size: 16px;
	 border: 1px solid #f6f6f6;
	 font-family: "Lato", sans-serif;
	 font-weight: 400;
	 -webkit-transition: all 300ms ease;
	 -ms-transition: all 300ms ease;
	 -o-transition: all 300ms ease;
	 -moz-transition: all 300ms ease;
	 transition: all 300ms ease;
 }
 
 .comment-form .form-group input:focus,
 .comment-form .form-group select:focus,
 .comment-form .form-group textarea:focus{
	 border-color:#006aea;
 }
 
 .comment-form .form-group textarea{
	 height: 150px;
	 resize: none;
 }
 
 .comment-form button{
	 min-width: 160px;
 }
 
 .fa{
	 font-weight:900;	
 }