<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;Proprietorship Return Filing</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>Proprietorship Return Filing</span>
                            <span class="pull-right"> Rs. {{price}}</span>
                    </h3>
                       
                        <p>
                            Like any other incorporated entities such as partnerships and companies, a proprietorship
                            also must pay tax on its revenue. In the legal sense, a proprietorship is treated like the
                            proprietor himself, the income tax that has to be filed follows the same procedure that of
                            filing returns of the proprietor himself. Therefore the laws that govern the payment of
                            income tax of the proprietor govern the proprietorship as well. For example, income tax
                            slabs for senior citizens apply to the proprietorship if the proprietor is a senior citizen,
                            i.e.: – Citizens of age 60 and above are exempt from paying income tax if their total income
                            is below Rs 3 lakh.
                        </p>
                        <p>
                            – Citizens aged 80 and above are exempt from income tax if their total income is below Rs 5
                            lakh.
                        </p>
                        <ul class="custom_list"><li>Audit of Proprietorship</li></ul>
                                <p>
                                    Depending upon the annual turnover of the proprietorship, sometimes it is required
                                    that the proprietorship be audited. There are three different circumstances where an
                                    audit needs to be done:
                                    – Turnover of the proprietorship firm conducting business is over Rs 1 crore during
                                    the year of assessment.

                                </p>
                                <p>In the matter of a professional proprietorship, an audit needs to be done if the
                                    total receipts of the proprietorship exceed the amount of Rs 50 lakh.

                                </p>
                                <p>– If a proprietorship is under any presumptive tax scheme, regardless of the annual
                                    turnover, an audit is required</p>
                                <p>For an audit, the rules to be followed are set out under the Income Tax Act, 1961.
                                    Under that Act, it is required that the audit of the proprietorship firm needs to be
                                    done by a certified Chartered Accountant. The CA has to make sure that all the books
                                    of accounts are properly maintained and that the proprietorship firm has complied
                                    with all the compliances required.</p>
                                    <ul class="custom_list"><li>How to File an Income Tax Return for a Proprietorship?</li></ul>
                               
                                <p>
                                    It is required under the law that proprietorships file tax returns every year unless
                                    exempted. As mentioned before the income tax of the proprietorship is that of the
                                    proprietor. The tax return can be filed both physically or via an e-filing portal by
                                    using the electronic signature of the proprietor. Two different forms are needed to
                                    be filed depending on the nature of the proprietorship:
                                </p>
                               
                                        <p><b>
                                                Form ITR-3:
                                            </b>
                                            This form should be used to file income tax if the proprietorship is run by
                                            a Hindu Undivided family or any other proprietor.
                                        </p>
                                   
                                        <p><b>
                                                Form ITR-4 Sugam:
                                            </b>
                                            This form is different from the previous form as this form is used by
                                            proprietorships that fall under presumptive tax schemes. This is to reduce
                                            the burden of compliances that fall upon small businesses. As mentioned
                                            before the income tax of a proprietorship is the same as that of the
                                            proprietor meaning, the business income of the proprietorship is added into
                                            the income of the proprietor himself. Therefore the business taxes become
                                            the personal taxes of the proprietor. He is still entitled to all tax
                                            deductions offered to individuals or Hindu Undivided Family (HUF) as the
                                            case may be.
                                        </p>
                                        <ul class="custom_list"><li>Steps to follow for e-Filing An Income Tax Return for a Proprietorship</li></ul>
                               
                                <ul class="custom_icon_list">
                                    <li>The first step is to have a PAN card. This is a card that is issued by the
                                        Income Tax Department to every taxpayer. It provides the owner of the card a
                                        unique Permanent Account Number (PAN) which is needed to pay taxes.</li>
                                    <li>The proprietorship does not have a separate legal entity; therefore, the PAN of
                                        the proprietor has to be used to pay the in income tax and file the income tax
                                        returns.</li>
                                    <li>You have to register yourself at the e-filing portal; if already registered you
                                        have to log in using your PAN.</li>
                                    <li>Now select the e-filing menu and then select ‘Income Tax Return’.</li>
                                    <li>On this page, you have to select the following- – Assessment year – ITR form –
                                        Filing type (original/revised) – Select prepare and submit in the submission
                                        mode</li>
                                    <li>Select continue. The new page is where you need to fill out all the details that
                                        are asked for carefully.</li>
                                    <li>Some details to be filled out will be mandatory, and some are dependant on the
                                        applicability.</li>
                                    <li>After filling out all the relevant information, you have to choose the
                                        verification method. There are three methods, tow for e-filing and one for
                                        physical filing- – Select e-verify, which will verify the filing right away –
                                        E-verify later within 120 days, which gives you time to update any information
                                        required within 120 days – Select ‘I don’t want to e-verify’ to continue
                                        manually</li>
                                    <li>Now select the ‘Preview and Submit’ option. Here you get to preview the return
                                        before submission to do one last check for errors.</li>
                                    <li>After submission in the e-verify option, you can verify the filing either via
                                        OTP or EVC. The OTP/EVC must be entered within 60 seconds for successful
                                        verification.</li>

                                </ul>
                                <ul class="custom_list"><li>Deadline for Filing An Income Tax Return for a Proprietorship</li></ul>
                               
                                <p>
                                    The deadline for filing the income tax return for a proprietorship is dependent upon
                                    whether it needs to be audited under the Income Tax Act,1961 and whether it has
                                    conducted any international transactions.
                                </p>
                                <ul class="custom_icon_list">
                                    <li>Proprietorship that doesn’t require an audit has to file their income tax
                                        returns by the 31st of July.</li>
                                    <li>Proprietorship that requires to be audited needs to file their income tax
                                        returns by the 30th of September.</li>
                                    <li>Proprietorships that have conducted any international transactions or certain
                                        specified domestic entities have to file their income tax returns by 30thof
                                        November.</li>

                                </ul>
                           
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>