<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;Trade License</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>Trade License</span>
                            <span class="pull-right"> Rs. {{price}}</span>
                    </h3>
                       
                    
                        <p>A place of business within a State, Corporation or Municipality will require a trade license
                            from the concerned State Government or Corporation or Municipality for operating. Rules and
                            regulations pertaining to trade license varies from state to state. Hence, to obtain trade
                            license, the applicant must first understand the jurisdiction under which he/she is
                            operating the business and the applicable Act.</p>
                        <p>In most states, the application for grant or renewal of license will be made to a
                            Commissioner in the Corporation. The application must be made within 30 days of starting to
                            operate a business. On applying with the required information and documents, the concerned
                            Officer will ensure that the business is suitable for the purpose used, there is no
                            possibility of danger or nuisance for any person around and issue the license. Trade license
                            would normally be issued within a period of 7-15 days on submission of application.
                            IndiaFilings can help you obtain trade license for your business. Get in touch with an
                            IndiaFilings Advisor to know more about the rules and regulations applicable for your
                            business and begin the process of applying for a trade license.</p>
                            <p><b>Important Aspects Relating to Trade License</b></p>
                       
                        <ul class="custom_list">
                            <li>Gumasta License</li>
                        </ul>
                        <p>Trade license is known by different names in different parts of the country. For instance,
                            trade license is referred to as Gumasta license in the state of Maharashtra.</p>
                      
                        <ul class="custom_list">
                            <li>Application</li>
                        </ul>
                        <p>Trade license application must be made to the concerned State Government or Corporation or
                            Municipality. The jurisdiction and procedure for application would differ based on the State
                            regulations.</p>
                        <ul class="custom_list">
                            <li>Verification</li>
                        </ul>
                        <p>In some State, the trade license would be issued only after in-person verification from the
                            concerned authorities. However, many states have also done away with the requirement.</p>
                        
                        <ul class="custom_list">
                            <li>Processing Time</li>
                        </ul>
                        <p>The normal processing time for trade application is 10 - 15 days subject to Government
                            processing time. The certificate can be downloaded online after approval.</p>
                        
                        <ul class="custom_list">
                            <li>Validity</li>
                        </ul>
                        <p>In most states, trade licenses are issued with a validity of 1 year. Trade license can be
                            renewed at the end of each year by paying the renewal fee.</p>
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>