<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;TDS</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>TDS</span>
                            <span class="pull-right"> Rs. {{price}}</span>
                    </h3>
                       
                        <p>
                            TDS is basically a part of income tax. It has to be deducted by a person for certain
                            payments made by them. In this article, we will discuss in detail about the TDS provisions
                            under the Income Tax Act.
                        </p>
                        <ul class="custom_list"><li>What is TDS?</li></ul>
                               
                                <p>TDS or Tax Deducted at Source is income tax reduced from the money paid at the time
                                    of making specified payments such as rent, commission, professional fees, salary,
                                    interest etc. by the persons making such payments. Usually, the person receiving
                                    income is liable to pay income tax. But the government with the help of Tax Deducted
                                    at Source provisions makes sure that income tax is deducted in advance from the
                                    payments being made by you. The recipient of income receives the net amount (after
                                    reducing TDS). The recipient will add the gross amount to his income and the amount
                                    of TDS is adjusted against his final tax liability. The recipient takes credit of
                                    the amount already deducted and paid on his behalf. </p>
                                    <ul class="custom_list"><li> When should TDS be deducted and by whom?</li></ul>
                               
                                <p>
                                    Any person making specified payments mentioned under the Income Tax Act are required
                                    to deduct TDS at the time of making such specified payment. But no TDS has to
                                    deducted if the person making the payment is an individual or HUF whose books are
                                    not required to be audited. However, in case of rent payments made by individuals
                                    and HUF exceeding Rs 50,000 per month, are required to deduct TDS @ 5% even if the
                                    individual or HUF is not liable for a tax audit. Also, such Individuals and HUF
                                    liable to deduct TDS @ 5% need not apply for TAN. Your employer deducts TDS at the
                                    income tax slab rates applicable. Banks deduct TDS @10%. Or they may deduct @ 20% if
                                    they do not have your PAN information. For most payments rates of TDS are set in the
                                    income tax act and TDS is deducted by payer basis these specified rates. If you
                                    submit investment proofs (for claiming deductions) to your employer and your total
                                    taxable income is below the taxable limit – you do not have to pay any tax. And
                                    therefore no TDS should be deducted on your income. Similarly, you can submit Form
                                    15G and Form 15H to the bank if your total income is below taxable limit so that
                                    they don’t deduct TDS on your interest income. In case you have not been able to
                                    submit proofs to your employer or if your employer or bank has already deducted TDS
                                    and your total income is below the taxable limit) – you can file a return and claim
                                    a refund of this TDS. The complete list of Specified Payments eligible for TDS
                                    deduction along with the rate of TDS.
                                </p>
                                <ul class="custom_list"><li>  What is the due date for depositing the TDS to the government?</li></ul>
                               
                                <p>
                                    The Tax Deducted at Source must be deposited to the government by 7th of the
                                    subsequent month.
                                </p>
                                <ul class="custom_list"><li>  How to deposit TDS?</li></ul>
                               
                                <p>
                                    Tax Deducted at Source has to be deposited using Challan ITNS-281 on the government
                                    portal. Read our article for a step by step guide to deposit TDS.
                                </p>
                                <ul class="custom_list"><li> TDS credits in Form 26AS</li></ul>
                               
                                <p>It is important to understand how TDS is linked to your PAN. TDS deductions are
                                    linked to PAN numbers for both the deductor and deductee. If TDS has been deducted
                                    from any of your income you must go through the Tax Credit Form 26AS. This form is a
                                    consolidated tax statement which is available to all PAN holders. Since all TDS is
                                    linked to your PAN, this form lists out the details of TDS deducted on your income
                                    by each deductor for all kinds of payments made to you – whether those are salaries
                                    or interest income – all TDS linked to your PAN is reported here. This form also has
                                    income tax directly paid by you – as advance tax or self assessment tax. Therefore,
                                    it becomes important for you to mention your PAN correctly, wherever TDS may be
                                    applicable on your income. You can easily file your TDS returns through ClearTax
                                    software i.e. ClearTDS. It is an online TDS software that requires no download or
                                    desktop installation or software update. It helps you to prepare regular &
                                    correction e-TDS statements online easily with just a few clicks on your computer.
                                    It is also compatible with TDS returns of previous financial years for easy import.
                                    Also, you can generate your TDS certificates using ClearTDS. </p>
                                    <ul class="custom_list"><li> SMS Alerts for Higher Transparency</li></ul>
                                <p>
                                    The income tax department has been sending SMS to the taxpayers from VK-ITDEFL that
                                    mentions the amount of tax deducted at source (TDS) against the PAN (Permanent
                                    Account Number) of the taxpayer. The SMS alert will let you know the TDS credited in
                                    respect of your income from salary, interest etc., every quarter. The amount of TDS
                                    would stand accumulated in your Form 26AS for the respective financial year. This
                                    initiative was implemented by the Finance Ministry to increase transparency and
                                    reduce the cases of TDS mismatches at the time of income tax filing. Taxpayers can
                                    cross-check the information provided in the SMS with the information on the payslips
                                    to make sure that there is no mismatch. TDS mismatch could be a common reason for
                                    incorrect income tax return filing.
                                </p>
                           
                                <ul class="custom_list"><li>Tax liability in a case where TDS is already deducted from Income</li></ul>
                                <p>
                                    On salary, TDS is deducted based on the income tax slab applicable to you. In the
                                    case of other income types, the TDS rates are fixed and vary between 10% and 20%.
                                    The tax rates are not based on your total income. Hence, you would suffer a TDS on
                                    your receipts in certain cases. Separately, you would be required to calculate your
                                    annual income by aggregating income from all sources. Your actual tax liability
                                    would be calculated on the total taxable income. From the taxes calculated, you can
                                    claim credit for TDS deducted on your various receipts. Reduce the tax deducted at
                                    source from your actual tax liability to know the balance to be paid to the income
                                    tax department. You may have a refund too. In both cases, you have to file an income
                                    tax return and pay the tax due or claim a refund.
                                </p>
                           
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>