<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;{{lst.name}}</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>PF Return Filing</span>
                            <span class="pull-right"> Rs. {{lst.price}}</span>
                        </h3>
                        <p>To promote the attuite of savings amongst the employees and also to benefit them during
                            retirement a social security system of <b><u>Provident fund</u></b> was introduced.
                            Contributions towards
                            the PF are made by both the employer as well as the employee every month. The contribution
                            made towards the PF can be only drawn by the employee only during the time of his or her
                            employment, but there are a few exceptions.
                        </p>
                        <p>
                            The employers that have PF registration have to file the PF returns monthly. The PF return
                            filings are to be completed by the 25th of each month. Here we will talk about the various
                            forms used for PF return filing in detail. The employers can easily file the PF return
                            through the <b><u>Unified portal</u></b>.
                        </p>
                        <ul class="custom_list">
                            <li>RELATED GUIDES</li>
                        </ul>

                        <ul class="custom_icon_list">
                            <li>Annual PF return filing</li>
                            <li>How to file Monthly PF returns?</li>
                            <li>PF return filing due date</li>
                            <li>Form IEPF 1</li>
                            <li>Form IEPF 2</li>
                        </ul>
                        <ul class="custom_list">
                            <li>Form 2</li>
                        </ul>
                        <p>
                            Form 2 is filed as a declaration and nomination under the Flagship scheme of the Employment
                            Provident Fund and the Employment Family Pension Scheme. Form 2 must be filed by the
                            employees who are joining the establishment. This form is to be submitted with Form 5. Form
                            2 is divided into 2 different parts.
                        </p>

                        <ul class="custom_list">
                            <li>Part A</li>
                        </ul>
                        <p>
                            Part A of Form 2 deals with nominating the recipients of the EPF balance of the particular
                            account holder, in the event of his or her death. This part of the form must include the
                            following details:
                        </p>
                        <ul class="custom_icon_list">
                            <li>Name</li>
                            <li>Address</li>
                            <li>Relationship with the subscriber</li>
                            <li>Age</li>
                            <li>Sum of the money that is to be paid to the nominee</li>
                            <li>Guardian Details ( In case the nominee is a minor)</li>
                        </ul>
                        <p>
                            This Part has to be signed or needs to have a thumb impression to be made at the end of the
                            section.
                        </p>
                        <ul class="custom_list">
                            <li>Part B</li>
                        </ul>
                        <p>
                            The details of the nominee as already mentioned in Part A should also be included in Part B.
                            Additionally, the details of the members who are eligible to receive the children/ widow
                            pension must be furnished.
                        </p>
                        <p>
                            This Part again must be signed duly or a thumb impression has to be made at the end of the
                            section.
                        </p>
                        <ul class="custom_list">
                            <li>Form 5</li>
                        </ul>
                        <p>
                            Form 5 is a monthly report that contains the details of the employees who are newly enrolled
                            in the provident fund scheme. Form 5 must include the following details:
                        </p>
                        <ul class="custom_icon_list">
                            <li>Organization’s Name</li>
                            <li>Address of the Organization</li>
                            <li>Code of the organization</li>
                            <li>Account number of the Employee</li>
                            <li>Name of the employee</li>
                            <li>Middle Name (Husband/Father)</li>
                            <li>Date of birth of the employee</li>
                            <li>Date of joining</li>
                            <li>Track record of the work.</li>
                        </ul>
                        <p>
                            The form is to be filed and stamped by the employer with the date of filing mentioned on it.
                        </p>
                        <ul class="custom_list">
                            <li>Form 10</li>
                        </ul>
                        <p>
                            It is a monthly report that includes the details of the employees who have ceased to be a
                            part of the scheme on the given month. Form 10 includes the following details.
                        </p>
                        <ul class="custom_icon_list">
                            <li>Account Number</li>
                            <li>Name of the employee</li>
                            <li>Name of the father or the husband</li>
                            <li>Date of leaving the service</li>
                            <li>Reason for leaving service.</li>
                        </ul>
                        <p>
                            Form 10 must be filed and stamped by the employer with the filing date of the form.
                        </p>
                        <ul class="custom_list">
                            <li>Form 12A</li>
                        </ul>
                        <p>
                            This Form 12 A is a report that contains the payment details that are contributed to the
                            account of the respective employee in a particular month.
                        </p>
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>