<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;{{lst.name}}</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>GST Annual Return</span>
                            <span class="pull-right"> Rs. {{lst.price}}</span>
                        </h3>
                        <ul class="custom_list">
                            <li>How to File GST Annual Return for 2021</li>
                        </ul>
                        <p>
                            Implemented in India from 1st July 2017. Over 1.3 crore businesses in India have been
                            registered and issued GST registration under the new GST regime. The entities registered
                            under GST must file annual returns as per the scheduled GST return due date.
                        </p>
                        <p>
                            GST annual return filing is mandatory for all entities with a turnover of more than two
                            crores required to obtain GST registration, irrespective of the business activity or sales
                            or profitability during the return filing period. Hence, even a dormant business that gets
                            GST registration must file GST returns.
                        </p>
                        <ul class="custom_list">
                            <li>What is GSTR 9: Annual Return Filing?</li>
                        </ul>
                        <p>
                            GSTR 9 is the annual return that is to be to be filed yearly by the taxpayers registered
                            under GST.
                        </p>
                        <p>
                            GSTR 9 is to be filed yearly by the taxpayers registered under GST. It consists of details
                            regarding the outward and the inward supplies made during the relevant financial year.
                        </p>
                        <p>
                            Before filing GSTR 9, the taxpayer must file all GSTR-1, GSTR-3B, or GSTR 4 returns. In case
                            of over dues, the GSTR registration holder will not be allowed to file an annual GST annual
                            return.
                        </p>
                        <p>
                            GSTR 9 consists of details regarding the outward and the inward supplies made or received
                            during the relevant financial year under CGST, SGST, and IGST. It is a consolidation of all
                            the monthly/quarterly returns filed in that year.
                        </p>
                        <ul class="custom_list">
                            <li>RELATED GUIDES</li>
                        </ul>
                        <ul class="custom_icon_list">
                            <li>GSTR 9 Form</li>
                            <li>What is GSTR-9A Form?</li>
                            <li>GSTR 9A Format</li>
                            <li>GSTR 9C Format</li>
                        </ul>
                        <ul class="custom_list">
                            <li>Who should file GSTR 9?</li>
                        </ul>
                        <p>
                            All taxpayers/taxable persons registered under GST must file their GSTR 9. However, the
                            following are NOT required to file GSTR 9:
                        </p>
                        <ul class="custom_icon_list">
                            <li>Taxpayers opting composition scheme (They must file GSTR-9A)</li>
                            <li>Casual Taxable Person</li>
                            <li>Input service distributors</li>
                            <li>Non-resident taxable persons</li>
                            <li>Persons paying TDS under section 51 of CGST Act.</li>
                        </ul>
                        <ul class="custom_list">
                            <li>What details are required to be filled in the GSTR-9?</li>
                        </ul>
                        <p>
                            The GSTR-9 is broadly divided into six parts and 19 sections. Each part asks for the details
                            that are readily available from previously filed returns and books of accounts.
                        </p>
                        <p>
                            This form asks for disclosure of annual sales, bifurcating between the cases subjected to
                            tax and those not subjected to Tax.
                        </p>
                        <p>
                            The annual value of the inward supplies and ITC availed thereon is to be revealed.
                        </p>
                        <p>
                            Further, these purchases have to be classified as inputs, input services, and capital goods.
                            Details of ITC that need to be reversed due to ineligibility are to be entered.
                        </p>
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>