<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/6.jpg);">
        <div class="auto-container">
            <h1>Upload Documents</h1>

        </div>
    </section>
    <!--End Page Title-->

    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <form [formGroup]="DocumentForm" (ngSubmit)="onSubmit()">
                        <div class="service-detail">
                            <h4 class="bus_head">Upload Documents</h4>
                            <br>

                            <div class="row" style="margin-bottom: 4px;">
                                <div class="col-md-5">
                                    <select formControlName="name" class="form-control">
                                        <option value="">Select Document Type</option>
                                        <option *ngFor="let lst of lstDoc" [value]="lst.name">{{lst.name}}</option>
                                    </select>
                                    <div *ngIf="(f.name.touched && f.name.invalid)" class="alert alert-danger">
                                        <div *ngIf="f.name.errors.required">Document Type is required.</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <input type="file" (change)="onFileChange($event)">
                                    <div *ngIf="(f.fileSource.touched && f.fileSource.invalid)"
                                        class="alert alert-danger">
                                        <div *ngIf="f.fileSource.errors.required">File is required.</div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-primary">Upload</button>
                                </div>
                            </div>




                            <!-- <div class="row col-md-12" style="text-align: center;">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div> -->
                        </div>
                    </form>
                </div>
                <br>
                <div class="col-md-12 mt-2" *ngIf="lstUploadedDoc.length>0">
                    <h3>View Uploaded Documents</h3>
                    <hr>
                </div>

                <div class="col-md-12 mt-2" style="margin-bottom: 4px;" *ngFor="let lst of lstUploadedDoc">
                    <div class="col-md-2">
                        <a href="{{DownloadPath}}/{{lst}}" target="_blank">
                            <button type="submit" class="btn btn-primary">Download</button>
                        </a>
                    </div>
                    <div class="col-md-10">
                        <a href="{{DownloadPath}}/{{lst}}" target="_blank">{{lst}}
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->

</div>