<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;Trademark Renewal</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>Trademark Renewal</span>
                            <span class="pull-right"> Rs. {{price}}</span>
                    </h3>
                      
                        <p>
                            A trademark is any unique expression related to a product or service that distinguishes it
                            from others. This expression could be a word, slogan, photograph, logo, graphic, colour
                            combination, sound or even smell.
                        </p>
                        <p>
                            A registered trademark has 10 years of validity. After that it needs renewal. You do not
                            need to worry if you forget to renew it as you will receive a prior notice at your
                            registered office regarding the renewal of your trademark. Usually, companies forget to
                            renew their trademark. So, the Registrar informs them regarding the same 6 months before
                            expiration. Still, if there is no action from your side, then Registrar issues a statement
                            which says that your trademark would be removed from Trade Marks Journal. It is a very long
                            process and takes at least 6-12 months after expiration. So before that, you can renew it by
                            just paying the amount of fine to the department.
                        </p>
                        <ul class="custom_list">
                            <li>Documents required for the Trademark Renewal</li>
                        </ul>
                        <ul class="custom_icon_list">
                            <li>A copy of the trademark registration certificate</li>
                            <li>Power of attorney to represent the applicant</li>
                            <li>Photo Id and address proof of the applicant</li>
                            <li>Copy of application form of Trademark registration</li>

                        </ul>
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>