<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;{{lst.name}}</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>GST Invoicing</span>
                            <span class="pull-right"> Rs. {{lst.price}}</span>
                        </h3>
                        <h3 class=MsoNormal>
                            <span>IndiaFiling GST Invoicing and Returns Filing Software</span>
                        </h3>
                        <ul class="custom_list">
                            <li>Learn how to create invoice as per GST invoice rules</li>
                        </ul>
                        <p>
                            Streamlined GST invoicing solutions help boost sales, reduce the outstanding receivables,
                            get deeper insights into the business, and reduce the complexities associated with GST
                            return filing.
                        </p>
                        <p>
                            Billing software with GST and all invoice features inbuilt with estimates, online statements
                            and payments, receivables management, eWay bill portal, and GST filing can completely
                            revolutionize the revenue management for small and medium-sized businesses.
                        </p>
                        <p>
                            The rollout of GST in 2017 has necessitated changes to the invoice format for millions of
                            businesses. The format for issuing the GST invoices and the related rules are laid out in
                            the GST Tax Invoice, Credit, and Debit notes rules.
                        </p>
                        <p>
                            Ledgers automatically issue GST invoice that conforms to the prescribed standards by the GST
                            rules and regulations.
                        </p>
                        <ul class="custom_list">
                            <li>RELATED GUIDES</li>
                        </ul>
                        <ul class="custom_icon_list">
                            <li>Form GSTR-1</li>
                            <li>What is Input Tax Credit?</li>
                            <li>GST invoice format and Rules</li>
                            <li>Multi - Branch GST Registration</li>
                            <li>GST turnover limit</li>
                        </ul>
                        <ul class="custom_list">
                            <li>Checklist for GST Tax Invoice Requirements</li>
                        </ul>
                        <p>
                            The GST rules and regulations, all invoices issued by any businesses under the GST should
                            contain the following information:
                        </p>
                        <ul class="custom_icon_list">
                            <li>Name, address, and GSTIN of the supplier</li>
                            <li>A consecutive serial number that does not exceed sixteen characters in one multiple
                                series contains alphabets or numerals or special characters hyphen or dash( - or / )
                                respectively and any combination thereof, unique for a financial year.</li>
                            <li>Issuing Date of the serial number</li>
                            <li>Name, address, and GSTIN or UIN, if registered, of the recipient.</li>
                            <li>Name and address of the recipient and the address of delivery, along with the state's
                                name and code, if the recipient is unregistered and where taxable value is fifty
                                thousand or more.</li>
                            <li>HSN code of goods or Accounting Code of services</li>
                            <li>Description of the goods or services</li>
                            <li>Quantity in case of goods and unit or unique quantity code thereof</li>
                            <li>The total value of the supply of goods or services or both</li>
                            <li>The taxable value of supply of goods or services or both taking into consideration the
                                discount or reduction, if any</li>
                            <li>Rate of tax (central tax, state tax, integrated tax, Union territory tax or cess)</li>
                            <li>Amount of tax charged concerning the taxable goods or services (central tax, state tax,
                                integrated tax, Union territory tax, or cess)</li>
                            <li>Place of supply along with the name of the state, in case of a supply in the course of
                                interstate trade or commerce</li>
                            <li>Address of delivery which is different from the place of supply</li>
                            <li>Whether the tax is payable on a reverse charge basis and</li>
                            <li>The signature or digital signature of the supplier or his/her authorized representative.
                            </li>
                        </ul>
                        
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>