<!-- Main Footer -->
<footer class="main-footer">
    <div class="auto-container">
    
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">
                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                        
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget about-widget">
                                <div class="footer-logo">
                                    <figure>
                                        <a href="index.html"><img src="assets/images/footer-logo.png" alt=""></a>
                                    </figure>
                                </div>
                                <div class="widget-content">
                                    <div class="text">Significantly pushed under the frugal lemur one and meretricious lucrative inside before swept magnificently expand business.</div>
                                    <ul class="social-icon-three">
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget services-widget">
                                <h2 class="widget-title">services</h2>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="#">Startups Help</a></li>
                                        <li><a href="#">Customer Insights</a></li>
                                        <li><a href="#">Advanced Analytics</a></li>
                                        <li><a href="#">Export Promotions</a></li>
                                        <li><a href="#">Business Photography</a></li>
                                        <li><a href="#">User Infographics</a></li>
                                    </ul>
                                </div>
                            </div>  
                        </div>                          
                    </div>
                </div>
                
                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                        
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget posts-widget">
                                <h2 class="widget-title">Recent Posts</h2>
                                <div class="widget-content">
                                    <div class="posts">
                                        <div class="post">
                                            <figure class="post-thumb">
                                                <img src="assets/images/resource/post-thumb1.jpg" alt="">
                                                <a href="blog-single.html" class="overlay-link">
                                                    <span class="fa fa-link"></span>
                                                </a>
                                            </figure>
                                            <div class="time">29 FEB 2018</div>
                                            <div class="desc-text">
                                                <a href="blog-single.html">We offers successful business plans</a>
                                            </div>
                                        </div>

                                        <div class="post">
                                            <figure class="post-thumb">
                                                <img src="assets/images/resource/post-thumb2.jpg" alt="">
                                                <a href="blog-single.html" class="overlay-link">
                                                    <span class="fa fa-link"></span>
                                                </a>
                                            </figure>
                                            <div class="time">29 FEB 2018</div>
                                            <div class="desc-text">
                                                <a href="blog-single.html">We have awesome coaching skills</a>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                        
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget contact-widget">
                                <h2 class="widget-title">Contact</h2>
                                <div class="widget-content">
                                    <ul class="contact-info-list">
                                        <li><i class="fas fa-map-marker-alt"></i>3571 Ringer House, Newyork, NY, 33220 USA</li>
                                        <li><i class="fas fa-phone"></i>Support: +(034) 256 7850</li>
                                        <li><i class="fas fa-envelope-open"></i>Email: info@example.com</li>
                                        <li><i class="fas fa-clock"></i>Mon - Fri: 9am to 6pm</li>
                                    </ul>
                                </div>       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--Footer Bottom-->
     <div class="footer-bottom">
        <div class="auto-container">
            <div class="copyright-text">
                <p>Copyrights &copy; 2018 <a href="index.html">ConsellPRO BUSINESS THEME</a>. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- End Main Footer -->
