<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Please wait... </p>
</ngx-spinner>
<app-header></app-header>
<form>
    <div class="accountbg" style="background: #044a75;"></div>

    <div class="wrapper-page">
        <div class="display-table">
            <div class="display-table-cell">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 col-md-offset-3">

                            <div class="card custom_card">
                                <div class="card-header">
                                    <h1 class="content__heading card-title">LogIn</h1>
                                </div>
                                <div class="card-body">
                                   
                                    <div class="px-3 pb-3">
                                        <form class="form-horizontal m-t-20 mb-0" action="">

                                            <div class="form-group" *ngIf="!IsOtpSend">
                                                <label for="txtLoginId" class="entry__label">Mobile No</label>
                                                <input name="txtLoginId" type="text" [(ngModel)]="Mobile" maxlength="10"
                                                    class="form-control" placeholder="Enter your mobile number.....">
                                            </div>

                                            <div class="form-group text-right row m-t-20" *ngIf="!IsOtpSend">
                                                <div class="col-12 m-t-30">
                                                    <button
                                                        class="btn btn-primary btn-raised btn-block waves-effect waves-light"
                                                        type="button" (click)="SendOTP()">Send OTP</button>
                                                </div>
                                            </div>
                                            <div class="form-group" *ngIf="IsOtpSend">
                                                <label for="txtPwd" class="entry__label">OTP</label>
                                                <input name="txtPwd" type="text" maxlength="6" [(ngModel)]="OTP"
                                                    class="form-control">
                                            </div>


                                            <div class="form-group text-right row m-t-20" *ngIf="IsOtpSend">
                                                <div class="col-12 m-t-30">
                                                    <button
                                                        class="btn btn-primary btn-raised btn-block waves-effect waves-light"
                                                        type="button" (click)="Login()">Log In</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>