<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1>Thank You</h1>

        </div>
    </section>
    <!--End Page Title-->

    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="service-detail">
                        <svg class="cus_svg" style="width: 7%;margin-bottom: 15px;" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                            <circle class="path circle" fill="none" stroke="#2e899e" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                            <polyline class="path check" fill="none" stroke="#2e899e" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                          </svg>
                        <h4 class="thank_bus_head">Payment has been received successfully.</h4>
                    </div>
                    <br>
                    <a href="/myServices" class="btn-sm theme-btn btn-style-one">Click here for Upload Document</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->

</div>