<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;{{lst.name}}</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">

                        <div class=WordSection1>
                            <h3 class=MsoNormal>
                                <span>Sole Proprietorship</span>
                                <span class="pull-right"> Rs. {{lst.price}}</span>
                        </h3>
                        
                          <p>A sole proprietorship (also known as individual entrepreneurship, sole trader, or simply proprietorship) is a type of an unincorporated entity that has just one owner who pays <a href="https://www.google.com/incometax">personal incometax</a> on profits earned from the business.It is the simplest legal form of a business entity.</p>
<p>In a sole proprietorship, as the owner, you have complete control over your business. You make all important decisions and are generally responsible for all day-to-day activities. In exchange for assuming all this responsibility, you get all the income earned by the business.</p>
<p>The sole proprietorship is a popular business form due to its simplicity, ease of setup, and nominal cost. A sole proprietor need only register his or her name and secure local licenses, and the sole proprietor is ready for business. The proprietor is held personally liable in case of any liabilities in a business.</p>
<p>Documents Required For Sole Proprietorship Registration In India?</p>
<p><b>To register a Sole Proprietorship the following documents are required:</b></p>
<ul class="custom_icon_list">
    <li><a href="../a53c7956-d1b7-4f64-a247-d9dd943f1eeb-3bfbab9a-2645-4e94-a0c5-f79b823982fd/google.com">Aadhar Card</a></li>
    <li><a href="../a53c7956-d1b7-4f64-a247-d9dd943f1eeb-3bfbab9a-2645-4e94-a0c5-f79b823982fd/google.com">PAN Card</a></li>
    <li><a href="../a53c7956-d1b7-4f64-a247-d9dd943f1eeb-3bfbab9a-2645-4e94-a0c5-f79b823982fd/google.com">Bank Account</a></li>
    <li><a href="../a53c7956-d1b7-4f64-a247-d9dd943f1eeb-3bfbab9a-2645-4e94-a0c5-f79b823982fd/google.com">Registered office proof</a></li>
</ul>
<p>Although sole proprietor doesn’t require any specific registrations, he is advised to obtain a few registrations to make his business function smoothly.</p>
<ul class="custom_icon_list">
    <li><a href="../a53c7956-d1b7-4f64-a247-d9dd943f1eeb-3bfbab9a-2645-4e94-a0c5-f79b823982fd/google.com">Registering as SME</a></li>
    <li><a href="../a53c7956-d1b7-4f64-a247-d9dd943f1eeb-3bfbab9a-2645-4e94-a0c5-f79b823982fd/v">Shop and Establishment Act License</a></li>
    <li><a href="../a53c7956-d1b7-4f64-a247-d9dd943f1eeb-3bfbab9a-2645-4e94-a0c5-f79b823982fd/google.com">GST Registration</a></li>
</ul>
<p>RBN TECH helps you in registering a Proprietorship in 5-7 working days.</p>

                        </div>


                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>