 <!-- Call To Action -->
 <section class="call-to-action" style="background-image: url(images/background/4.jpg);">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="title-column col-md-8 col-sm-12 col-xs-12">
                <h2>We Help Taking Your Business On Top</h2>
                <p>Since vindictively over agile the some well airy then during with excellent knowledge</p>
            </div>

            <div class="call-btn col-md-4 col-sm-12 col-xs-12">
                <a href="contact.html" class="theme-btn btn-style-one">Request a Callback</a>
            </div>
        </div>
    </div>
</section>
<!-- End Call To Action -->