<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1>Checkout</h1>

        </div>
    </section>
    <!--End Page Title-->

    <div class="checkout_page">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-12 col-sm-12 col-xs-12">
                    <h4 class="bus_head">FINANCIAL SERVICES PRIVATE LIMITED</h4>

                    <!--Sidebar Side-->

                    <div class="row">
                       
                       <div class="col-md-8">
                        <div class="card custom_card">
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <div class="cus_details">
                                            <input type="text" class="form-control" id="Username" [(ngModel)]="Username" disabled=""
                                                placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cus_details">
                                            <input type="email" class="form-control" id="email" [(ngModel)]="email" disabled=""
                                                placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-6">
                                    <div class="cus_details">
                                        <input type="text" class="form-control" id="phone" [(ngModel)]="phone" disabled=""
                                            placeholder="Phone">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cus_details">
                                        <input type="text" id="gstin" class="form-control gstin" placeholder="GSTIN">
                                    </div>
                                </div>
                                </div>
                                <form [formGroup]="form">
                                    <div>
                                        <div class="form-group cus_details">
                                            <input type="text" id="b_name" class="form-control business_name"
                                                [ngClass]="{ 'is-invalid': submitted && f.BusinessName.errors }"
                                                formControlName="BusinessName" placeholder="Business Name">
                                            <div *ngIf="submitted && f.BusinessName.errors" class="Customerror">
                                                <div>Business Name is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <div class="form-group cus_details">
                                                <select class="form-control select_state" formControlName="state" id="ddlState"
                                                    [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                                                    <option value="">Select State</option>
                                                    <option value="ANDAMAN AND NICOBAR ISLANDS">ANDAMAN AND NICOBAR ISLANDS</option>
                                                    <option value="ANDHRA PRADESH">ANDHRA PRADESH</option>
                                                    <option value="ARUNACHAL PRADESH">ARUNACHAL PRADESH</option>
                                                    <option value="ASSAM">ASSAM</option>
                                                    <option value="BIHAR">BIHAR</option>
                                                    <option value="CHHATTISGARH">CHHATTISGARH</option>
                                                    <option value="GOA">GOA</option>
                                                    <option value="GUJARAT">GUJARAT</option>
                                                    <option value="HARYANA">HARYANA</option>
                                                    <option value="HIMACHAL PRADESH">HIMACHAL PRADESH</option>
                                                    <option value="JAMMU AND KASHMIR">JAMMU AND KASHMIR</option>
                                                    <option value="JHARKHAND">JHARKHAND</option>
                                                    <option value="KARNATAKA">KARNATAKA</option>
                                                    <option value="KERALA">KERALA</option>
                                                    <option value="MADHYA PRADESH">MADHYA PRADESH</option>
                                                    <option value="MAHARASHTRA">MAHARASHTRA</option>
                                                    <option value="MANIPUR">MANIPUR</option>
                                                    <option value="MEGHALAYA">MEGHALAYA</option>
                                                    <option value="MIZORAM">MIZORAM</option>
                                                    <option value="NAGALAND">NAGALAND</option>
                                                    <option value="PUNJAB">PUNJAB</option>
                                                    <option value="RAJASTHAN">RAJASTHAN</option>
                                                    <option value="SIKKIM">SIKKIM</option>
                                                    <option value="TAMIL NADU">TAMIL NADU</option>
                                                    <option value="TRIPURA">TRIPURA</option>
                                                    <option value="UTTAR PRADESH">UTTAR PRADESH</option>
                                                    <option value="UTTARAKHAND">UTTARAKHAND</option>
                                                    <option value="WEST BENGAL">WEST BENGAL</option>
                                                    <option value="CHANDIGARH">CHANDIGARH</option>
                                                    <option value="DADRA AND NAGAR HAVELI">DADRA AND NAGAR HAVELI</option>
                                                    <option value="DAMAN AND DIU">DAMAN AND DIU</option>
                                                    <option value="DELHI">DELHI</option>
                                                    <option value="LAKSHADWEEP">LAKSHADWEEP</option>
                                                    <option value="OTHER TERRITORY">OTHER TERRITORY</option>
                                                    <option value="TELANGANA">TELANGANA</option>
                                                    <option value="ODISHA">ODISHA</option>
                                                    <option value="international">INTERNATIONAL</option>
                                                    <option value="PUDUCHERRY">PUDUCHERRY</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group cus_details last_formgrp">
                                                <select class="form-control select_country" formControlName="country"
                                                    id="ddlcountry" [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                                                    <option value="">Select Country</option>
                                                    <option value="AFGHANISTAN">AFGHANISTAN</option>
                                                    <option value="ALBANIA">ALBANIA</option>
                                                    <option value="ALGERIA">ALGERIA</option>
                                                    <option value="AMERICAN SAMOA">AMERICAN SAMOA</option>
                                                    <option value="ANDORRA">ANDORRA</option>
                                                    <option value="ANGOLA">ANGOLA</option>
                                                    <option value="ANGUILLA">ANGUILLA</option>
                                                    <option value="ANTIGUA AND BARBUDA">ANTIGUA AND BARBUDA</option>
                                                    <option value="ARGENTINA">ARGENTINA</option>
                                                    <option value="ARMENIA">ARMENIA</option>
                                                    <option value="ARUBA">ARUBA</option>
                                                    <option value="AUSTRALIA">AUSTRALIA</option>
                                                    <option value="AUSTRIA">AUSTRIA</option>
                                                    <option value="AZERBAIJAN">AZERBAIJAN</option>
                                                    <option value="BAHAMAS">BAHAMAS</option>
                                                    <option value="BAHRAIN">BAHRAIN</option>
                                                    <option value="BANGLADESH">BANGLADESH</option>
                                                    <option value="BARBADOS">BARBADOS</option>
                                                    <option value="BELARUS">BELARUS</option>
                                                    <option value="BELGIUM">BELGIUM</option>
                                                    <option value="BELIZE">BELIZE</option>
                                                    <option value="BENIN">BENIN</option>
                                                    <option value="BERMUDA">BERMUDA</option>
                                                    <option value="BHUTAN">BHUTAN</option>
                                                    <option value="BOLIVIA">BOLIVIA</option>
                                                    <option value="BOSNIA AND HERZEGOVINA">BOSNIA AND HERZEGOVINA</option>
                                                    <option value="BOTSWANA">BOTSWANA</option>
                                                    <option value="BOUVET ISLAND">BOUVET ISLAND</option>
                                                    <option value="BRAZIL">BRAZIL</option>
                                                    <option value="BRITISH INDIAN OCEAN TERRITORY">BRITISH INDIAN OCEAN TERRITORY
                                                    </option>
                                                    <option value="BRUNEI DARUSSALAM">BRUNEI DARUSSALAM</option>
                                                    <option value="BULGARIA">BULGARIA</option>
                                                    <option value="BURKINA FASO">BURKINA FASO</option>
                                                    <option value="BURUNDI">BURUNDI</option>
                                                    <option value="CAMBODIA">CAMBODIA</option>
                                                    <option value="CAMEROON">CAMEROON</option>
                                                    <option value="CANADA">CANADA</option>
                                                    <option value="CAPE VERDE">CAPE VERDE</option>
                                                    <option value="CAYMAN ISLANDS">CAYMAN ISLANDS</option>
                                                    <option value="CENTRAL AFRICAN REPUBLIC">CENTRAL AFRICAN REPUBLIC</option>
                                                    <option value="CHAD">CHAD</option>
                                                    <option value="CHILE">CHILE</option>
                                                    <option value="CHINA">CHINA</option>
                                                    <option value="CHRISTMAS ISLAND">CHRISTMAS ISLAND</option>
                                                    <option value="COCOS (KEELING) ISLANDS">COCOS (KEELING) ISLANDS</option>
                                                    <option value="COLOMBIA">COLOMBIA</option>
                                                    <option value="COMOROS">COMOROS</option>
                                                    <option value="CONGO">CONGO</option>
                                                    <option value="CONGO, THE DEMOCRATIC REPUBLIC OF THE">CONGO, THE DEMOCRATIC
                                                        REPUBLIC
                                                        OF THE
                                                    </option>
                                                    <option value="COOK ISLANDS">COOK ISLANDS</option>
                                                    <option value="COSTA RICA">COSTA RICA</option>
                                                    <option value="COTE D'IVOIRE">COTE D'IVOIRE</option>
                                                    <option value="CROATIA">CROATIA</option>
                                                    <option>CUBA</option>
                                                    <option>CYPRUS</option>
                                                    <option>CZECH REPUBLIC</option>
                                                    <option>DENMARK</option>
                                                    <option>DJIBOUTI</option>
                                                    <option>DOMINICA</option>
                                                    <option>DOMINICAN REPUBLIC</option>
                                                    <option>ECUADOR</option>
                                                    <option>EGYPT</option>
                                                    <option>EL SALVADOR</option>
                                                    <option>EQUATORIAL GUINEA</option>
                                                    <option>ERITREA</option>
                                                    <option>ESTONIA</option>
                                                    <option>ETHIOPIA</option>
                                                    <option>FALKLAND ISLANDS (MALVINAS)</option>
                                                    <option>FAROE ISLANDS</option>
                                                    <option>FIJI</option>
                                                    <option>FINLAND</option>
                                                    <option>FRANCE</option>
                                                    <option>FRENCH GUIANA</option>
                                                    <option>FRENCH POLYNESIA</option>
                                                    <option>FRENCH SOUTHERN TERRITORIES</option>
                                                    <option>GABON</option>
                                                    <option>GAMBIA</option>
                                                    <option>GEORGIA</option>
                                                    <option>GERMANY</option>
                                                    <option>GHANA</option>
                                                    <option>GIBRALTAR</option>
                                                    <option>GREECE</option>
                                                    <option>GREENLAND</option>
                                                    <option>GRENADA</option>
                                                    <option>GUADELOUPE</option>
                                                    <option>GUAM</option>
                                                    <option>GUATEMALA</option>
                                                    <option>GUINEA</option>
                                                    <option>GUINEA-BISSAU</option>
                                                    <option>GUYANA</option>
                                                    <option>HAITI</option>
                                                    <option>HEARD ISLAND AND MCDONALD ISLANDS</option>
                                                    <option>HOLY SEE (VATICAN CITY STATE)</option>
                                                    <option>HONDURAS</option>
                                                    <option>HONG KONG</option>
                                                    <option>HUNGARY</option>
                                                    <option>ICELAND</option>
                                                    <option value="INDIA">INDIA</option>
                                                    <option>INDONESIA</option>
                                                    <option>IRAN, ISLAMIC REPUBLIC OF</option>
                                                    <option>IRAQ</option>
                                                    <option>IRELAND</option>
                                                    <option>ISRAEL</option>
                                                    <option>ITALY</option>
                                                    <option>JAMAICA</option>
                                                    <option>JAPAN</option>
                                                    <option>JORDAN</option>
                                                    <option>KAZAKHSTAN</option>
                                                    <option>KENYA</option>
                                                    <option>KIRIBATI</option>
                                                    <option>KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF</option>
                                                    <option>KOREA, REPUBLIC OF</option>
                                                    <option>KUWAIT</option>
                                                    <option>KYRGYZSTAN</option>
                                                    <option>LAO PEOPLE'S DEMOCRATIC REPUBLIC</option>
                                                    <option>LATVIA</option>
                                                    <option>LEBANON</option>
                                                    <option>LESOTHO</option>
                                                    <option>LIBERIA</option>
                                                    <option>LIBYAN ARAB JAMAHIRIYA</option>
                                                    <option>LIECHTENSTEIN</option>
                                                    <option>LITHUANIA</option>
                                                    <option>LUXEMBOURG</option>
                                                    <option>MACAO</option>
                                                    <option>MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</option>
                                                    <option>MADAGASCAR</option>
                                                    <option>MALAWI</option>
                                                    <option>MALAYSIA</option>
                                                    <option>MALDIVES</option>
                                                    <option>MALI</option>
                                                    <option>MALTA</option>
                                                    <option>MARSHALL ISLANDS</option>
                                                    <option>MARTINIQUE</option>
                                                    <option>MAURITANIA</option>
                                                    <option>MAURITIUS</option>
                                                    <option>MAYOTTE</option>
                                                    <option>MEXICO</option>
                                                    <option>MICRONESIA, FEDERATED STATES OF</option>
                                                    <option>MOLDOVA, REPUBLIC OF</option>
                                                    <option>MONACO</option>
                                                    <option>MONGOLIA</option>
                                                    <option>MONTSERRAT</option>
                                                    <option>MOROCCO</option>
                                                    <option>MOZAMBIQUE</option>
                                                    <option>MYANMAR</option>
                                                    <option>NAMIBIA</option>
                                                    <option>NAURU</option>
                                                    <option>NEPAL</option>
                                                    <option>NETHERLANDS</option>
                                                    <option>NETHERLANDS ANTILLES</option>
                                                    <option>NEW CALEDONIA</option>
                                                    <option>NEW ZEALAND</option>
                                                    <option>NICARAGUA</option>
                                                    <option>NIGER</option>
                                                    <option>NIGERIA</option>
                                                    <option>NIUE</option>
                                                    <option>NORFOLK ISLAND</option>
                                                    <option>NORTHERN MARIANA ISLANDS</option>
                                                    <option>NORWAY</option>
                                                    <option>OMAN</option>
                                                    <option>PAKISTAN</option>
                                                    <option>PALAU</option>
                                                    <option>PALESTINIAN TERRITORY, OCCUPIED</option>
                                                    <option>PANAMA</option>
                                                    <option>PAPUA NEW GUINEA</option>
                                                    <option>PARAGUAY</option>
                                                    <option>PERU</option>
                                                    <option>PHILIPPINES</option>
                                                    <option>PITCAIRN</option>
                                                    <option>POLAND</option>
                                                    <option>PORTUGAL</option>
                                                    <option>PUERTO RICO</option>
                                                    <option>QATAR</option>
                                                    <option>REUNION</option>
                                                    <option>ROMANIA</option>
                                                    <option>RUSSIAN FEDERATION</option>
                                                    <option>RWANDA</option>
                                                    <option>SAINT HELENA</option>
                                                    <option>SAINT KITTS AND NEVIS</option>
                                                    <option>SAINT LUCIA</option>
                                                    <option>SAINT PIERRE AND MIQUELON</option>
                                                    <option>SAINT VINCENT AND THE GRENADINES</option>
                                                    <option>SAMOA</option>
                                                    <option>SAN MARINO</option>
                                                    <option>SAO TOME AND PRINCIPE</option>
                                                    <option>SAUDI ARABIA</option>
                                                    <option>SENEGAL</option>
                                                    <option>SEYCHELLES</option>
                                                    <option>SIERRA LEONE</option>
                                                    <option>SINGAPORE</option>
                                                    <option>SLOVAKIA</option>
                                                    <option>SLOVENIA</option>
                                                    <option>SOLOMON ISLANDS</option>
                                                    <option>SOMALIA</option>
                                                    <option>SOUTH AFRICA</option>
                                                    <option>SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</option>
                                                    <option>SPAIN</option>
                                                    <option>SRI LANKA</option>
                                                    <option>SUDAN</option>
                                                    <option>SURINAME</option>
                                                    <option>SVALBARD AND JAN MAYEN</option>
                                                    <option>SWAZILAND</option>
                                                    <option>SWEDEN</option>
                                                    <option>SWITZERLAND</option>
                                                    <option>SYRIAN ARAB REPUBLIC</option>
                                                    <option>TAIWAN, PROVINCE OF CHINA</option>
                                                    <option>TAJIKISTAN</option>
                                                    <option>TANZANIA, UNITED REPUBLIC OF</option>
                                                    <option>THAILAND</option>
                                                    <option>TIMOR-LESTE</option>
                                                    <option>TOGO</option>
                                                    <option>TOKELAU</option>
                                                    <option>TONGA</option>
                                                    <option>TRINIDAD AND TOBAGO</option>
                                                    <option>TUNISIA</option>
                                                    <option>TURKEY</option>
                                                    <option>TURKMENISTAN</option>
                                                    <option>TURKS AND CAICOS ISLANDS</option>
                                                    <option>TUVALU</option>
                                                    <option>UGANDA</option>
                                                    <option>UKRAINE</option>
                                                    <option>UNITED ARAB EMIRATES</option>
                                                    <option>UNITED KINGDOM</option>
                                                    <option>UNITED STATES</option>
                                                    <option>UNITED STATES MINOR OUTLYING ISLANDS</option>
                                                    <option>URUGUAY</option>
                                                    <option>UZBEKISTAN</option>
                                                    <option>VANUATU</option>
                                                    <option>VENEZUELA</option>
                                                    <option>VIET NAM</option>
                                                    <option>VIRGIN ISLANDS, BRITISH</option>
                                                    <option>VIRGIN ISLANDS, U.S.</option>
                                                    <option>WALLIS AND FUTUNA</option>
                                                    <option>WESTERN SAHARA</option>
                                                    <option>YEMEN</option>
                                                    <option>ZAMBIA</option>
                                                    <option>ZIMBABWE</option>
                                                    <option>SERBIA</option>
                                                    <option>ASIA PACIFIC REGION</option>
                                                    <option>MONTENEGRO</option>
                                                    <option>ALAND ISLANDS</option>
                                                    <option>BONAIRE, SINT EUSTATIUS AND SABA</option>
                                                    <option>CURACAO</option>
                                                    <option>GUERNSEY</option>
                                                    <option>ISLE OF MAN</option>
                                                    <option>JERSEY</option>
                                                    <option>KOSOVO</option>
                                                    <option>SAINT BARTHELEMY</option>
                                                    <option>SAINT MARTIN</option>
                                                    <option>SINT MAARTEN</option>
                                                    <option>SOUTH SUDAN</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="checkout_div">
                                        <button (click)="payNow();"
                                            class="btn-block theme-btn btn-style-one btn_checkout">Checkout</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                       </div>
                       <div class="col-md-4">
                        <div class="card custom_card">
                            <div class="card-body">
                                <div class="service-detail">
                            
                                    <h5 class="text-center summary_title">Order Summary</h5>
                                    <div class="order_sec">
                                        <table class="table table-stripped order_table">
                                            <tbody>
                                                <tr>
                                                    <td id="tdprice_10" data-tdprice="5988">
                                                        <p class="pdt_name">{{name}}</p>
            
            
                                                    </td>
                                                    <td class="text-right">
                                                        <p class="pdt_price_txt">INR <span
                                                                id="pdt_price_10">{{price}}</span></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="cart-product-name"><p>GST</p></td>
                                                    <td class="cart-product-name  text-right">
                                                        <span class="amount"><p>{{price*18/100}}</p></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="cart-product-name">
                                                        <p><strong>Total</strong></p>
                                                    </td>
                                                    <td class="cart-product-name text-right">
                                                        <p><span class="amount color lead"><strong>INR <span
                                                            id="total_amount">{{TotalAmount}}</span></strong></span></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="payment_txt"><p>Payment Gateway</p></td>
                                                    <td style="padding-right: 0;">
                                                        <select class="form-control form-control-sm select_payment"
                                                            id="payment_method">
                                                            <option value="ezpay">RazorPay</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                       </tbody>
                                        </table>
                                    </div>
                                   
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->

</div>