
.row-height, .col-height {
    height: 100%;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.no-padding {
    float: left;
    width: 50%;
    padding: 10px 20px;
    height: 100%;
}




.img_div {
    display: flex;
    justify-content: center;
}
.Customerror {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}



.bus_head {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
}



.summary_title {
    font-weight: 600;
}
.text-center {
    text-align: center;
}