<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;Partnership Firm Tax Return Filing</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>Partnership Firm Tax Return Filing</span>
                            <span class="pull-right"> Rs. {{price}}</span>
                    </h3>
                        <p>Partnership firms in India can be divided into two categories namely, registered partnership
                            or unregistered partnership. Registered partnership firms are those firms having a
                            registration certificate from the Registrar of Firms. All other partnerships that do not
                            have a registration certificate would be classified as an unregistered partnership firm.
                            Under Income Tax Act, a partnership firm is defined as “Persons who have entered into a
                            partnership with one another are called individually “partners” and collectively “a firm”,
                            and the name under which their business is carried on is called the “firm name”.</p>
                            <ul class="custom_list"><li>Partnership Tax Rate</li></ul>
                            
                        <p>
                            Partnership firms are liable to pay income tax at the rate of 30% of total income. In
                            addition to the income tax, a partnership firm is liable to pay income tax surcharge on the
                            amount of income tax at the rate of 12%, when total income exceeds Rs.1 crores. In addition
                            to the income tax and surcharge, a partnership firm must pay education cess and secondary
                            higher education cess.
                        </p>
                        <p>
                            Education Cess is applicable on the amount of income tax and the applicable surcharge at the
                            rate of 2%. Secondary and higher education cess is applicable on the amount of income tax
                            and the applicable surcharge at the rate of 1%.
                        </p>
                        <ul class="custom_list"><li>Alternate Minimum Tax</li></ul>
                        <p>
                            Similar to a private limited company or LLP, partnership firms are also required to pay
                            alternate minimum tax at the rate of 18.5% of “adjusted total income”. Alternate minimum tax
                            would be increased by the applicable surcharge, education cess and secondary and higher
                            education cess.
                        </p>
                        <ul class="custom_list"><li>Income Tax Calculation for Partnership Firm</li></ul>
                       
                        <p>
                            While calculating the income tax applicable for a partnership firm, it is important to note
                            that the following types of expenses paid by the partnership firm to the partners are not
                            allowed as deductions:
                        </p>
                        <ul class="custom_icon_list">
                            <li>Salary, bonus, commission or remuneration paid to non-working partners.</li>
                            <li>Remuneration or interest paid to the partners which are not in accordance with the terms
                                of the partnership deed.</li>
                            <li>If remuneration or interest paid to the partners are in accordance with the terms of the
                                partnership deed but they relate to any period prior to the date of the partnership
                                deed.</li>

                            </ul>
                        <p>In addition to the above, interest paid to partners is in accordance with the terms of the
                            partnership deed should not exceeds 12% per annum. Also, remuneration paid to partners
                            should be in accordance with the terms of the partnership deed and should not exceeds the
                            following permissible limit:</p>
                        <ul class="custom_icon_list">
                            <li>On first Rs. 3 Lakhs of book profit or in the case of loss – Rs. 1,50,000 or 90% of book
                                profit, whichever is more.</li>
                            <li>On the balance of the book profit – 60% of book profit.</li>

                            </ul>
                        <ul class="custom_list"><li>Partnership Firm Tax Return Filing</li></ul>
                      
                        <p>Partnership firms are required to file income tax return in form ITR 5. Like all other income
                            tax forms, ITR 5 is an attachment less form and there is no requirement for submitting any
                            documents or statements along with a partnership firm tax return. However, the taxpayer must
                            save all records pertaining to the business and produce the same before tax authorities when
                            requested.</p>
                            <ul class="custom_list"><li>Procedure for Filing Partnership Firm Tax Return</li></ul>
                        
                        <p>
                            Income tax return of a partnership firm can be filed online through the income tax website
                            or manually. If the income tax return is filed online, then a class 2 digital signature will
                            be required for the Partner of the firm. Also, online income tax return filing is mandatory
                            for partnership firms required to obtain an audit.
                        </p>
                        <p>
                            In case of manual filing, the assessee must print out two copies of Form ITR-V. One copy of
                            ITR-V signed by the assessee, has to be sent by ordinary post to Post Bag No. 1, Electronic
                            City Office, Bengaluru–560100 (Karnataka). The other copy should be retained by the assessee
                            for his/her record.
                        </p>
                        <ul class="custom_list"><li>Partnership Firm Tax Return Due Date</li></ul>
                       
                        <p>
                            The income tax return due date for most partnership firms is July 31 of the assessment year.
                            Partnership firms required to get its accounts audited under the income tax Act must file
                            the income tax return before the September 30th deadline.
                        </p>
                        <ul class="custom_list"><li> Audit Requirement for Partnership Firms</li></ul>
                        
                        <p>Partnership firms that conform to any of the conditions below would be required to get the
                            accounts audited:</p>
                        <ul class="custom_icon_list">
                            <li>Carrying on business and total sales exceed Rs.1 crore in the previous year.</li>
                            <li>Carrying on a profession and gross receipts in profession exceed Rs.50 lakhs in any
                                previous year.</li>

                            </ul>
                        <p>
                            In addition, there are other conditions applicable which could make an audit mandatory for a
                            partnership firm.
                        </p>
                        <p>
                            If a partnership firm entered into international transactions or specified domestic
                            transactions a report must be furnished in Form No. 3CEB under section 92E. For partnership
                            firms required to furnish Form 3CEB, the deadline for filing tax return is 30th November.
                        </p>
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>