<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;{{lst.name}}</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>Addition of New Directors</span>
                            <span class="pull-right"> Rs. {{lst.price}}</span>
                        </h3>
                        <p>
                            A Director of a Company is a person that is elected by the shareholders to manage the
                            affairs of the company as per the MOA and AOA. As the company is an artificial person it can
                            only act through the agency of a natural person. Thus, a director has to be a living person
                            and the management of the company is entrusted to its Board of Directors. The appointment of
                            the Directors can be required from time to time based on the requirements of the
                            shareholders of the business.
                        </p>
                        <ul class="custom_list">
                            <li>RELATED GUIDES</li>
                        </ul>

                        <ul class="custom_icon_list">
                            <li>How to obtain DIN?</li>
                            <li>What are articles of Association?</li>
                            <li>Guide to Annual General Meetings</li>
                        </ul>
                        <ul class="custom_list">
                            <li>How to add a Director to a Company?</li>
                        </ul>
                        <p>
                            In a Private Limited Company, the Directors of the company play a crucial role in the
                            functioning. The conduct of the business and the day-to-day decisions are made by the
                            Directors. The Directors happen to be the key people in which the shareholders of the
                            company trust to invest their money. In this article, we are going to discuss how a company
                            can legally change and have new directors on board in India.
                        </p>
                        <ul class="custom_icon_list">
                            <li>
                                <b>The first step is to obtain the consent of the proposed directors:</b> The consent of
                                the
                                proposed director is necessary, according to form DIR-2 this is a very crucial document
                                and the company is required to obtain the Form DIR-2 before proposing him to the
                                Director of the Company.
                            </li>
                            <li>
                                <b>Digital Signature Certificates of the Proposed Directors:</b> In case the proposed
                                directors
                                of the company do not have Digital signatures, they need to obtain a DSC. Apply for DSC
                                now.
                            </li>
                            <li>
                                <b>Get the Director Identification Number (DIN):</b> In case the Proposed Director does
                                not
                                have a DIN, then the company should apply for the DIN of the proposed person. This
                                resolution is to be attached to the form DIR3. This DIN that is allocated once can be
                                used for a lifetime. DIN can be obtained for any person who is above the age of 18.
                                Also, the nationality of the proposed does not matter. Hence, the Indian Nationals, Non-
                                Resident Indians, and Foreign Nationals can obtain the DIN and be appointed as Directors
                                in a Private Limited Company in India.
                            </li>
                        </ul>
                        <p>
                            The Company should obtain all the KYC Documents along with the necessary educational
                            qualifications documents as per the conditions of the job. Also, there is no minimum
                            education qualification to hold the post of Director in the Company in India.
                        </p>
                        <ul class="custom_list">
                            <li>Who is a Director in a Private Limited Company?</li>
                        </ul>
                        <p>
                            The Companies Act,2013 defines the term Director as someone who is appointed to the Board of
                            a Company. The Board of Directors is a group of those individuals who are elected by the
                            shareholders of the company to manage the affairs of the company. As a company is an
                            artificial legal person that is created by law, the company can act only through the agency
                            of natural persons. The Directors can only act through Human beings and the Directors
                            through whom the company mainly acts. The Board of Directors is that body of individuals on
                            which the management of a company is entrusted.
                        </p>
                        <p>
                            According, to the other definitions a Director is someone who administers, controls, or
                            directs something. A Director is someone who supervises, controls, or manages. He is a
                            person who is elected by the shareholders of a company to direct a company's policies; he is
                            a person appointed or elected under the law, and who is authorized to manage and direct the
                            affairs of the Company.
                        </p>
                        <h3>
                            Types of Director in Company
                        </h3>

                        <ul class="custom_list">
                            <li>Managing Director</li>
                        </ul>
                        <p>
                            A Managing Director is a director by the virtue of Articles of Association of a company
                            or an agreement with the company or a resolution passed in the general meeting or by the
                            Board of Directors. As the board of directors is entrusted with the substantial powers
                            of management of affairs of the company.
                        </p>
                        <ul class="custom_list">
                            <li>Whole-time Director or Executive Director</li>
                        </ul>
                        <p>
                            Someone who is in Full-time employment of the Company is an executive director or the whole
                            director.
                        </p>
                        <ul class="custom_list">
                            <li>Ordinary Director</li>
                        </ul>
                        <p>
                            An ordinary director is a simple director who attends the Board meetings of a company and
                            participates in the matters that are put before the Board of Directors. These Directors are
                            not whole-time Directors or Managing Directors.
                        </p>
                        <ul class="custom_list">
                            <li>Additional Director</li>
                        </ul>
                        <p>
                            An additional director is an individual that is appointed by the Board of Directors between
                            the two annual general meetings subject to the provisions of the Articles of Association of
                            a Company. The additional directors should hold office only till the date of the next annual
                            general meeting of the Company. However, the number of directors and the additional
                            directors of a company together shall not exceed the maximum strength that is fixed for the
                            Board of Directors by the Articles of Association.
                        </p>
                        <p>
                            The Board of Directors in the general meeting to act for a Director called the original
                            director during his absence for not less than three months. In most cases, the alternate
                            directors are appointed for a person who is non-resident Indian or for the foreign
                            collaborators of a company.
                        </p>
                        <ul class="custom_list">
                            <li>Professional Director</li>
                        </ul>
                        <p>
                            A professional Director is a director with professional qualifications and does not have any
                            pecuniary interest in the company. These professional Directors are sometimes appointed on
                            board to utilize their expertise in the management of the company.
                        </p>
                        <ul class="custom_list">
                            <li>Nominee Director</li>
                        </ul>
                        <p>
                            Banks and the private equity investors who provide equity assistance to a company generally
                            impose a condition to appoint their representative on the Board of the concerned company.
                            These nominated persons are called the Nominee Director.
                        </p>
                        <p>
                            In the case of a One Person Company, a nominee director is an individual who is nominated by
                            the sole Director of the One person company to take over the affairs of the OPC in case of
                            death or incapacitation of the sole director.
                        </p>
                        <ul class="custom_list">
                            <li>Maximum and Minimum Number of Directors in Private Limited Company</li>
                        </ul>
                        <p>
                            A corporate body of the business entity cannot be appointed as a Director in a private
                            limited company. Hence, only an individual can be appointed as a Director in a Company. A
                            Private Limited company can have a maximum of fifteen directors and the number of directors
                            can be increased further by passing a special resolution.
                        </p>
                        <ul class="custom_list">
                            <li>How many minimum directors can the following entities have?</li>
                        </ul>
                        <p>
                            <b>Private Limited Company-</b> Can have a minimum of two directors.
                        </p>
                        <p>
                            <b>Limited Company-</b> Minimum three directors.
                        </p>
                        <p>
                            <b>One Person Company-</b> Minimum one director.
                        </p>
                        <ul class="custom_list">
                            <li>Director in Private Limited Company – Residency Requirement</li>
                        </ul>
                        <p>
                            There is no such requirement according to the Companies Act,2013 that prohibits appointing
                            of any person who is a foreigner or the NRI as the Director of the Company. Section 149(3)
                            also provides that every company shall have at least one director who has stayed in India
                            for a total period of not less than one hundred and eighty-two days in the previous
                            calendar.
                        </p>
                        <ul class="custom_list">
                            <li>Women Director Requirement in Company</li>
                        </ul>
                        <p>
                            At least one woman director is to be appointed in case of Listed companies and limited
                            companies that have a paid-up share capital of Rs.100 crore rupees or more or turnover of
                            Rs. 300 crores.
                        </p>
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>