<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;Importer Exporter Code India</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>Importer Exporter Code India</span>
                            <span class="pull-right"> Rs. {{price}}</span>
                    </h3>
                       <ul class="custom_list">
                           <li>IEC Full Form, Eligibility, Validity, Documents Required</li>
                       </ul>
                       <p>Import Export (IE) Code India is a registration of an import and export companies with Indian
                        Custom department that import and export commodities from India. IE Code is issued by the
                        Directorate General of Foreign Trade (DGFT), Ministry of Commerce and Industries, Government
                        of India. IE Code application must be made to the Directorate General of Foreign Trade along
                        with the necessary supporting documents. Once, the application is submitted, DGFT will issue
                        the IE Code for the entity in 15 - 20 working days or less.</p>
                        <ul class="custom_list">
                            <li>Validity of IE Code</li>
                        </ul>
                       
                        <p>IE Code registration is permanent registration which is valid for a lifetime. Hence, there
                            will be no hassles for updating, filing and renewal of IE Code registration. It is valid
                            until the business exists or the registration is revoked or surrendered. Further, unlike tax
                            registrations like GST registration or PF registration, the importer or exporter does not
                            require to file any filings or follow any other compliance requirement like annual filing.
                        </p>
                        <p>As IE code registration is one-time and requires no additional compliance, it is recommended
                            for all companies and LLPs to obtain IE code after incorporation.</p>

                            <ul class="custom_list">
                                <li>IE Code Exemption</li>
                            </ul>
                        <p>An Import Export Code is required for import of any type of goods by a business. However, the following category of persons are exempted from obtaining an IE Code:</p>
                        <ul class="custom_icon_list">
                            <li>Importer and export by central Government or agencies or undertakings for defence purpose or other specified lists under Foreign Trade (exemption from the application of Rules in certain cases) Order, 1993.</li>
                            <li>Import or Export of Goods for personal use.</li>
                        </ul>
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>