<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;Provisional Patent</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span> Provisional Patent</span>
                            <span class="pull-right"> Rs. {{price}}</span>
                    </h3>
                       
                        <p>While applying for patent registration, one of the important legal documents to be filed is
                            the provisional or complete specification. Specification may be filed either as a
                            provisional or as a complete. A provisional specification is filed along with a patent
                            application if the applicant feels that the invention has reached a stage wherein it can be
                            disclosed on paper, but has not attained the final stage. Provisional specification is filed
                            along with a patent application to secure a priority date for the application over any other
                            application which could be filed in respect of the same invention being developed
                            concurrently.</p>
                        <ul class="custom_list"><li>Reason to File Provisional Specification</li></ul>
                        <p>
                            Patent application must include a complete specification which is a techno-legal document
                            that fully and in detail describes the invention and the best method of performing the
                            invention. Complete specification is an extremely important document in the patent
                            proceedings and must be drafted by an experienced Patent Attorney.
                        </p>
                        <p>
                            However, in some cases, the Inventor might feel that the invention and requirement for
                            compiling a complete specification has not yet been achieved. In such cases, a provisional
                            specification can be filed along with a patent application to secure a priority date for the
                            application. On receiving the provisional specification, the Patent office would allot a
                            filing date and application number to the patent application. However, any application
                            accompanying a provisional specification is deemed to be abandoned if no complete
                            specification is filed within twelve months from the date of filing of the provisional
                            specification.
                        </p>
                        <ul class="custom_list"><li>Contents of Provisional Specification</li></ul>
                        <p>Provisional specification should contain the title and description of the invention. All
                            provisional specification should start with a preamble “The following Specification
                            describes the invention”. The description of the invention should start from the second
                            page, starting with the field of invention and containing the background of the invention,
                            the object of the invention and statement of the invention. Claims should not be included in
                            the provisional specification, as it is normally included in the complete specification
                            only. However, it is still advisable to include as much information as the applicant has at
                            the time of filing.

                        </p>
                        <ul class="custom_list"><li>Patent Filing Procedure</li></ul>
                        <p>Patent laws in India are governed by the Indian Patent Act, 1970, which deals with the
                            registration, renewal, transfer and protection of patent rights in India. For an invention
                            to be patentable, it must be novel, have an inventive step and display industrial
                            applicability.</p>
                            <ul class="custom_list"><li>Patent Search</li></ul>
                        <p>Prior to registration of any intellectual property right like <u>trademark registration</u>
                            or
                            design registration or patent registration, it is advisable to conduct a search of the
                            public database. A patent search will help the Inventor or Patent Attorney determine the
                            novelty of the patent and its obviousness. Also, a patent search will help discover
                            inventions that are already registered, helping the Inventor better draft the patent
                            application or extend the scope of innovation to distinguish from existing inventions.</p>
                            <ul class="custom_list"><li>Patent Filing</li></ul>
                        <p>Once a patent search is completed, the patent application must be drafted by the Inventor or
                            a patent attorney. The patent application must specification, a legal document with
                            scientific information constituting patent rights. Specifications play a major role in the
                            patent application process and must be drafted by an experienced patent attorney. The
                            details of the invention must be clearly mentioned along with various features in the
                            invention. Patent specification are of two types, provisional specification and complete
                            specification:</p>
                            <ul class="custom_list"><li>Provisional Specification</li></ul>
                        <p>A provisional specification can be filed by an Inventor when the invention has reached a
                            presentable form but not the final share. A provisional specification helps to establish the
                            priority of the Inventor over any other person who is likely to file an application for the
                            same invention. On filing a provisional specification, the patent office provides a patent
                            filing date for the invention. From the date of filing provision specification, the Inventor
                            has 12 months to develop the invention and submit the complete specification. Provisional
                            specifications are first filed for patent applications and mostly contain a brief
                            description of the invention, without any claims.</p>
                            <ul class="custom_list"><li>Complete Specification</li></ul>
                        <p>After filing a provisional specification and obtaining a patent filing date, a complete
                            specification must be filed within 12 months. Any patent application for which complete
                            specification is not filed will be considered abandoned. Compete specification must contain
                            title, preamble of invention, name, address and nationality of the applicant, field of
                            invention, use of invention, prior art, problem to be solved, objectives of invention,
                            general statement of invention, full description of the invention, best method of making the
                            invention work, statement of claims, drawings and abstract. It is important that an
                            experienced patent attorney prepare the complete specification, to avoid any errors.</p>
                     
                        <ul class="custom_list"><li>Patent Publication</li></ul>
                        <p>After the filing of the patent application, if the application is accepted, the patent
                            application is published in the patent journal. Patent applications will not be published
                            for 18 months from the date of filing of the application of from the date of priority of the
                            application, whichever is earlier. However, if the patent applicant wishes to speed up the
                            process, Form-9 can be filed to request for publication at the earliest.</p>
                            <ul class="custom_list"><li>Patent Examination</li></ul>
                        <p>
                            After patent publication, a request for patent examination must be filed within 48 months of
                            the date of filing a patent application or date of priority of the application, whichever is
                            earlier. On request for examination, the patent application will be taken up by an Examiner.
                            The Patent examiner will determine if the patent application satisfies the novelty,
                            inventive step and other criteria established for granting patent registration. In case of
                            objections, the same will be raised by the Patent Examiner in the First Examination Report.
                            Response to the objection raised in the First Examination Report can be filed within 12
                            months by the patent applicant.
                        </p>
                        <ul class="custom_list"><li>Patent Registration</li></ul>
                        
                        <p>
                            On submission of a response to a First Examination Report, if the Examiner is satisfied that
                            all criteria for grant of patent are satisfied, patent registration is granted. The term of
                            validity of the patent will be 20 years from the date of filing of the patent application.
                        </p>
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>