<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;{{lst.name}}</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span> What is Partnership firm?</span>
                            <span class="pull-right"> Rs. {{lst.price}}</span>
                    </h3>
                      <p>We can define partnership as an association of two or more persons who have agreed to share the profits of a business which they run together. The persons who own the partnership business are individually called 'partners' and collectively they are called as 'firm' or 'partnership firm'.</p>
                      <ul class="custom_list">
                          <li>Name Given To The Partnership Firm</li>
                      </ul>
                      <p>Any name can be given to a partnership firm as long as you fulfill the below-mentioned conditions:</p>
                      <ul class="custom_icon_list">
                          <li>The name shouldn’t be too similar or identical to an existing firm doing the same business,</li>
                          <li>The name shouldn’t contain words like emperor, crown, empress, empire or any other words which show sanction or approval of the government.</li>

                      </ul>
                      <ul class="custom_list">
                        <li>How Should Be The Agreement Between Partners Formed?</li>
                    </ul>
                    <p>Partnership deed is an agreement between the partners in which rights, duties, profits shares and other obligations of each partner is mentioned.</p>
                    <p>Partnership deed can be written or oral, although it is always advisable to write a partnership deed to avoid any conflicts in the future.</p>
                    <ul class="custom_list">
                        <li>Following Details Are Required In A Partnership Deed:</li>
                    </ul>    
                    <p><b>General Details:</b></p>
                    <ul class="custom_icon_list">
                        <li>Name and address of the firm and all the partners</li>
                        <li>Nature of business</li>
                        <li>Date of starting of business Capital to be contributed by each partner</li>
                        <li>Capital to be contributed by each partner</li>
                        <li>Profit/loss sharing ratio among the partners</li>
                    </ul>
                    <p><b>Specific Details:</b></p>
                    <p>Apart from these, certain specific clauses may also be mentioned to avoid any conflict at a later stage:</p>
                    <ul class="custom_icon_list">
                        <li>Interest on capital invested, drawings by partners or any loans provided by partners to firm</li>
                        <li>Salaries, commissions or any other amount to be payable to partners</li>
                        <li>Rights of each partner, including additional rights to be enjoyed by the active partners</li>
                        <li>Duties and obligations of all partners</li>
                        <li>Adjustments or processes to be followed on account of retirement or death of a partner or dissolution of firm.</li>
                        <li>Other clauses as partners may decide by mutual discussion</li>
                    </ul>
                    <ul class="custom_list">
                        <li>Is It Necessary To Register A Partnership Firm?</li>
                    </ul>  
                    <p>Indian Partnership Act, 1932 governs the partnerships. Registration of partnership firm is optional and at the discretion of the partners.</p>
                    <p>Registration of partnership firm may be done at any time – before starting a business or anytime during the continuation of partnership.</p>
                    <p>It is always advisable to register the firm since a registered firms enjoy special rights which aren’t available to the unregistered firms.</p>
                    <ul class="custom_list">
                        <li>How To Register The Partnership Firm?</li>
                    </ul>  
                    <p>An application form along with fees is to be submitted to Registrar of Firms of the State in which firm is situated. The application has to be signed by all partners or their agents.</p>
                   

                    <ul class="custom_list">
                        <li>Documents To Be Submitted To Registrar Are</li>
                    </ul>  
                    <ul class="custom_icon_list">
                        <li>Application for registration of partnership (Form 1)</li>
                        <li>Specimen of Affidavit</li>
                        <li>Certified original copy of Partnership Deed</li>
                        <li>Proof of principal place of business (ownership documents or rental/lease agreement)</li>
                    </ul>
                    <p>If the registrar is satisfied with the documents, he will register the firm in Register of Firms and issue Certificate of Registration.</p>
                    
                    <p>Register of Firms contains up-to-date information on all firms and can be viewed by anybody upon payment of certain fees.</p>
                                 </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>