<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;Patent Registration</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>Patent Registration</span>
                            <span class="pull-right"> Rs. {{price}}</span>
                    </h3>
                      
                        <p>The India Patent Office (IPO) grants Patent Registration in India for Inventions. Once the
                            Patent is registered, the Applicant gets monopoly over his/her Invention for a prescribed
                            period of time (Normally twenty years from the Priority date/Patent filing date). Applicant
                            gets the sole right over the invention to exclude others from making, using, selling and
                            importing the Patent.</p>
                        <p>In order to get the <b>Patent Registration in India</b>, a specific procedure provided in the
                            Patents Act, 1970 and The Patents Rules, 2003 needs to be followed. Indian Patent Office
                            with its branch offices in Delhi, Mumbai, Kolkata, and Chennai holds the authority for
                            providing Patent Registration in India. The appropriate jurisdiction for Patent filing under
                            said branch offices is normally decided based on the Applicant’s domicile or place of
                            business or the place from where the invention actually originated. One can also file an
                            application for Patent Registration through online procedures.</p>
                        <ul class="custom_list">
                            <li>Patent Registration in India:</li>
                        </ul>
                        <p>If an Applicant is looking for Patent Registration in India, we are happy to provide you with
                            our services and help you through the Patent registration process in India. We also provide
                            assistance for international Patent registration.</p>
                            <ul class="custom_list">
                                <li>Patent Registration in India:</li>
                            </ul>
                       
                        <p>There are four main branches for Patent Registration in India. The Patent Registration
                            offices are situated at Kolkata, Delhi, Chennai and Mumbai.</p>
                        <p><b>First Step for Patent Registration in India: Filing of Patent Application in Patent
                            Registration Office, India:</b></p>
                        <p>Applying for the registration of Patent is the first step to start the process of Patent
                            Registration in India. The question then arises is, who are eligible for filing Patent
                            Application in India for Patent Registration? To answer this question, the Patent Act says
                            that Patent application for the invention may be made by <b>"True & First inventor of the
                                Invention" "Assignee of the person claiming to be the true & first inventor" "legal
                                representative of any deceased person who immediately before his death was entitled to
                                make
                                Patent application"</b> for the Patent Registration. Therefore, only defined Applicant
                            is
                            eligible for filing of Patent Application for Patent Registration in India. For Patent
                            Registration in India, Indian Patent Office accepts the prescribed Forms and documents along
                            with the Official fees as given under the First Schedule of Patents Rule.</p>

                        <p><b>Below is the prescribed Forms and documents which need to be filed in the designated Patent
                            Office along with the Official Fees for the Patent Registration:</b></p>
                        <p>The following forms are to be submitted in the Patent Registration office to complete the
                            Patent Registration process:</p>
                        <p><b>Form-1 (Application for grant of a Patent):</b> It includes the details of the
                            Inventor(s),
                            Applicant(s), type of Patent Application is filed, title of the invention, certain
                            declaration from the Applicant and signatures of the Inventor(s), Applicant(s) and
                            authorized Person.</p>
                        <p><b>Form-2 (Provisional/Complete Specification): </b>
                            It includes the information for the type of Application, the title of the invention,
                            description, claims, abstract of the invention.
                        </p>
                        <p>
                            <b>
                                Form-3 (Statement and Undertaking):
                            </b>
                            It includes a statement and undertaking on behalf of the inventor for updating the
                            Controller for any foreign filing Application filed for Patent Registration.
                        </p>
                        <p>
                            <b>
                                Form-5 (Declaration as to Inventorship):
                            </b>
                            A declaration as to Inventorship must be filed in the Patent Registration Office of India.
                        </p>
                        <p>
                            <b>
                                Form-26 (form for authorization of a Patent Agent/or any person in a matter or
                                proceeding under the Act) :
                            </b>
                            : In the case where Patent Application for Patent Registration in India is filed by Patent
                            Agent or Patent Attorney whose services are taken by the inventor(s), a form for
                            authorization must be submitted in the Patent Registration Office.
                        </p>
                        <p>Further, in the case where Patent Application for Registration in India is based on the
                            previous Patent Application filed abroad under the Convention Patent Application (as under
                            the Paris Convention) or PCT route, a Priority document must be filed along with the
                            application to the Patent Registration Office along with other required documents.
                            In the case where the previous Patent Application is in a language other than Hindi or
                            English, a Verified Translation of the same also needs to be submitted to the Indian Patent
                            Registration Office.
                        </p>
                        <p>
                            <b>
                                Form-28 (To be submitted by a small entity/start-up) :
                            </b>
                            In order to take benefit under the category of small entity/start-up, proof or evidence
                            needs to be submitted.
                        </p>
                        <p>At last, all the documents, Forms or Drawings must be signed by the authorized person or the
                            inventor.</p>
                        <p>
                            <b>Second Step for the Patent Registration Process: Publication of Patent Application in the
                                Official Gazette:</b>
                        </p>
                        <p>Once the Patent Application is filed, it will be published by the IPO after Eighteen (18)
                            months in the Official Gazette of the IPO for the Public. Publication of Patent Application
                            is an automatic process; it does not require any request from the Patent Office in India.
                            However, if one wishes to publish early, a request for early publication can be filed by the
                            Applicant to the Patent Registration Office. On filing early publication, Patent Application
                            can be published within one Month from the date of filing of the request.</p>
                            <p><b>Third Step for the Patent Registration: Filing of Request for Examination:</b></p>
                       
                        <p>There is a prescribed form and timeline for filing an application for registration of Patent.
                            The application is then examined by the authorities. The Controller examines the Patent
                            Application, only after receiving of the request for examination. Upon receiving the request
                            for examination, the Patent application is examined by the Patent Registration Office,
                            India.</p>
                        <p>
                            <b>Fourth Step for the Patent Registration: Issuance of objection(s) in the Examination Report:</b>
                        </p>
                        <p>Once the process of examination is done, the Controller either grants the Patent registration
                            or issues an examination report. The report may include certain subject matter objection or
                            procedural objection. Normally, the Applicant gets six months’ time for submitting the reply
                            of the Examination report. As a next step, if Controller gets satisfied, grants the Patent
                            else give a hearing option to the Applicant.</p>
                        <p><b>Fifth Step for the Patent Registration: Patent grant:</b></p>
                        <p>If the Patent application fulfils the prescribed criteria for a Patent Registration, it will
                            be granted by the Controller, published in the Official Gazette of the Patent Office India
                            and issue a Certificate for the Patent Registration to the Applicant.</p>
                        <ul class="custom_list">
                            <li>CONCLUSION:</li>
                        </ul>
                        <p>
                            For <u>Patent Registration in India</u>, above discussed minimum forms and prescribed fees must be
                            filed. It is also important to understand that the Patent Registration in India is a complex and
                            tedious task, each and every detail should be filed in the prescribed manner and meeting
                            timelines mandatory. It is important that each and every step also need to be followed carefully
                            and as per the directions provided by the Indian Patent Act and Rules. Therefore, it is always
                            advisable to hire or consult an experienced registered Patent Attorney/Agent for registration of
                            the Patent Application in India.
                        </p>
                        
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>