<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;Trademark Registration</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>Trademark Registration</span>
                            <span class="pull-right"> Rs. {{price}}</span>
                    </h3>
                        
                        <p>
                            A trademark is a visual symbol that can be a word, name, numbers, label, color combination,
                            etc, which is used by businesses to distinguish it’s services or products from other same
                            goods or services which are manufactured in different businesses. Trademarks in India are
                            listed by the Controller General of Patents Designs and Trademarks, Ministry of Commerce and
                            Industry, Government of India. Trademarks are registered under the Trademark Act, 1999 and
                            give the trademark owner the power to sue for losses when infringements of trademarks
                            happen. Registered trademarks are intellectual property for the business, they are used to
                            safeguard the company’s investment in the brand or symbol. It is mandatory for a company to
                            register it’s chosen Trademark as it will act as a unique symbol for the products and
                            services you provide.
                        </p>
                        <p>
                            Proposed trademarks that are the same or identical to an existing registered trademark
                            cannot be registered. Moreover, a trademark is not registrable if it is offensive, general,
                            unreliable, not unique, includes specifically protected emblems, etc.
                        </p>
                        <p>
                            Once the trademark registration process is done, the R symbol can be applied and the
                            registration will become valid for 10 years. Registered trademarks nearing expiry can be
                            regularly renewed, by filing a trademark renewal application for a time of another 10 years.
                        </p>
                        <p>
                            Trademark Registration is done through LegalRaasta in Delhi NCR, Mumbai, Bengaluru, Chennai
                            & all other Indian cities. Offering a quality of trademark services like trademark filing,
                            trademark search, trademark renewal, and patent registration, etc.
                        </p>
                        <ul class="custom_list">
                            <li>What can be registered as a trademark?</li>
                        </ul>
                        <p>
                            <b>Name</b>
                        </p>
                        <p>
                            A name which can either personal in nature or can be the surname of the applicant e.g, the
                            name Dhirubhai Ambani can be trademarked.
                        </p>
                        <p>
                            <b>Word</b>
                        </p>
                        <p>
                            A word that is not being directly descriptive of the character or quality of the
                            goods/service. For example, Google is a word that has been trademarked.
                        </p>
                        <p>
                            <b>Number</b>
                        </p>
                        <p>
                            Alphanumeric or Letters or numerals or any combination thereof. For example 555 brands.
                        </p>
                        <p>
                            <b>Images</b>
                        </p>
                        <p>
                            Image, symbol, monograms, 3-dimensional shapes, letters, etc. For example the tick in the
                            Nike logo.
                        </p>
                        <p>
                            <b>Sound</b>
                        </p>
                        <p>
                            Sound marks in audio format. Forex the sound in the ad jingle
                        </p>
                        <p>
                            Except these, the other things which can be trademarked are an invented word or any
                            arbitrary dictionary word or words, letters or numerals, devices which may include fancy
                            devices or symbols, monograms, a combination of colors or a single color in combination with
                            a word or device, the shape of goods or their packaging, 3- dimensional sign, slogans and
                            phrase, logo, graphic content, etc.
                        </p>
                        <ul class="custom_list">
                            <li>Who can all apply for a Trademark?</li>
                        </ul>
                        <p>
                            In context to the trademark rules and regulations in India, things like sound, logo, words,
                            phrases, colors, images, symbols, initials, or a mixture of all these can be registered as a
                            trademark.
                        </p>
                        <ul class="custom_list">
                            <li>A trademark application can be made by:</li>
                        </ul>
                        <ul class="custom_icon_list">
                            <li>Private firms</li>
                            <li>Individuals</li>
                            <li>Companies- Limited Liability Partnership, OPC, Private limited, Public, Partnership,
                                etc.</li>
                            <li>NGO’s</li>

                        </ul>
                        <p>
                            <b>Note: </b>
                            In the case of NGOs and LLP companies the trademark has to be applied for registration in
                            the name of the concerned business or a company.
                        </p>
                        <p>
                            Any person, pretending to be the proprietor of a trademark used or intended to be applied by
                            him, may apply in writing in a prescribed manner for registration. The application must
                            include the trademark, the goods or services, name and address of the candidate with power
                            of attorney, the time of use of the mark. The application must be in English or Hindi. It
                            must be registered at the appropriate office.
                        </p>

                        <p>
                            The applications can be submitted individually at the Front Office Counter of the particular
                            office or can be sent by post.
                        </p>
                        <ul class="custom_list">
                            <li>What documents are required for registering a Trademark?</li>
                        </ul>
                        <p>
                            Registering a Trademark is simple, and the process can be completed online within 24 hours.
                            IndiaFilings has helped over fifty thousand trademark applicants to get their Trademark
                            registered.
                        </p>
                        <p>
                            Here is the set of documents that need to be signed and sent for the online Trademark
                            registration :
                        </p>
                        <ul class="custom_icon_list">
                            <li>PAN</li>
                            <li>Passport</li>
                            <li>Aadhar Card.</li>
                            <li>Incorporation certificate (In case of a Company or LLP)</li>
                            <li>Udyog Aadhar Registration</li>
                            <li>Logo if applicable and available</li>
                            <li>Address proof.</li>
                        </ul>
                        <ul class="custom_list">
                            <li>Process to Apply TM</li>
                        </ul>
                        <ul class="custom_icon_list">
                            <li>Firstly you need to gather all the Documents which is required for Registration.</li>
                            <li>Then decide upon your Brand Name.</li>
                            <li>Then put that Brand Name in Public search module and then check whether that name is
                                available.</li>
                            <li>Once you have check its name and classify its class then you are ready to file with the
                                application online.</li>
                            <li>Online Registration of the Brand Name requires Digital Signature of the Attorney or f
                                Agents.</li>
                            <li>Then file and submit the Application, and it will end up with the IP Department.</li>
                            <li>Then they will check your Application and Brand Name that whether it is truly available.
                            </li>
                            <li>Once the Application is accepted by the department then it will get published inside the
                                journal.</li>
                            <li>Then the name will remain in the journal for 3 months and if no opposition comes then it
                                will automatically get registered.</li>

                        </ul>
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>