<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;{{lst.name}}</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>ESI registration</span>
                            <span class="pull-right"> Rs. {{lst.price}}</span>
                        </h3>
                        <ul class="custom_list">
                            <li>What is ESI registration?</li>
                        </ul>
                        <p>
                            The employee state insurance (ESI) is managed and regulated by the Employee State Insurance
                            Corporation which is an autonomous body under the Ministry of Labour and Employment,
                            Government of India. The ESI scheme was started for the Indian Employees that provided
                            monetary, medical, and other benefits from the employer to the employee.
                        </p>
                        <p>
                            Currently any factor or employment or any establishment that has employed over 10 employees
                            with a minimum salary of Rs. 21,000 has to mandatorily register itself with the ESIC.
                        </p>
                        <h3>
                            Eligibility
                        </h3>
                        <ul class="custom_list">
                            <li>Who is eligible to obtain ESI registration in India?</li>
                        </ul>
                        <p>
                            To be eligible for ESI registration is to have more than 10 workers. In some regions, ESI
                            registration is possible for establishments only if there are more than 20 employees. Here
                            are some other criteria that need to be satisfied for obtaining ESI registration.
                        </p>
                        <ul class="custom_icon_list">
                            <li>An employee whose gross salary is up to Rs. 21,000 per month can avail of this with the
                                help of the employer.</li>
                            <li>The establishment is registered with the EPFO.</li>
                            <li>The total contribution to ESI is 6.5% of the gross salary and it can be further divided
                                as:
                                <ul class="custom_icon_list">
                                    <li>4.75% by the employer</li>
                                    <li>1.75% of the employee</li>
                                </ul>
                            </li>

                            <li>For industrial units where there are chances of occurrence of injury or health issues
                                all the employees with a salary less than Rs.21,000 compulsorily need to get ESI
                                registration.</li>
                        </ul>

                        <ul class="custom_list">
                            <li>RELATED GUIDES</li>
                        </ul>

                        <ul class="custom_icon_list">
                            <li>Employees Compensation Act</li>
                            <li>Requirements for operating commercial spaces</li>
                            <li>Benefits of ESI registration</li>
                        </ul>

                        <ul class="custom_list">
                            <li>Documents required for obtaining ESI registration</li>
                        </ul>
                        <p>
                            For obtaining ESI registration in India here is the list of documents that is to be
                            submitted by the employer along with the application:
                        </p>
                        <ul class="custom_icon_list">
                            <li>Registration Certificate of the Shops and Establishment Acts.</li>
                            <li>Factories Act</li>
                            <li>Address proof of Principal place of business</li>
                            <li>Copy of PAN Card</li>
                            <li>Bank statement (Latest)</li>
                            <li>Memorandum and Articles of Association or the partnership deed or trust deed depending
                                on the nature of the entity.</li>
                            <li>Certificate of Commencement registration no</li>
                        </ul>
                        <p>The monthly pay sheet is also required for computing the contribution amount for each
                            employee for ESI filings.</p>
                        <ul class="custom_list">
                            <li>Definition of Factory under ESI Act</li>
                        </ul>
                        <p>
                            A Factory is any premise where ten or more than ten persons are employed or were employed
                            for wages on any day of the preceding twelve months, and, in any part of which a
                            manufacturing process is being carried with or without the aid of power. In case within the
                            same premises of a factory, several departments are situated and the departments are engaged
                            in the work in connection with or incidental to a manufacturing process of the factory, they
                            would fall apart from the factory.
                        </p>
                        <p>
                            This definition of a factory under the ESI includes a seasonal factory that is working for a
                            period of not exceeding seven months in a year and is engaged during that period in any
                            process related to blending, packing, or repacking of tea or coffee or other manufacturing
                            processes that are process notified by the central government.
                        </p>
                        <p>
                            Mines are not included in this definition under the definition, subject to the operation of
                            Mines Act,2952 or a railway running shed.
                        </p>
                        <p>
                            Hence, if the number of persons working in the factory premises is ten or more the premise
                            is factory irrespective of the consideration of whether they are paid wages or not. Also,
                            all people working in the factory need not be employed in the manufacturing process.
                        </p>
                        <ul class="custom_list">
                            <li>Definition of Establishment under ESI Act</li>
                        </ul>
                        <p>
                            Under the ESI Act, an establishment is an organized body of men or women or an institution,
                            It is not necessary for an establishment confined to a particular premise or place. If an
                            establishment employs 20 or more persons, it will be required to obtain ESI registration in
                            India. Hence, the establishments employing less than 20 employees who are drawing less than
                            Rs.21,000 a month as a wage should not get ESI registration.
                        </p>
                        <p>
                            Shops must also be registered under the ESI Act. The supreme court has defined a shop as any
                            premises where economic activities leading to sale or purchase are carried on. Thus, the
                            essential ingredient for determining a shop is that services are rendered to the customer.
                            So service providers like advertisement agencies, liaison offices, consultancy services,
                            real estate services will need to get ESI registration in India.
                        </p>
                        <p>
                            In this educational institution, hospitals, dispensaries, offices of auditors and
                            solicitors, chartered accountants, and private commercial hospitals are excluded.
                        </p>
                        <h3>Benefits of ESI registration in India</h3>
                        <ul class="custom_list">
                            <li>What are the advantages of getting ESI registration in India?</li>
                        </ul>
                        <p>
                            ESI registration allows the employees to enjoy a lot of benefits under the Employees State
                            Insurance corporation scheme.
                        </p>
                        <ul class="custom_icon_list">
                            <li>
                                <b>Medical Aid-</b> From the very first day of employment the registered ESI members and
                                the
                                family members enjoy the benefits of complete medical care and insurance. Retired
                                members and permanently disabled insured persons and their spouses can also avail
                                medical care on payment of an annual premium of Rs.120.
                            </li>
                            <li>
                                <b>Maternity benefit-</b> Pregnant women can avail of maternity benefits that are
                                payable up to
                                twenty-six weeks. This maternity leave period can be extended on medical advice by 30
                                days at the rate of full wage subject to contribution for 70 days in the preceding year.
                            </li>
                            <li>
                                <b>Disablement benefit-</b> From the day of the employees irrespective of having done
                                any
                                contribution, 90% of the wage is payable as long as the temporary disability continues.
                                Permanent disablement benefit is payable at 90% of the wage as a monthly payment.
                            </li>
                            <li>
                                <b>Sickness benefits-</b> Absent at work due to illness is allowed for a maximum of 91
                                days per
                                year along with 70% of the monthly wages.
                            </li>
                            <li>
                                <b></b>Dependent benefits- In case of the sudden demise of an employee during the
                                employment,
                                the dependents of the deceased employee will receive 90% of his or her monthly salary.
                            </li>
                            <li>
                                <b>Funeral expenses-</b> The family members of the deceased employees are entitled to an
                                additional amount of Rs.10,000 for the funeral expenses.
                            </li>
                            <li>
                                <b>Confinement expenses-</b> Confinement expenses can be availed in case of confinement
                                of an
                                insured woman or wife of the employee with no medical facilities under the ESI scheme.
                            </li>
                        </ul>
                        <ul class="custom_list">
                            <li>Here are some need-based benefits:</li>
                        </ul>

                        <ul class="custom_icon_list">
                            <li>
                                <b>Vocational Rehabilitation:</b> Permanently physically challenged employees who are
                                insured
                                are entitled to vocational rehabilitation training at VRS.
                            </li>
                            <li>
                                <b>Physical Rehabilitation:</b> Can be availed by the employees in case of physical
                                disablement
                                or injury or hazards due to employment.
                            </li>
                            <li>
                                <b>Old Age Medical Care:</b> By the annual payment of Rs.120 medical care benefits can
                                be
                                availed for the ESI employees or for those who are opting for VRS/ERS. The members who
                                retiring on account of permanent disability can also avail themselves the same.
                            </li>
                            <li>
                                <b>Extended Sickness Benefits:</b> Insured employees who are suffering from chronic
                                diseases
                                can avail of the extended sickness benefit up to 2 years, the sick leave of 91 days
                                should be expired.
                            </li>
                            <li>
                                <b>Enhanced Sickness Benefit:</b> Enhanced sickness benefit was an encouragement measure
                                for
                                ESI employees to undergo vasectomy or tubectomy for the welfare of the family. Extension
                                of this benefit can be availed in case there are post-operative complications.
                            </li>
                        </ul>
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>