<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;Trademark Objection</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>Trademark Objection</span>
                            <span class="pull-right"> Rs. {{price}}</span>
                    </h3>
                      
                        <p>
                            A trademark is any unique expression related to a product or service that distinguishes it
                            from others. This expression could be a word, slogan, photograph, logo, graphic, colour
                            combination, sound or even smell.
                        </p>
                        <p>
                            But due to some valid reasons, trademark offices can have objections on any trademark
                            application which does not meet their legal norms. There can be many reasons for trademark
                            objection. It can be due to the similarity between logo or word with any existing one. It
                            may be due to the sentiments attached with any religion. These are few reasons which can
                            lead to trademark objection. If you receive any objection like this from another party, then
                            you need to respond back within a month, that is within 30 days. You will receive a proper
                            legal objection letter from Trademark department. But if you still don’t take any steps,
                            then the Registrar has the full rights to abandon the application.
                        </p>
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>