p{
    text-align: justify;
    margin-bottom: 8px;
}

ul, ol, li {
    list-style: unset;
    padding: 0px;
    margin: 15px;
text-align: justify;
}
table, th, td {
    border: 1px solid black;
  }

  .price
{
    font-size: 18.0pt;
  
    float: right;
    margin-bottom: 0;
    margin-top: -26px;
    text-align: right;
}