<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;{{lst.name}}</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>Employee Provident Fund</span>
                            <span class="pull-right"> Rs. {{lst.price}}</span>
                        </h3>
                        <p>
                            Employees Provident Fund is a scheme for the Indian Employees that is controlled by the
                            Provident Funds and Miscellaneous Provisions Act,1952. The Employee Provident Fund is
                            regulated under the umbrella of Employees Provident Fund Organization popularly known as
                            EPFO.
                        </p>
                        <p>
                            All establishments that have employed 20 or more than 20 employees can apply for PF
                            registration in India. In some cases subject to the circumstances and the exemption
                            establishments employing less than 20 are still eligible for PF registration. The Employee
                            gets an amount that includes the self and employer’s contribution with interest on
                            retirement or resignation.
                        </p>
                        <ul class="custom_list">
                            <li>RELATED GUIDES</li>
                        </ul>
                        <ul class="custom_icon_list">
                            <li>How to transfer EPF account?</li>
                            <li>IEPF Rules 2019</li>
                            <li>Reduction in rate of EPF and impact</li>
                            <li>How to check PF balance?</li>
                        </ul>
                        <h3>
                            Who is eligible to get EPF registration?
                        </h3>
                        <ul class="custom_list">
                            <li>For Employer</li>
                        </ul>
                        <p>
                            PF Registration is mandatory for all the establishments-
                        </p>
                        <ul class="custom_icon_list">
                            <li>That has engaged 20 or more than 20 people.</li>
                            <li>For any other establishment that has less than 20 people then the central government has
                                to specify the same in the notification on the behalf.</li>
                        </ul>
                        <ul class="custom_list">
                            <li>For Employee</li>
                        </ul>
                        <p>
                            Employees drawing less than Rs.15000 per month need to mandatorily become members of the
                            EPF. According to the guidelines, employees whose basic pay is more than Rs. 15000 a month
                            at the time of joining are not required to make any PF contributions.
                        </p>
                        <p>
                            But an employee who is drawing pay of more than Rs.15,000 can still be a member and make
                            contributions with the employer and the Assistant PF commissioner.
                        </p>
                        <ul class="custom_list">
                            <li>The amount for the contribution of PF</li>
                        </ul>
                        <p>
                            The employer has to obtain the PF registration within 1 month of attaining the strength, in
                            case of failure to abide by applicable penalties. A registered establishment continues under
                            the purview of the Act even in case the No of employees falls below the required limit.
                        </p>
                        <p>
                            The employer has to contribute 12% of the (Basic Salary + Dearness Allowance + Retaining
                            Allowance). An equal amount of contribution is to be made by the employee. If the
                            establishment has engaged less than 20 employees the EPFO rules state that the contribution
                            rate for both the employees and the employer is limited to 10 %. In most cases the employees
                            who are employed in the private sector it is on the basic salary on which the whole
                            contribution is calculated.
                        </p>
                        <ul class="custom_list">
                            <li>The breakup of the PF contribution</li>
                        </ul>
                        <ul class="custom_icon_list">
                            <li>The 12 % contribution is divided into the following subdivision:</li>
                            <li>3.67% of the contribution towards the Employees Provident Fund</li>
                            <li>1.1% of the contribution towards the EPF administration Charges</li>
                            <li>0.5% of the contribution towards the employee's deposit linked insurance</li>
                            <li>0.01% contribution towards the EDLI administration charges</li>
                            <li>8.33% towards the Employees Pension Scheme.</li>
                        </ul>
                        <ul class="custom_list">
                            <li>What is the Employees Pension Scheme?</li>
                        </ul>
                        <p>
                            8.33% of the employer’s contribution is routed towards the Employees Pension Scheme that is
                            calculated at Rs.15,000. The amount routed to the Employee Pension Scheme would be Rs.1250
                            in case the basic pay of the person is Rs.15,000. If the Basic Pay is less than Rs.15,000
                            then 8.33% of the amount will be routed and the balance will be retained in the EPF scheme.
                            On superannuation, the employee would receive the full share with the employer's share
                            reserved for credit in the EPF account.
                        </p>
                        <ul class="custom_list">
                            <li>Documents Required for Registration</li>
                        </ul>
                        <p>
                            The employer has to attach the following documents with the registration form:
                        </p>
                        <ul class="custom_icon_list">
                            <li>PAN of the Partner, Proprietor, or the Director</li>
                            <li>Address proof (can be any utility bill but should not be older than 2 months)</li>
                            <li>Aadhar card of Proprietor, Partner, or Director.</li>
                            <li>Cancelled Cheque Or Bank Statement</li>
                            <li>Digital Signature of the Proprietor/ Partner or Director.</li>
                            <li>Hired/ Rented or Leased Agreement If there is any.</li>
                        </ul>
                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>