<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    <!--End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/consulting.jpg);">
        <div class="auto-container">
            <h1><span>Service:</span> &nbsp;{{lst.name}}</h1>
            <p>We are offering wide range of services to our clients</p>
        </div>
    </section>
    <!--End Page Title-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-md-8 col-sm-12 col-xs-12">
                    <div class="service-detail">
                        <h3 class=MsoNormal>
                            <span>GST Registration</span>
                            <span class="pull-right"> Rs. {{lst.price}}</span>
                        </h3>
                        <p>
                            GST is the product of the biggest tax reform in India which has tremendously improved ease
                            of doing business and increasing the taxpayer base in India by including millions of small
                            businesses. Tax complexities would be reduced due to the abolishing and subsuming of
                            multiple taxes into a single, simple system.
                        </p>
                        <p>
                            The new GST regime mandates that all entities involved in buying or selling goods or
                            providing services or both are required to register and obtain GSTIN. Registration is
                            mandatory once the entity crosses a minimum threshold turnover or when an individual starts
                            a new business that is expected to cross the prescribed turnover.
                        </p>
                        <h3 class=MsoNormal>
                            <span>Eligibility</span>
                        </h3>
                        <ul class="custom_list">
                            <li>Aggregate turnover</li>
                        </ul>
                        <p>
                            Any service provider who provides a service value of more than Rs. 20 Lakhs aggregate in a
                            year is required to obtain GST registration. In the special category states, this limit is
                            Rs. 10 lakhs. Any entity engaged in the exclusive supply of goods whose aggregate turnover
                            crosses Rs.40 lakhs is required to obtain GST registration.
                        </p>
                        <ul class="custom_list">
                            <li>Inter-state business</li>
                        </ul>
                        <p>
                            An entity shall register for GST if they supply goods inter state, i.e., from one state to
                            another irrespective of their aggregate turnover. Inter state service providers need to
                            obtain GST registration only if their annual turnover exceeds Rs. 20 lakhs. (In special
                            category states, this limit is Rs. 10 lakhs).
                        </p>
                        <ul class="custom_list">
                            <li>E-commerce platform</li>
                        </ul>
                        <p>
                            Any individual supplying goods or services through an e-commerce platform shall apply for
                            GST registration. The individual shall register irrespective of the turnover. Hence, sellers
                            on Flipkart, Amazon and other e-commerce platforms must obtain registration to commence
                            activity.
                        </p>
                        <ul class="custom_list">
                            <li>Casual taxable persons</li>
                        </ul>
                        <p>
                            Any individual undertaking supply of goods, services seasonally or intermittently through a
                            temporary stall or shop must apply for GST. The individual shall apply irrespective of the
                            annual aggregate turnover.
                        </p>
                        <ul class="custom_list">
                            <li>Voluntary registration</li>
                        </ul>
                        <p>
                            Any entity can obtain GST registration voluntarily. Earlier, any entity who obtained GST
                            voluntarily could not surrender the registration for up to a year. However, after revisions,
                            voluntary GST registration can be surrendered by the applicant at any time.
                        </p>
                        <h3>
                            The types of GST registration varies depending on the kind of business undertaken and the
                            supply location of goods or services.
                        </h3>
                        <ul class="custom_list">
                            <li>Normal scheme</li>
                        </ul>
                        <p>
                            This category applies to taxpayers operating a business in India. Taxpayers registering
                            under the normal scheme do not require a deposit and are also provided with unlimited
                            validity date.
                        </p>

                        <ul class="custom_list">
                            <li>Non-resident taxable person</li>
                        </ul>
                        <p>
                            The category applies to individuals located outside of India. The taxpayers should supply
                            goods or services to residents in India. The registration remains active for a period of 3
                            months.
                        </p>
                        <ul class="custom_list">
                            <li>Casual taxable person</li>
                        </ul>
                        <p>
                            Any taxpayer establishing a stall or a seasonal shop has to register under the casual
                            taxable person scheme. To register as a casual taxable person, the taxpayer shall pay a
                            deposit equal to the amount of GST liability. The registration remains active for a period
                            of 3 months.
                        </p>
                        <ul class="custom_list">
                            <li>Composition scheme</li>
                        </ul>
                        <p>
                            An entity should enrol under the GST composition scheme to register as a composition
                            taxpayer. Any taxpayer whose turnover is less than rs. 1.5 Crore can avail this facility.
                            Entities enrolled under this scheme can pay a flat GST rate. However, they will not be
                            allowed to claim input tax credit.
                        </p>
                        <h3>
                            The following documents must be submitted by regular taxpayers applying for GST
                            registration.
                        </h3>
                        <ul class="custom_list">
                            <li>PAN card of the business</li>
                        </ul>
                        <p>
                            GST registration is linked to the PAN of the business. Hence, PAN must be obtained for the
                            legal entity before applying for GST Registration.
                        </p>
                        <ul class="custom_list">
                            <li>Identity proof along with photographs</li>
                        </ul>
                        <p>
                            PAN, passport, driving license, aadhar card or voter’s identity card can be submitted as
                            identity proof. Photographs of the promoters/ proprietors also need to be submitted.
                        </p>
                        <ul class="custom_list">
                            <li>Address proof of promoter</li>
                        </ul>
                        <p>
                            Documents like passport, driving license, aadhaar card, voters identity card and ration card
                            can be submitted as address proof.
                        </p>
                        <ul class="custom_list">
                            <li>Business registration document</li>
                        </ul>
                        <p>
                            Proof of business registration must be submitted for all types of entities. There is no
                            requirement of submitting this document for a proprietorship as the proprietor and the
                            entity are essentially considered the same. In case of a partnership firm, the partnership
                            deed must be submitted. In case of LLP or Company, the incorporation certificate from MCA
                            must be submitted. The other types of entities like society, trust, club, government
                            department or body of individuals must provide the registration certificate.
                        </p>
                        <ul class="custom_list">
                            <li>Business location proof</li>
                        </ul>
                        <p>
                            Address proof must be provided for all places of businesses mentioned in the GST
                            registration application. The following documents are acceptable as address proof for GST
                            registration.
                        </p>
                        <ul class="custom_icon_list">
                            <li><b>Own property-</b> Any document in support of the ownership of the premises like the
                                latest property tax receipt or the municipal khata copy or copy of the electricity bill.
                            </li>
                            <li><b>Rented or leased property-</b> A copy of a valid rental agreement with any document
                                in support of the ownership of the premises of the lessor like the latest property tax
                                receipt or the municipal khata copy or copy of the electricity bill. If the rental
                                agreement or lease deed is not available, then an affidavit to that effect along with
                                any document in support of the possession of the premises like copy of electricity bill
                                is acceptable.</li>
                            <li><b>SEZ premises-</b> If the principal place of business is located in an SEZ or the
                                applicant is an SEZ developer, necessary documents/certificates issued by the government
                                of India are required to be uploaded.</li>
                            <li><b>All other cases-</b> A copy of the consent letter of the owner of the premises with
                                any document in support of the ownership of the premises of the consenter like the
                                municipal khata copy or the electricity bill copy. The same documents can be uploaded
                                for shared property as well.</li>
                        </ul>

                    </div>

                </div>

                <!--Sidebar Side-->
                <app-sidebar-side></app-sidebar-side>
            </div>
        </div>
    </div>
    <!-- End Sidebar Container -->


</div>